<div class="border border-default-200 rounded-md p-6 mb-10">
    <div class="pb-4">
        <h5 class="md:text-2xl text-xl">Promo code</h5>
        <form class="flex items-center gap-1 mt-6">
            <input type="email" placeholder="Type here.." class="border border-default-200 rounded py-2 px-4 lg:w-60 w-full" />
            <button class="py-2 px-4 bg-dark hover:bg-dark-hover text-white rounded">Apply</button>
        </form>
    </div>

    <div class="mt-2 pb-4">
        <ul class="space-y-2.5">
            <li class="flex justify-between items-center">
                <span>Subtotal</span>
                <span class="font-semibold text-default-800">$473.00</span>
            </li>

            <li class="flex justify-between items-center">
                <span>Service Charge</span>
                <span class="font-semibold text-default-800">-$50</span>
            </li>

            <li class="flex justify-between items-center">
                <span>Tax</span>
                <span class="font-semibold text-default-800">$10</span>
            </li>
        </ul>
    </div>

    <div class="border-t border-default-200 pt-4 mb-6">
        <div class="flex justify-between items-center">
            <span class="font-medium text-default-800">Payable Now</span>
            <span class="text-xl font-bold text-default-800">$410.00</span>
        </div>
    </div>

    <div class="w-full">
        <a href="#" class="py-3.5 px-6 bg-primary hover:bg-primary-hover transition-all text-white rounded-md font-medium block text-center">Place order</a>
    </div>
</div>

<div class="py-5 border-b border-default-200">
    <h6 class="text-xl">Arrives by Wed, Jan 25</h6>
</div>

<div class="pt-5">
    <div class="flex items-center gap-4 pb-6 mb-6 border-b border-default-200">
        <div class="bg-default-100 p-2 rounded">
            <img src="/images/shop/02.png" class="lg:w-22.5 md:w-38 w-21.5" />
        </div>

        <div>
            <div class="mb-2">
                <a href="#" class="font-semibold hover:text-primary transition-all text-default-800">Round neck cotton t-shirt</a>
            </div>
            <ul class="space-y-1.5">
                <li class="text-sm">Item: #2458644</li>
                <li class="text-sm">Color: Midblue</li>
                <li class="text-sm">Size: L</li>
            </ul>
        </div>
    </div>

    <div class="flex items-center gap-4 pb-6 mb-6 border-b border-default-200">
        <div class="bg-default-100 p-2 rounded">
            <img src="/images/shop/08.png" class="lg:w-22.5 md:w-38 w-21.5" />
        </div>

        <div>
            <div class="mb-2">
                <a href="#" class="font-semibold hover:text-primary transition-all text-default-800">Mizz dunk low shoes</a>
            </div>

            <ul class="space-y-1.5">
                <li class="text-sm">Item: #2458644</li>
                <li class="text-sm">Size: 42</li>
            </ul>
        </div>
    </div>
</div>