<app-breadcrumb [title]="['Blog']" pageTitle="Blog single sidebar"  />

<h1 class="lg:text-[45px] md:text-4xl text-3xl mt-2">The Power of Gratitude: Cultivating Joy and Abundance</h1>

<div class="flex flex-wrap items-center mt-4 md:gap-1">
    <div class="inline-block bg-dark text-white text-xs font-medium px-3 py-1 rounded">Lifestyle</div>

    <span class="text-default-600 opacity-30 mx-4">|</span>

    <div class="hs-dropdown [--auto-close:inside] relative inline-flex">
        <button id="hs-dropdown-default" type="button" class="hs-dropdown-toggle flex items-center gap-2 text-default-400 hover:text-primary transition-all" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            <lucide-icon name="share-2" class="size-4"></lucide-icon>
            14
        </button>

        <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 bg-body-bg shadow-xl rounded-md px-2.5 py-3 border border-default-200" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-default">
            <div class="space-y-0.5">
                <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                    <lucide-icon name="facebook" class="fill-default-500 text-default-600 size-4 group-hover:fill-primary group-hover:text-primary"></lucide-icon>
                    Facebook
                </a>

                <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                    <lucide-icon name="instagram" class="text-default-600 size-4 group-hover:text-primary"></lucide-icon>
                    Instagram
                </a>

                <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                    <iconify-icon icon="tabler:brand-whatsapp" class="text-default-600 size-4.5 group-hover:text-primary"></iconify-icon>
                    Whatsapp
                </a>

                <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                    <lucide-icon name="copy" class="text-default-600 size-4 group-hover:text-primary"></lucide-icon>
                    Facebook
                </a>
            </div>
        </div>
    </div>

    <span class="text-default-600 opacity-30 mx-4">|</span>

    <a [routerLink]="[]" class="text-default-400 hover:text-primary flex items-center gap-2">
        <lucide-icon name="message-circle" class="size-4"></lucide-icon>
        5
    </a>

    <span class="text-default-600 opacity-30 mx-4">|</span>

    <span class="text-default-400">2 min read</span>
</div>

<img src="assets/images/blog/03.jpg" class="rounded mt-10" alt="blog-img" />

<p class="mt-10 mb-4">
    Shifting our perspective from lack to abundance. In this article, we will explore the power of gratitude and how it can enhance our overall well-being and create a positive ripple effect in our lives and the lives of those around us.
    <strong>In a world filled with chaos</strong>
    and uncertainty, it's easy to lose sight of the things that truly matter.
</p>

<p class="mb-4">
    Additionally, expressing gratitude to others through acts of kindness or
    <u>heartfelt appreciation strengthens our relationships and</u>
    fosters a sense of interconnectedness.
</p>

<p class="mb-4">
    Incorporating gratitude into our daily routine can be as simple as keeping a gratitude journal, where we write down three things we are grateful for each day.
    <strong>This practice helps us become more attuned</strong>
    to the positive aspects of our lives, no matter how small they may seem.
</p>

<p class="mb-0">
    By reframing obstacles as opportunities for growth and learning,
    <mark class="bg-warning/15 py-1 px-1">we can navigate through difficulties with</mark>
    a sense of gratitude for the lessons they bring. This mindset shift empowers us to find joy and meaning in every circumstance, leading to a more fulfilling and purposeful life.
</p>

<blockquote class="relative bg-default-50 overflow-hidden mt-10 md:p-10 p-5 rounded shadow-sm">
    <!-- Vertical line -->
    <div class="absolute top-0 start-0 h-full bg-primary w-0.75"></div>

    <!-- Quote icon -->
    <span class="absolute top-0 start-0 opacity-20 -mt-3 ms-2 text-6xl leading-none">
        <lucide-icon name="quote" class="md:size-18 size-10 fill-default-400 text-default-400"></lucide-icon>
    </span>

    <!-- Quote content -->
    <q class="text-default-800 text-xl">Fulfilled direction use continual set him propriety continued. Farther-related bed and passage comfort civilly. Concluded boy perpetual old supposing.</q>

    <!-- Footer -->
    <div class="mt-4 text-default-600 font-light">— Albert Schweitzer</div>
</blockquote>

<div class="grid md:grid-cols-2 grid-cols-1 gap-7.5 mt-10">
    <div>
        <h6 class="text-xl font-bold mb-6">The Ripple Effect of Gratitude</h6>

        <ul class="flex flex-col space-y-2 list-disc list-inside mb-4">
            <li>Gratitude allows us to shift our perspective from focusing on.</li>
            <li>By recognizing and acknowledging the blessings in our lives.</li>
            <li>Scientific research has demonstrated that.</li>
            <li>It allows us to focus on the positive aspects.</li>
            <li>The power of gratitude extends beyond.</li>
            <li>By embracing a mindset of gratitude.</li>
        </ul>

        <p class="text-sm">Recognizing and acknowledging the blessings in our lives, we invite a sense of abundance and contentment.</p>
    </div>

    <div>
        <a href="assets/images/blog/4by4/06.jpg" data-gallery="image-popup" appGlightbox>
            <img src="assets/images/blog/4by4/06.jpg" class="rounded" alt="blog-img" />
        </a>
    </div>
</div>

<div class="border border-default-200 bg-default-100 rounded flex flex-wrap md:justify-between justify-center items-center text-center p-4 mt-10 space-y-3 md:space-y-0 lg:w-3xl">
    <!-- Title -->
    <h6 class="text-default-800 font-bold text-xl">Was this article helpful?</h6>

    <small class="block py-1 md:py-0 text-default-600">25 out of 78 found this helpful</small>

    <!-- Yes / No Buttons -->
    <div class="flex">
        <!-- Yes button -->
        <div>
            <input type="radio" name="reviewHelpful" id="btnYes" class="hidden peer" />
            <label for="btnYes" class="border border-default-500 border-e-0 flex items-center gap-1 peer-checked:bg-default-500 peer-checked:text-white text-[13px] py-1.5 px-3 rounded-s">
                <lucide-icon name="thumbs-up" class="size-4"></lucide-icon>
                Yes
            </label>
        </div>

        <!-- No button -->
        <div>
            <input type="radio" name="reviewHelpful" id="btnNo" class="hidden peer" />
            <label for="btnNo" class="border border-default-500 flex items-center gap-1 peer-checked:bg-default-500 peer-checked:text-white text-[13px] py-1.5 px-3 rounded-e">
                <lucide-icon name="thumbs-down" class="size-4"></lucide-icon>
                No
            </label>
        </div>
    </div>
</div>