 <section class="lg:py-34 md:py-20 py-16">
        <div class="container">
            <div class="bg-primary/10 rounded md:p-10 p-6">
                <div class="lg:w-7/12 mx-auto text-center">
                    <div class="flex justify-center -space-x-3">
                        <img src="/images/avatar/06.jpg" class="size-8 rounded-full" />
                        <img src="/images/avatar/05.jpg" class="size-12 rounded-full" />
                        <img src="/images/avatar/02.jpg" class="size-16 rounded-full z-20" />
                        <img src="/images/avatar/03.jpg" class="size-12 rounded-full z-10" />
                        <img src="/images/avatar/04.jpg" class="size-8 rounded-full" />
                    </div>

                    <h4 class="mb-2 md:text-3xl text-2xl md:mt-10 mt-6">Still have a question?</h4>
                    <p class="mb-6">We'd be happy to help you with any questions you have! Please let us know what you're looking for, and we'll do our best to assist you.</p>
                    <a routerLink="/contact/v1" class="px-6 py-3 bg-dark hover:bg-dark-hover rounded transition-all text-white">Contact us</a>
                </div>
            </div>
        </div>
    </section>