<section class="lg:py-30 py-18">
  <div class="container">
    <div class="dark bg-default-100 rounded md:p-14 p-6">
      <div class="grid md:grid-cols-2 grid-cols-1 items-center">
        <div>
          <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-2 text-white">
            Let’s automate & simplify your performance
          </h2>
          <p class="text-default-500">
            Let us manage your IT for you so that you can get back to doing what you do best and we
            look in the future.
          </p>
        </div>

        <div class="text-end mt-4">
          <a
            routerLink="/contact/v1"
            class="py-3 px-6 bg-primary hover:bg-primary-hover transition-all text-white rounded font-medium">
            Get started</a>
        </div>
      </div>
    </div>
  </div>
</section>
