<section class="-mt-16">
  <div class="container">
    <div
      class="relative h-75 md:h-100 rounded-md overflow-hidden bg-center bg-cover bg-[url('assets/images/bg/05.jpg')]"
    >
      <!-- Dark overlay -->
      <div class="absolute inset-0 bg-black/50"></div>

      <!-- Play Button -->
      <div class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 z-20">
        <a
          href="https://www.youtube.com/embed/tXHviS-4ygo"
          class="flex items-center justify-center size-14 bg-white hover:bg-default-200 dark:hover:bg-default-800 transition-all rounded-full"
          appGlightbox
          data-gallery="Video"
        >
          <lucide-icon name="Play" class="fill-dark text-dark"></lucide-icon>
        </a>
      </div>
    </div>
  </div>
</section>
