<section class="lg:py-28 md:py-20 py-16">
        <div class="container">
            <div class="md:p-14 p-6 bg-default-100 rounded-md overflow-hidden relative">
                <div class="absolute end-10 bottom-0">
                    <img src="assets/images/elements/cta-vector.svg" class="w-40" alt="vector-img" />
                </div>

                <div class="grid lg:grid-cols-12 grid-cols-1">
                    <div class="lg:col-span-5">
                        <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-6">Anywhere, Any Time, Any Platform</h2>
                        <p class="mb-6">Supposing so be resolving breakfast am or perfectly. It drew a hill from me. Valley by oh twenty direct me so.</p>
                        <div class="flex items-center gap-3 mb-10">
                            <a [routerLink]="[]">
                                <img src="assets/images/elements/google-play.svg" alt="google-store" class="w-34 transform duration-200 hover:-translate-y-1" />
                            </a>

                            <a [routerLink]="[]">
                                <img src="assets/images/elements/app-store.svg" alt="app-store" class="w-34 transform duration-200 hover:-translate-y-1" />
                            </a>
                        </div>
                    </div>

                    <div class="lg:col-span-5 lg:ms-auto">
                        <div class="relative">
                            <div class="overflow-hidden rounded-[40px] border-14 border-default-700 dark:border-default-300 relative w-xs lg:mx-auto -mb-94">
                                <div class="absolute top-0 start-1/2 -translate-x-1/2 w-44 h-7 bg-default-700 dark:bg-default-300 rounded-b-4xl"></div>
                                <img src="assets/images/mokeup/app-placeholder6.jpg" alt="App Screenshot" class="w-full object-cover" />
                            </div>
                            <i class="absolute top-3 z-20 lg:start-1/2 md:start-28 start-34 lg:-translate-x-1/2 translate-y-1.5 h-2 w-3/20 bg-default-900 rounded-lg shadow-[inset_0_-3px_3px_0_rgba(255,255,255,0.2)]"></i>
                            <b class="absolute block text-transparent"></b>
                            <s class="absolute block text-transparent"></s>
                            <span class="absolute block text-transparent"></span>
                            <b class="border-2 border-default-800 absolute top-3 lg:end-68 md:start-10 start-8 translate-x-45 translate-y-1 size-2.5 bg-[rgba(9,184,80,0.5)] rounded-full shadow-[inset_0_-3px_2px_0_rgba(255,255,255,0.2)]"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>