<section class="lg:pb-28 md:pb-20 pb-16">
  <div class="container">
    <div class="text-center">
      <p class="mb-6 font-semibold text-default-800">Used by the world best companies</p>
      <swiper-container
        class="swiper"
        loop="false"
        autoplay-delay="2000"
        autoplay-disable-on-interaction="false"
        space-between="30"
        [breakpoints]="{
          '576': { slidesPerView: 2 },
          '768': { slidesPerView: 3 },
          '992': { slidesPerView: 4 },
          '1200': { slidesPerView: 6 },
        }"
      >
        @for (item of clientData; track $index) {
          <swiper-slide>
            <img
              [src]="item"
              class="grayscale hover:grayscale-0 px-4 transition-all duration-300 mx-auto"
              alt="client-img"
            />
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</section>
