<section class="relative h-100 lg:h-150 bg-cover bg-center bg-no-repeat bg-fixed bg-[url('assets/images/products/video-img.jpg')]">
    <div class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2">
        <a href="https://www.youtube.com/embed/tXHviS-4ygo" class="flex items-center justify-center size-14 rounded-full bg-dark text-white shadow-lg hover:bg-dark/85 transition" data-gallery="Video" appGlightbox>
            <lucide-icon name="Play" class="fill-white text-white text-2xl"></lucide-icon>
        </a>
    </div>
</section>