<section class="lg:py-28 md:py-20 py-16">
        <div class="container">
            <div class="text-center md:mb-14 mb-8">
                <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-2">A squad of talented members</h2>
                <p class="md:w-2xl mx-auto">We are a close-knit squad of exceptionally talented individuals who are passionate about all things digital.</p>
            </div>

            <div class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-1 gap-6">
                @for(item of teamData; track $index){
                  <div class="p-6 text-center hover:-translate-y-1.5 hover:shadow-xl transition-all duration-300">
                    <div class="mb-4">
                        <img [src]="item.image" class="md:size-32 size-20.5 rounded-full mx-auto" />
                    </div>

                    <h6>
                        <a [routerLink]="[]" class="text-xl font-bold hover:text-primary transition-all mb-1">{{item.name}}</a>
                    </h6>

                    <p>{{item.role}}</p>
                    <ul class="flex items-center justify-center gap-3 mt-4">
                        <li class="size-8 rounded bg-default-100 text hover:bg-default-200 flex justify-center items-center transition-all">
                            <a [routerLink]="[]">
                                <lucide-icon name="facebook" class="size-3.5"></lucide-icon>
                            </a>
                        </li>

                        <li class="size-8 rounded bg-default-100 text hover:bg-default-200 flex justify-center items-center transition-all">
                            <a [routerLink]="[]">
                                <lucide-icon name="instagram" class="size-3.5"></lucide-icon>
                            </a>
                        </li>

                        <li class="size-8 rounded bg-default-100 text hover:bg-default-200 flex justify-center items-center transition-all">
                            <a [routerLink]="[]">
                                <lucide-icon name="twitter" class="size-3.5"></lucide-icon>
                            </a>
                        </li>
                    </ul>
                </div>
                }
            </div>
        </div>
    </section>