<section class="lg:py-28 md:py-20 py-16">
    <div class="container">
        <div class="grid md:grid-cols-3 grid-cols-1 lg:gap-0 md:gap-16 gap-6">
            <div class="md:col-span-1">
                <div class="mb-6">
                    <div class="swiper swiper-img-scale overflow-hidden">
                        <swiper-container loop="true" effect="fade" autoplay-delay="1500" autoplay-disable-on-interaction="false">
                            <swiper-slide>
                                <img src="/images/avatar/09.jpg" class="size-20.5 rounded-full border border-white" />
                            </swiper-slide>

                            <swiper-slide>
                                <img src="/images/avatar/01.jpg" class="size-20.5 rounded-full border border-white" />
                            </swiper-slide>

                            <swiper-slide>
                                <img src="/images/avatar/10.jpg" class="size-20.5 rounded-full border border-white" />
                            </swiper-slide>

                            <swiper-slide>
                                <img src="/images/avatar/05.jpg" class="size-20.5 rounded-full border border-white" />
                            </swiper-slide>
                        </swiper-container>
                    </div>
                </div>

                <h2 class="lg:text-[45px] md:text-4xl text-3xl md:mb-6 mb-2">Hear from our satisfied clients ❤️</h2>
                <p class="mb-2">Read what our satisfied clients have to say about their experiences with our platform.</p>
            </div>

            <div class="md:col-span-2">
                <div class="lg:w-3xl ms-auto">
                    <div>
                        @for (item of testimonialData; track $index) {
                        <div [id]="item.id" role="presentation" [class.hidden]="$index !== 0">
                            <div class="size-14 rounded-full flex justify-center bg-dark items-center mb-6">
                                <lucide-icon name="quote" class="size-4 text-white fill-white"></lucide-icon>
                            </div>

                            <div class="flex items-center gap-1 ms-1 mb-6">
                                @for (star of [1,2,3,4]; track $index) {
                                <lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon>
                                }
                                <lucide-icon name="star-half" class="fill-warning text-warning size-5"></lucide-icon>

                            </div>
                            <h6 class="text-xl font-bold mb-2">{{item.title}}</h6>
                            <p class="mb-6">{{item.message}}</p>
                        </div>
                        }
                    </div>

                    <div>
                        <nav class="flex flex-wrap gap-x-2" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
                            <button type="button" class="border border-transparent hs-tab-active:border-default-200 rounded-md hs-tab-active:bg-default-50 hs-tab-active:opacity-100 hover:opacity-100 transition-all p-4 flex items-center gap-2 active opacity-35 lg:w-auto w-full" id="testi-one-tab" aria-selected="true" data-hs-tab="#testi-one" aria-controls="testi-one" role="tab">
                                <img src="/images/avatar/04.jpg" class="size-12 rounded-full" />
                                <div class="text-start">
                                    <h6 class="text-xl">Louis Ferguson</h6>
                                    <p class="text-xs">Web Developer</p>
                                </div>
                            </button>

                            <button type="button" class="border border-transparent hs-tab-active:border-default-200 rounded-md hs-tab-active:bg-default-50 hs-tab-active:opacity-100 hover:opacity-100 transition-all p-4 flex items-center gap-2 opacity-35 lg:w-auto w-full" id="testi-two-tab" aria-selected="false" data-hs-tab="#testi-two" aria-controls="testi-two" role="tab">
                                <img src="/images/avatar/05.jpg" class="size-12 rounded-full" />
                                <div class="text-start">
                                    <h6 class="text-xl">Emma Watson</h6>
                                    <p class="text-xs">Co-Founder</p>
                                </div>
                            </button>

                            <button type="button" class="border border-transparent hs-tab-active:border-default-200 rounded-md hs-tab-active:bg-default-50 hs-tab-active:opacity-100 hover:opacity-100 transition-all p-4 flex items-center gap-2 opacity-35 lg:w-auto w-full" id="testi-three-tab" aria-selected="false" data-hs-tab="#testi-three" aria-controls="testi-three" role="tab">
                                <img src="/images/avatar/06.jpg" class="size-12 rounded-full" />
                                <div class="text-start">
                                    <h6 class="text-xl">Samuel Bishop</h6>
                                    <p class="text-xs">Product designer</p>
                                </div>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>