<main>
    <div class="grid lg:grid-cols-12 grid-cols-1">
        <!-- Left -->
        <div class="hidden lg:block lg:col-span-7 h-screen">
            <app-auth-swiper />
        </div>

        <!-- Right -->
        <div class="lg:col-span-5 relative">
            <div class="w-full text-center flex justify-center">
                <nav class="flex flex-wrap justify-center items-center md:gap-x-10 gap-5 mt-5" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
                    <button type="button" class="md:size-12 size-10 flex justify-center items-center shrink-0 bg-default-100 font-medium text-default-800 rounded-full hs-tab-active:opacity-100 opacity-20 border-2 border-default-700 active" id="steppertrigger1" aria-selected="true" data-hs-tab="#step-1" aria-controls="step-1" role="tab">
                        1
                    </button>

                    <button type="button" class="md:size-12 size-10 flex justify-center items-center shrink-0 bg-default-100 font-medium text-default-800 rounded-full hs-tab-active:opacity-100 opacity-20 border-2 border-default-700" id="steppertrigger2" aria-selected="false" data-hs-tab="#step-2" aria-controls="step-2" role="tab">
                        2
                    </button>

                    <button type="button" class="md:size-12 size-10 flex justify-center items-center shrink-0 bg-default-100 font-medium text-default-800 rounded-full hs-tab-active:opacity-100 opacity-20 border-2 border-default-700" id="steppertrigger3" aria-selected="true" data-hs-tab="#step-3" aria-controls="step-3" role="tab">
                        3
                    </button>

                    <button type="button" class="md:size-12 size-10 flex justify-center items-center shrink-0 bg-default-100 font-medium text-default-800 rounded-full hs-tab-active:opacity-100 opacity-20 border-2 border-default-700" id="steppertrigger4" aria-selected="false" data-hs-tab="#step-4" aria-controls="step-4" role="tab">
                        4
                    </button>
                </nav>
            </div>

            <div class="h-[calc(100vh-126px)] flex items-center justify-center">
                <div class="md:w-xl w-xs">
                    <div id="step-1" role="tabpanel" aria-labelledby="steppertrigger1">
                        <a routerLink="/">
                            <img src="/images/logo-icon.svg" class="size-12.5 mb-6" alt="logo" />
                        </a>

                        <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-1">Forgot password</h2>
                        <p class="text-default-600 mb-6">Enter the email address associated with an account.</p>

                        <!-- Email Floating Input -->
                        <div class="relative mb-5">
                            <input type="email" id="email" class="peer w-full border border-default-200 rounded-md px-3 py-3 placeholder-transparent focus:outline-none" placeholder="name@example.com" />

                            <label for="email" class="absolute start-3 top-3 text-default-600 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-default-400 bg-body-bg px-1">
                                Email address
                            </label>
                        </div>

                        <!-- Button -->
                        <button type="button" class="w-full bg-dark hover:bg-dark-hover text-white py-2 px-4 font-medium rounded-md transition-all">Reset password</button>

                        <!-- Back link -->
                        <div class="mt-6 text-center">
                            <a routerLink="/auth/sign-up" class="flex items-center justify-center gap-1 hover:text-primary transition-all">
                                <lucide-icon name="arrow-left" class="size-4"></lucide-icon>
                                Back to login
                            </a>
                        </div>
                    </div>

                    <div id="step-2" class="hidden" role="tabpanel" aria-labelledby="steppertrigger2">
                        <a routerLink="/">
                            <img src="/images/logo-icon.svg" class="size-12.5 mb-6" alt="logo" />
                        </a>

                        <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-1">Password reset</h2>
                        <p class="text-default-600 mb-6">
                            We sent a code to
                            <span class="font-bold">example@gmail.com</span>
                        </p>

                        <!-- Email Floating Input -->
                        <div class="relative mb-4">
                            <div class="flex items-center gap-1 md:gap-4">
                                <ng-otp-input [config]="{
                                length: 4,
                                allowNumbersOnly: true,
                                inputStyles: {
                                height: '48px',
                                border: '1px solid #e5e7eb',
                                borderRadius: '6px',
                                textAlign: 'center',
                                fontSize: '20px'
                                }
                            }"></ng-otp-input>

                            </div>
                        </div>

                        <!-- Button -->
                        <button type="button" class="w-full bg-dark hover:bg-dark-hover text-white py-2 px-4 font-medium rounded-md transition-all">Continue</button>

                        <p class="mt-4 text-center">
                            Didn't receive the code?
                            <a [routerLink]="[]" class="text-primary hover:text-primary-hover">Click to resend</a>
                        </p>

                        <!-- Back link -->
                        <div class="mt-6 text-center">
                            <a routerLink="/auth/sign-up" class="flex items-center justify-center gap-1 hover:text-primary transition-all">
                                <lucide-icon name="arrow-left" class="size-4"></lucide-icon>
                                Back to login
                            </a>
                        </div>
                    </div>

                    <div id="step-3" class="hidden" role="tabpanel" aria-labelledby="steppertrigger3">
                        <a routerLink="/">
                            <img src="/images/logo-icon.svg" class="size-12.5 mb-6" alt="logo" />
                        </a>

                        <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-1">Set new password</h2>
                        <p class="text-default-600 mb-6">Must be at least 8 character</p>

                        <!-- Email Floating Input -->
                        <div class="relative flex mb-2">
                            <div class="flex-1">
                                <input type="password" id="psw-input" class="peer block w-full border border-default-200 rounded-md bg-body-bg px-4 py-3 text-default-900 placeholder-transparent focus:outline-none" placeholder="Enter password" />
                                <label for="psw-input" class="absolute start-3 top-2 text-default-600 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-default-600 peer-focus:-top-3 peer-focus:text-sm peer-focus:text-default-600 bg-body-bg px-1">
                                    Password
                                </label>
                                <div id="pswmeter" data-hs-strong-password='{"target": "#psw-input","hints": "#pswmeter-message", "stripClasses": "hs-strong-password:bg-primary hs-strong-password-accepted:bg-primary h-2 flex-auto bg-default-200" }' class="flex mt-2"></div>
                            </div>
                        </div>

                        <!-- Password Hints -->
                        <div id="pswmeter-message" class="mb-4 flex justify-between">
                            <div class="text-start" data-hs-strong-password-hints-weakness-text='["Write your password...","Easy peasy!","That is a simple one"]'>Write your password...</div>
                            <div class="hs-tooltip [--trigger:click] [--placement:left] inline-block">
                                <button type="button" class="hs-tooltip-toggle">
                                    <lucide-icon name="info" class="size-4"></lucide-icon>
                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 w-50 transition-opacity inline-block absolute invisible z-10 p-4 bg-body-bg border border-default-200 text-sm text-start text-default-600 rounded-md" role="tooltip">
                                        Include at least one uppercase, one lowercase, one special character, one number and 8 characters long.
                                    </span>
                                </button>
                            </div>
                        </div>

                        <div class="relative mb-6">
                            <input type="password" id="confirmPassword" placeholder="" class="peer block w-full border border-default-200 rounded-md bg-body-bg px-4 py-3 text-default-900 placeholder-transparent focus:outline-none" />
                            <label for="confirmPassword" class="absolute start-3 top-2 text-default-600 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-default-600 peer-focus:-top-3 peer-focus:text-sm peer-focus:text-default-600 bg-body-bg px-1">
                                Confirm Password
                            </label>
                        </div>

                        <!-- Button -->
                        <button type="button" class="w-full bg-dark hover:bg-dark-hover text-white py-2 px-4 font-medium rounded-md transition-all">Reset Password</button>

                        <!-- Back link -->
                        <div class="mt-6 text-center">
                            <a routerLink="/auth/sign-up" class="flex items-center justify-center gap-1 hover:text-primary transition-all">
                                <lucide-icon name="arrow-left" class="size-4"></lucide-icon>
                                Back to login
                            </a>
                        </div>
                    </div>

                    <div id="step-4" class="hidden" role="tabpanel" aria-labelledby="steppertrigger4">
                        <div class="text-center">
                            <span>
                                <lucide-icon name="circle-check" class="md:size-22 size-14 text-primary mx-auto"></lucide-icon>
                            </span>

                            <h2 class="mt-6 mb-2 lg:text-[45px] md:text-4xl text-3xl">Password changed!</h2>
                            <p class="mb-6">Your password has been changed successfully.</p>

                            <!-- Button -->
                            <button type="button" class="w-full bg-dark hover:bg-dark-hover text-white py-2 px-4 font-medium rounded-md transition-all">Back to main page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>