<section class="lg:py-28 md:py-20 py-16 bg-dark">
    <div class="container">
        <div class="grid lg:grid-cols-12 grid-cols-1 lg:gap-0 gap-y-10">
            <div class="lg:col-span-5">
                <div class="lg:sticky lg:top-30">
                    <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold text-white mb-6">Workflow become clearer and more organized</h2>
                    <p class="text-white/60">Two before narrow not relied on how except moment myself Dejection assurance Mrs led certainly So gate at no only none open Betrayed.</p>
                    <hr class="my-10 border-white/14" />
                    <div class="flex items-center gap-4 mb-4">
                        <img src="assets/images/avatar/05.jpg" class="size-21 rounded-full" />
                        <div>
                            <h6 class="text-xl text-white font-semibold mb-1">Carolyn Ortiz</h6>
                            <p class="text-white/60">Manager at Mizzle agency</p>
                        </div>
                    </div>
                    <p class="text-xl text-white">At our agency, we don't just create campaigns; we craft immersive experiences that resonate with your audience, leaving an indelible mark in their hearts and minds.</p>
                </div>
            </div>

            <div class="lg:col-span-7 space-y-10 lg:ms-auto lg:w-xl w-full">

                @for (step of stepData; track $index) {
                <div class="md:p-10 p-6 rounded-md bg-neutral-900">
                    <div class="pb-10">
                        <div class="size-14 rounded-full bg-primary flex items-center justify-center text-xl text-white font-semibold mb-4"> {{ step.number }}</div>
                        <h4 class="md:text-3xl text-2xl font-bold mb-4 text-white">{{ step.title }}</h4>
                        <p class="text-white/80">{{ step.description }}</p>
                    </div>

                    <div>
                        <img [src]="step.image" class="lg:mx-0 lg:w-full md:w-lg mx-auto" />
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</section>