<div class="swiper h-full">
    <swiper-container class="swiper-wrapper" pagination="true" pagination-el=".swiper-pagination" pagination-clickable="true" autoplay="true">
        @for (slide of slideData; track $index) {
        <swiper-slide>
            <div class="relative h-full bg-cover bg-left bg-no-repeat" [ngStyle]="{'background-image': 'url(' + slide.image + ')'}">
                <div class="absolute inset-0 bg-dark/60"></div>

                <div class="relative z-20 h-full p-16 flex flex-col justify-end">
                    <h4 class="font-light text-white text-3xl mb-2">{{ slide.text }}</h4>
                    <div class="flex items-start justify-between mt-10 text-white">
                        <div>
                            <h5 class="text-2xl font-bold text-white">{{ slide.name }}</h5>
                            <span class="text-white/80">{{ slide.role }}</span>
                        </div>

                        <div class="flex space-x-1">
                            @for (star of [1,2,3,4]; track $index) {
                            <lucide-icon name="star" class="fill-white text-white size-4"></lucide-icon>
                            }
                            <lucide-icon name="star-half" class="fill-white text-white size-4"></lucide-icon>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>
        }
    </swiper-container>
    <div class="swiper-pagination swiper-pagination-line mb-3"></div>
</div>