<main>
    <div class="grid lg:grid-cols-12 grid-cols-1 items-center">
        <!-- Left -->
        <div class="hidden lg:block lg:col-span-7 h-screen">
            <div class="swiper h-full">
                <swiper-container class="swiper-wrapper" pagination="true" pagination-el=".swiper-pagination" pagination-clickable="true" autoplay="true">
                    <!-- Slide 1 -->
                    @for (slide of slideData; track $index) {
                    <swiper-slide>
                        <div class="relative h-full bg-cover bg-left bg-no-repeat" [ngStyle]="{'background-image': 'url(' + slide.image + ')'}">
                            <div class="absolute inset-0 bg-dark/60"></div>

                            <div class="relative z-20 h-full p-16 flex flex-col justify-end">
                                <h4 class="font-light text-white text-3xl mb-2"> {{ slide.text }}</h4>
                                <div class="flex items-start justify-between mt-10 text-white">
                                    <div>
                                        <h5 class="text-2xl font-bold text-white">{{ slide.name }}</h5>
                                        <span class="text-white/80">{{ slide.role }}</span>
                                    </div>

                                    <div class="flex space-x-1">
                                        @for (star of [1,2,3,4]; track $index) {
                                        <lucide-icon name="star" class="fill-white text-white size-4"></lucide-icon>
                                        }
                                        <lucide-icon name="star-half" class="fill-white text-white size-4"></lucide-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                    }
                </swiper-container>
                <div class="swiper-pagination swiper-pagination-line mb-3"></div>
            </div>
        </div>

        <!-- Right -->
        <div class="lg:col-span-5 relative">
            <div class="w-full md:flex justify-center my-10">
                <div class="md:px-0 px-4 md:w-8/12 lg:w-10/12">
                    <a routerLink="/">
                        <img src="/images/logo-icon.svg" class="size-12.5 mb-6" alt="logo" />
                    </a>

                    <h2 class="mb-0 lg:text-[45px] md:text-4xl text-3xl font-bold leading-snug text-default-800">Welcome back</h2>
                    <p class="mb-0 text-default-600">Welcome back, please enter your detail</p>

                    <!-- Social buttons -->
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 mt-10">
                        <a [routerLink]="[]" class="flex items-center gap-2 justify-center font-medium border border-default-200 bg-default-100 px-4 py-2 rounded text-center">
                            <iconify-icon icon="tabler:brand-google-filled" class="size-4"></iconify-icon>
                            Signup with Google
                        </a>

                        <a [routerLink]="[]" class="flex items-center gap-2 justify-center font-medium border border-default-200 bg-default-100 px-4 py-2 rounded text-center">
                            <iconify-icon icon="tabler:brand-facebook-filled" class="size-4"></iconify-icon>
                            Signup with Facebook
                        </a>
                    </div>

                    <div class="relative my-14">
                        <hr class="border-default-200 my-4" />
                        <p class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 bg-body-bg px-4 text-sm text-default-600">Or</p>
                    </div>

                    <!-- Form -->
                    <form (ngSubmit)="onSubmit()">
                        <div class="relative mb-6">
                            <input type="email" id="email" name="email" placeholder=" " class="peer block w-full border border-default-200 rounded-md bg-body-bg px-4 py-3 text-default-900 focus:outline-none" [(ngModel)]="email" required />

                            <label for="email" class="absolute start-3 -top-3 text-sm text-default-600 bg-body-bg px-1
           transition-all
           peer-placeholder-shown:top-3 peer-placeholder-shown:text-base
           peer-focus:-top-3 peer-focus:text-sm">
                                Email address
                            </label>
                        </div>

                        <div class="relative mb-6">
                            <input type="password" id="password" name="password" placeholder=" " class="peer block w-full border border-default-200 rounded-md bg-body-bg px-4 py-3 text-default-900 focus:outline-none" [(ngModel)]="password" />

                            <label for="password" class="absolute start-3 -top-3 text-sm text-default-600 bg-body-bg px-1
           transition-all
           peer-placeholder-shown:top-3 peer-placeholder-shown:text-base
           peer-focus:-top-3 peer-focus:text-sm">
                                Password
                            </label>
                        </div>
                        @if(error){
                        <p class="text-danger mb-3">
                            {{ error }}
                        </p>
                        }
                        <div class="flex md:items-center justify-between items-start gap-2 mb-6">
                            <div class="flex items-center gap-2">
                                <input type="checkbox" class="checked:bg-primary! bg-default-100! rounded border-default-200 md:mt-0 mt-1" id="checkbox-1" />
                                <label for="checkbox-1">Remember me</label>
                            </div>

                            <div>
                                <a routerLink="/auth/forgot-password" class="text-primary hover:text-primary-hover transition-all">Forgot password?</a>
                            </div>
                        </div>
                        <button type="submit" class="w-full bg-dark hover:bg-dark-hover transition-all text-white rounded py-2 px-4">Login</button>
                    </form>

                    <div class="mt-6 text-center">
                        <span class="text-default-600">
                            Not registered yet?
                            <a routerLink="/auth/sign-up" class="text-primary hover:text-primary-hover transition-all">Create an account</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>