<section class="lg:py-28 md:py-20 py-16">
    <div class="container">
        <!-- Title -->
        <div class="md:max-w-2xl mx-auto text-center mb-4 md:mb-14">
            <span class="bg-primary/10 text-primary uppercase rounded px-4 py-2 text-sm">Final solution</span>
            <h2 class="mt-4 mb-0 lg:text-[45px] md:text-4xl text-3xl font-bold">Unlocking Success Through Our Solutions</h2>
        </div>

        <div class="grid md:grid-cols-12 gap-4 lg:gap-10">
            <!-- Image -->
            <div class="md:col-span-5 h-full">
                <img src="assets/images/about/05.jpg" class="rounded-md w-full lg:h-full object-cover" />
            </div>

            <!-- Right content -->
            <div class="md:col-span-7 h-full">
                <div class="grid lg:grid-cols-2 gap-4 lg:gap-10">
                    <div class="bg-default-100/50 rounded-md h-full overflow-hidden p-10">
                        <!-- Body -->
                        <div class="p-0">
                            <div class="bg-black text-white text-xs px-2 py-0.5 rounded inline-block mb-4">Feature</div>
                            <p class="text-sm">Skyrocket your business to unprecedented heights with the right tools today</p>
                        </div>

                        <!-- Footer -->
                        <div class="text-end mt-4">
                            <span class="lg:text-[58px] md:text-[45px] text-4xl font-semibold text-default-900">42%</span>
                        </div>
                    </div>

                    <!-- Feature card -->
                    <div class="bg-default-100/50 rounded-md h-full overflow-hidden p-10">
                        <!-- Body -->
                        <div class="p-0">
                            <div class="bg-primary text-white text-xs px-2 py-0.5 rounded inline-block mb-4">Analytics</div>
                            <p class="text-sm">Elevate your business to new heights with the right tools today.</p>
                        </div>

                        <!-- Footer -->
                        <div class="text-end mt-9">
                            <span class="lg:text-[58px] md:text-[45px] text-4xl font-semibold text-default-900">5X</span>
                        </div>
                    </div>

                    <!-- Feature card full width -->
                    <div class="lg:col-span-2">
                        <div class="bg-default-100/50 rounded-md h-full overflow-hidden p-10">
                            <!-- Body -->
                            <div class="p-0">
                                <div class="bg-danger text-white text-xs px-2 py-0.5 rounded inline-block mb-4">Revenue</div>
                                <p class="text-sm">Unlock the full potential of your business and elevate it to new heights by harnessing the power of cutting-edge tools and technologies available today.</p>
                            </div>

                            <!-- Footer -->
                            <div class="text-end mt-4">
                                <span class="lg:text-[58px] md:text-[45px] text-4xl font-semibold text-default-900">$2.3M</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>