<section class="lg:py-28 md:py-20 py-16">
  <div class="container">
    <div class="max-w-xl mx-auto text-center mb-4 md:mb-16">
      <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold">How its work?</h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 lg:gap-16">
       @for( item of stepData; track $index ){
         <div class="flex flex-col items-center text-center bg-transparent">
        <div
          class="size-14 flex items-center justify-center bg-primary/10 text-primary rounded-md font-bold mb-4 text-xl"
        >
          {{item.stepNumber}}
        </div>
        <h6 class="text-xl font-bold mb-2">{{item.title}}</h6>
        <p class="text-sm">
          {{item.description}}
        </p>
      </div>
       }
    </div>
  </div>
</section>
