<section class="relative py-8 md:py-20 bg-center bg-cover bg-[url('/images/bg/05.jpg')]">
    <div class="absolute inset-0 bg-dark/70"></div>
    <div class="container relative z-10 mx-auto py-20">
        <div class="grid gap-6 lg:gap-10">
            <!-- Hero Content -->
            <div class="lg:col-span-8 text-center mx-auto">
                <!-- Breadcrumb -->
                <div class="flex justify-center mb-2">
                    <nav aria-label="breadcrumb">
                        <ol class="flex items-center space-x-2 text-white text-[13px]">
                            <li>
                                <a [routerLink]="[]" class="hover:text-primary transition">Home</a>
                            </li>

                            <li>
                                <span class="text-white/50">•</span>
                            </li>

                            <li class="text-primary">Services</li>
                        </ol>
                    </nav>
                </div>

                <h1 class="text-white lg:text-[58px] md:text-[45px] text-4xl font-bold">Our services</h1>
            </div>
        </div>
    </div>
</section>