<section class="relative">
    <div class="container">
        <div class="relative overflow-hidden rounded-lg md:p-14 p-6 bg-[url('assets/images/bg/15.jpg')] bg-center bg-cover bg-no-repeat">
            <div class="relative grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-center">
                <!-- Title & Content -->
                <div class="md:col-span-1 lg:col-span-2 space-y-2">
                    <h2 class="text-white lg:text-[45px] md:text-4xl text-3xl mb-2 font-semibold">Subscribe to our newsletter</h2>
                    <p class="text-white/80">We've always worked very hard to give our customers the best experience.</p>
                </div>

                <!-- Input Form -->
                <form class="space-y-3 w-full">
                    <input type="email" placeholder="Enter your email address" class="w-full bg-body-bg dark:bg-dark rounded-md border-0 px-4 py-2.5 text-default-900 placeholder-default-500 focus:ring-2 focus:ring-primary focus:outline-none" />
                    <button type="submit" class="w-full rounded-md bg-primary px-5 py-2.5 text-white hover:bg-primary/90 transition-colors font-semibold">Subscribe now!</button>
                </form>
            </div>
        </div>
    </div>
</section>