 <section class="lg:pt-44 pt-26">
        <div class="container">
            <div class="lg:w-2/3 mx-auto">
                <div class="text-center mb-14">
                    <h1 class="lg:text-[58px] md:text-[45px] text-4xl mb-2">Terms & Conditions</h1>
                    <p class="text-xl">Last update on Dec 2023</p>
                </div>
                <h6 class="text-xl mb-4">Introduction</h6>

                <p class="mb-4">Welcome to Mizzle. These terms and conditions govern your use of our website. Please read them carefully. By accessing and using our website, you agree to comply with and be bound by these terms.</p>
                <p class="mb-4">If you do not agree with these terms, please do not use our website. Our terms and conditions outline the rules and guidelines for using our website, intellectual property rights, user-generated content, and more.</p>
                <p class="mb-4">
                    If you have any questions or concerns about these terms, please contact us at
                    <a [routerLink]="[]" class="fw-normal text-decoration-underline">+81 555 333 45</a>
                    . Your use of our website is also governed by our Privacy Policy,. We may update these terms and conditions at any time, so please review them periodically for changes. Thank you for visiting Mizzle.
                </p>
                <h6 class="text-xl mb-4 mt-10">Acceptance of Terms</h6>
                <p class="mb-4">By accessing or using this website, you agree to comply with and be bound by these Terms and Conditions. If you do not agree with these terms, please do not use this website.</p>
                <h6 class="text-xl mb-4 mt-10">Intellectual Property</h6>
                <p class="mb-4">All content on this website, including text, images, graphics, and logos, is the property of Mizzle and is protected by intellectual property laws.</p>
                <p class="mb-4">You may not use, reproduce, or distribute any content from this website without prior written consent from Mizzle</p>

                <ul class="flex flex-col space-y-2.5">
                    <li class="flex lg:items-center items-start gap-2 text-default-800">
                        <div>
                            <lucide-icon name="move-right" class="size-4 md:mt-0 mt-1"></lucide-icon>
                        </div>
                        Receive instant notifications in Mizzle whenever there's an update or action in Slack
                    </li>

                    <li class="flex lg:items-center items-start gap-2 text-default-800">
                        <div>
                            <lucide-icon name="move-right" class="size-4 lg:mt-0 mt-1"></lucide-icon>
                        </div>
                        Effortlessly create, assign, and manage tasks in both platforms, ensuring nothing falls through the cracks.
                    </li>

                    <li class="flex items-start gap-2 text-default-800">
                        <div>
                            <lucide-icon name="move-right" class="size-4 mt-1"></lucide-icon>
                        </div>
                        Keep all your data consistent and up to date, whether it's customer information, project details, or important messages.
                    </li>
                </ul>

                <h6 class="text-xl mb-4 mt-10">Intellectual Property</h6>
                <p class="mb-4">Mizzle makes no warranties or representations about the accuracy or completeness of the content on this website.</p>
                <p class="mb-4">Mizzle is not liable for any direct, indirect, consequential, or incidental damages resulting from your use of this website.</p>
            </div>
        </div>
    </section>