<section>
    <!-- Title + Background -->
    <div class="relative bg-zinc-900 lg:py-44 py-30 overflow-hidden">
        <!-- SVG Background Decoration -->
        <figure class="absolute top-0 start-0">
            <svg class="opacity-20" width="1859" height="1775" viewBox="0 0 1859 1775" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_391_4)">
                    <ellipse cx="929.5" cy="862.5" rx="754.5" ry="719.5" fill="url(#paint0_linear_391_4)"
                        shape-rendering="crispEdges"></ellipse>
                </g>
                <g filter="url(#filter1_d_391_4)">
                    <ellipse cx="929.5" cy="863" rx="585.5" ry="558" fill="url(#paint1_linear_391_4)"
                        shape-rendering="crispEdges"></ellipse>
                </g>
                <g filter="url(#filter2_d_391_4)">
                    <ellipse cx="929.5" cy="887.5" rx="909.329" ry="867.5" fill="url(#paint2_linear_391_4)"
                        shape-rendering="crispEdges"></ellipse>
                </g>
                <defs>
                    <filter id="filter0_d_391_4" x="155" y="123" width="1549" height="1479" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha"></feColorMatrix>
                        <feOffset></feOffset>
                        <feGaussianBlur stdDeviation="10"></feGaussianBlur>
                        <feComposite in2="hardAlpha" operator="out"></feComposite>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_391_4"></feBlend>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_391_4" result="shape">
                        </feBlend>
                    </filter>
                    <filter id="filter1_d_391_4" x="324" y="285" width="1211" height="1156" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha"></feColorMatrix>
                        <feOffset></feOffset>
                        <feGaussianBlur stdDeviation="10"></feGaussianBlur>
                        <feComposite in2="hardAlpha" operator="out"></feComposite>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_391_4"></feBlend>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_391_4" result="shape">
                        </feBlend>
                    </filter>
                    <filter id="filter2_d_391_4" x="0.171387" y="0" width="1858.66" height="1775"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha"></feColorMatrix>
                        <feOffset></feOffset>
                        <feGaussianBlur stdDeviation="10"></feGaussianBlur>
                        <feComposite in2="hardAlpha" operator="out"></feComposite>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_391_4"></feBlend>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_391_4" result="shape">
                        </feBlend>
                    </filter>
                    <linearGradient id="paint0_linear_391_4" x1="929.5" y1="143" x2="929.5" y2="1582"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.09"></stop>
                        <stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
                    </linearGradient>
                    <linearGradient id="paint1_linear_391_4" x1="929.5" y1="305" x2="929.5" y2="1421"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.07"></stop>
                        <stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
                    </linearGradient>
                    <linearGradient id="paint2_linear_391_4" x1="929.5" y1="20" x2="929.5" y2="1755"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.1"></stop>
                        <stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
                    </linearGradient>
                </defs>
            </svg>
        </figure>

        <div class="md:max-w-3xl max-w-xs mx-auto text-center mb-30">
            <!-- Title -->
            <h1 class="text-white lg:text-[58px] md:text-[45px] text-4xl mb-10">Choose the right plan for your business
            </h1>

            <!-- Toggle -->
            <div class="mb-4 flex justify-center relative items-center gap-x-3">
                <label for="toggle-count-switch" class="text-white font-medium">Monthly</label>
                <label for="toggle-count-switch" class="relative inline-block w-16 h-8 cursor-pointer">
                    <input type="checkbox" id="toggle-count-switch" class="peer sr-only" />
                    <span
                        class="absolute inset-0 bg-default-300 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-primary"></span>
                    <span
                        class="absolute top-1/2 start-1.5 -translate-y-1/2 size-5 bg-default-400 rounded-full shadow-xs transition-all duration-200 ease-in-out peer-checked:start-9 peer-checked:bg-white"></span>
                </label>
                <label for="toggle-count-switch" class="text-white font-medium">Yearly</label>
                <span class="absolute -top-4 md:end-52 end-2 bg-danger text-white rounded py-1 px-1.5 text-xs">20%
                    save</span>
            </div>
            <!-- End Toggle -->
        </div>
    </div>

    <div class="container -mt-44">
        <!-- Swiper Container -->
        <div class="swiper">
            <swiper-container class="items-center lg:mb-0 mb-14 pt-10" space-between="30" pagination="true"
                pagination-el=".swiper-pagination" [breakpoints]="{
                    '576': { slidesPerView: 1 },
                    '768': { slidesPerView: 2 },
                    '992': { slidesPerView: 3 },
                }">
                @for(item of pricingData;track $index) {
                <swiper-slide [class.relative]="item.highlight" class="self-center">
                    <div class="shadow border rounded-md" [class]="item.highlight 
                     ? 'border-primary/30 bg-primary/15 relative' 
                     : 'border-default-200 bg-body-bg'">

                        @if (item.highlight) {
                        <div
                            class="absolute -top-3 start-1/2 -translate-x-1/2 px-2 py-1 bg-primary text-white rounded z-50">
                            {{ item.badge }}
                        </div>
                        }

                        <div class="border-b p-6 space-y-3"
                            [class]="item.highlight ? 'border-primary/30' : 'border-default-200'">
                            <div class="size-14 flex items-center justify-center rounded-full mb-4"
                                [class]="item.highlight ? 'bg-primary/20' : 'bg-default-100'">
                                <lucide-icon [name]="item.icon"
                                    [class]="item.highlight ? 'fill-primary text-primary' : 'fill-default-800 text-default-800'"></lucide-icon>
                            </div>

                            <h6 class="text-xl font-bold mb-4" [class.text-white]="item.highlight">{{item.title}}</h6>
                            <div class="flex">
                                <span class="text-[45px] text-default-800 font-bold">$</span>
                                <p [attr.data-hs-toggle-count]="getToggleData(item)"
                                    class="text-default-800 font-bold text-[45px]">
                                    {{item.priceMin}}
                                    <span class="text-sm text-default-600 font-normal">/{{item.priceLabel}}

                                    </span>
                                </p>
                            </div>
                            <small class="text-sm">{{item.description}}</small>
                        </div>

                        <div class="p-6">
                            <h6 class="font-bold text-xl mb-3">Quick look at all the features</h6>

                            <ul class="space-y-3 text-default-700">
                                @for(feature of item.features; track $index){
                                <li class="flex items-center gap-2">
                                    <lucide-icon name="check" class="text-primary size-4"></lucide-icon>
                                    {{ feature.text }}
                                </li>
                                }
                            </ul>
                            <a [routerLink]="[]"
                                class="mt-6 block font-medium text-center py-2 px-4 rounded transition-all"
                                [class]="item.buttonClass">Get started</a>
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>

            <!-- Pagination -->
            <div class="swiper-pagination swiper-pagination-primary"></div>
        </div>
    </div>
</section>