<section class="lg:pb-28 md:pb-20 pb-16">
  <div class="container">
    <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-0 gap-y-10 items-center">
      <div class="relative lg:order-1 order-2 lg:pe-7">
        <figure class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2">
          <svg
            class="fill-default-100 md:w-md w-90"
            viewBox="0 0 451 374"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M447.529 122.679C466.73 187.993 403.737 260.438 321.205 311.776C238.337 363.4 135.594 393.918 71.59 359.122C7.24919 324.326 -18.3524 224.501 13.9864 143.785C45.9884 63.069 136.268 1.46255 231.6 0.0364779C327.269 -1.67481 428.327 57.0795 447.529 122.679Z"
            />
          </svg>
        </figure>

        <div class="grid grid-cols-2 justify-center relative gap-4">
          <div class="col-span-2 flex justify-center">
            <img src="/images/elements/saas-decoration/decoration-2.png" class="mb-4 md:max-w-md" />
          </div>

          <div class="col-span-1">
            <img src="/images/elements/saas-decoration/17.png" class="w-full" />
          </div>

          <div class="col-span-1">
            <img src="/images/elements/saas-decoration/16.png" class="rounded-lg shadow-lg w-55" />
          </div>
        </div>
      </div>

      <div class="lg:order-2 order-1">
        <h2 class="lg:text-[45px] md:text-4xl text-3xl lg:mb-10 mb-6">
          Powerful Features for Streamlined Success
        </h2>
        <div class="grid md:grid-cols-2 grid-cols-1 md:gap-y-10 gap-y-6">
          <div>
            <div
              class="mb-4 size-14 bg-default-100 rounded-full text-default-800 font-semibold flex justify-center items-center"
            >
              <lucide-icon name="zap" class="fill-default-800 size-5"></lucide-icon>
            </div>
            <h6 class="text-xl mb-4 font-bold">Intelligent Automation</h6>
            <p>Automate repetitive tasks, so you can focus on strategic work.</p>
          </div>

          <div>
            <div
              class="mb-4 size-14 bg-default-100 rounded-full text-default-800 font-semibold flex justify-center items-center"
            >
              <lucide-icon name="hourglass" class="size-5"></lucide-icon>
            </div>
            <h6 class="text-xl mb-4 font-bold">Real-Time Collaboration</h6>
            <p>Connect your team, clients, and partners instantly.</p>
          </div>

          <div>
            <div
              class="mb-4 size-14 bg-default-100 rounded-full text-default-800 font-semibold flex justify-center items-center"
            >
              <lucide-icon name="chart-bar-increasing" class="size-5"></lucide-icon>
            </div>
            <h6 class="text-xl mb-4 font-bold">Advanced Analytics</h6>
            <p>Gain valuable insights with our robust analytics tools.</p>
          </div>

          <div>
            <div
              class="mb-4 size-14 bg-default-100 rounded-full text-default-800 font-semibold flex justify-center items-center"
            >
              <lucide-icon name="rocket" class="size-5 fill-default-800"></lucide-icon>
            </div>
            <h6 class="text-xl mb-4 font-bold">Customization</h6>
            <p>Customize features and workflows to match your requirements.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
