<section class="lg:pt-44 pt-28">
    <div class="container">
        <div class="text-center lg:mb-14 mb-6 lg:w-xl mx-auto">
            <h1 class="lg:text-[58px] md:text-[45px] text-4xl mb-6">Effortless Software Integration</h1>
            <p>Unlock the full potential of your software by seamlessly integrating it with other essential tools and services.</p>
        </div>

        <div class="flex justify-center items-center gap-2 md:gap-6">
            <!-- Icon md -->
            <div class="hidden md:flex size-10.5 items-center justify-center bg-body-bg shadow-md rounded-full shrink-0">
                <img src="/images/elements/gicon.svg" class="size-5" />
            </div>

            <!-- Icon lg -->
            <div class="hidden md:flex size-14 items-center justify-center bg-body-bg rounded-full shadow-md shrink-0">
                <img src="/images/elements/mailchimp.svg" class="size-7.5" />
            </div>

            <!-- Icon xl -->
            <div class="flex size-20 items-center justify-center bg-body-bg rounded-full shadow-md shrink-0">
                <img src="/images/elements/slack.svg" class="size-12.5" />
            </div>

            <!-- Icon xxl (center big icon) -->
            <div class="flex size-28 items-center justify-center bg-body-bg rounded-full shadow-md shrink-0 btn-ripple">
                <img src="/images/logo-icon.svg" class="size-20" />
            </div>

            <!-- Icon xl -->
            <div class="flex size-20 items-center justify-center bg-body-bg rounded-full shadow-md shrink-0">
                <img src="/images/elements/dropbox.svg" class="size-12" />
            </div>

            <!-- Icon lg -->
            <div class="hidden md:flex size-14 items-center justify-center bg-body-bg rounded-full shadow-sm shrink-0">
                <img src="/images/elements/webflow.svg" class="size-7.5" />
            </div>

            <!-- Icon md -->
            <div class="hidden md:flex size-10.5 items-center justify-center bg-body-bg rounded-full shadow-sm shrink-0">
                <img src="/images/elements/reddit.svg" class="size-5" />
            </div>
        </div>
    </div>
</section>