<div class="bg-default-100 p-6 rounded-md">
    <!-- SVG icon -->
    <svg class="mb-4" width="50" height="50" viewBox="0 0 50 50" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1113_392)">
            <path class="fill-primary" d="M22.5492 24.7427C23.8548 25.6131 26.1456 25.6132 27.4515 24.7426C27.4517 24.7425 27.452 24.7423 27.4522 24.7422L49.7048 9.90706C48.9749 7.79611 46.9686 6.27539 44.6128 6.27539H5.38754C3.03156 6.27539 1.0254 7.79611 0.29541 9.90706L22.5485 24.7423C22.5488 24.7425 22.549 24.7425 22.5492 24.7427Z"></path>
            <path class="fill-default-900" d="M29.077 27.1812C29.0767 27.1814 29.0765 27.1816 29.0763 27.1817C27.9335 27.9435 26.4665 28.3244 25 28.3244C23.5332 28.3244 22.0668 27.9436 20.9239 27.1816C20.9237 27.1815 20.9236 27.1814 20.9234 27.1813L0 13.2324V38.3373C0 41.3077 2.41672 43.7244 5.38735 43.7244H44.6128C47.5834 43.7244 50 41.3077 50 38.3373V13.2324L29.077 27.1812Z"></path>
        </g>

        <defs>
            <clipPath id="clip0_1113_392">
                <rect width="50" height="50" fill="white"></rect>
            </clipPath>
        </defs>
    </svg>

    <!-- Title -->
    <h6 class="text-xl mb-4">Get the latest Mizzle article delivered to your inbox</h6>

    <!-- Newsletter -->
    <form class="flex flex-col gap-2">
        <input type="email" placeholder="Email address" class="border border-default-300 rounded-md px-4 py-2" />
        <div>
            <button type="submit" class="bg-dark text-white rounded-md px-4 py-2 hover:bg-dark-hover transition-all">Subscribe</button>
        </div>
    </form>
</div>

<!-- Advertisement -->
<div class="mt-10 relative">
    <img src="/images/blog/adv.jpg" class="rounded-md" alt="adv image" />
    <div class="p-5 absolute top-0.5 start-1 z-20">
        <h5 class="md:text-2xl text-xl mb-2 text-default-900">Advertisement</h5>
    </div>
</div>

<!-- Social button -->
<div class="mt-10">
    <h6 class="mb-4 font-bold text-2xl">Follow us on:</h6>
    <ul class="flex items-center gap-2">
        @for(item of socialLinkData;track $index){
        <li>
            <a [routerLink]="[]" class="size-10 rounded-full flex justify-center items-center transition-all" [class]="item.className">
                <lucide-icon [name]="item.icon" class="size-4" [class]="item.iconClassName"></lucide-icon>
            </a>
        </li>
        }
    </ul>
</div>

<!-- Popular tags -->
<div class="mt-10">
    <h6 class="mb-4 font-bold text-2xl">Popular tags:</h6>
    <ul class="flex flex-wrap items-center gap-2.5">
        @for(item of tagData;track $index){
        <li>
            <a [routerLink]="[]" class="py-1.5 px-3 bg-default-100 hover:bg-default-200 text-default-800 transition-all text-[13px] rounded">{{item}}</a>
        </li>
        }
    </ul>
</div>