 <section class="lg:py-28 md:py-20 py-16">
        <div class="container">
            <div class="flex justify-center">
                <div class="lg:w-10/12">
                    <div class="bg-default-100 border border-default-200 rounded-md p-6 lg:p-10">
                        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-6">
                            <div class="flex items-center">
                                <img src="/images/elements/apple.svg" alt="Apple" class="size-14" />
                                <div class="ms-3">
                                    <ul class="flex space-x-0.5 mb-1">
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star-half" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                    </ul>
                                    <span>4.8 stars on Apple Store</span>
                                </div>
                            </div>

                            <div class="flex items-center md:border-e border-default-300 md:px-6">
                                <img src="/images/elements/gicon.svg" alt="Google" class="size-14" />
                                <div class="ms-3">
                                    <ul class="flex space-x-0.5 mb-1">
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star-half" class="fill-warning size-4.5 text-warning"></lucide-icon></li>
                                    </ul>
                                    <span>4.8 stars on Google Store</span>
                                </div>
                            </div>

                            <div class="text-start">
                                <h6 class="text-xl font-bold text-default-800 mb-2">8,000+ satisfied customers</h6>
                                <a routerLink="/blog/single/v1" class="group inline-flex items-center gap-1 text-primary group-hover:text-primary-hover">
                                    See all reviews
                                    <lucide-icon name="arrow-right" class="size-4 group-hover:translate-x-1 transition-all"></lucide-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>