<section class="lg:pb-0 pb-10">
  <div class="container">
    <div class="bg-primary relative rounded pt-12 px-10 pb-6 -mb-44">
      <span class="absolute start-8 -top-6">
        <lucide-icon
          name="quote"
          class="fill-default-800 text-default-800 md:size-16 size-10"
        ></lucide-icon>
      </span>
      <div class="swiper overflow-hidden">
        <swiper-container
          class="pb-10"
          autoplay-delay="3000"
          autoplay-disable-on-interaction="false"
          pagination="true"
          pagination-el=".swiper-pagination-line"
          pagination-clickable="true"
        >
          @for (item of testimonialData; track $index) {
            <swiper-slide>
              <p class="text-2xl text-white">
                {{ item.comment }}
              </p>
              <hr class="my-10 border border-white opacity-20 h-px" />
              <div class="flex flex-wrap justify-between md:gap-0 gap-y-4 items-center">
                <div class="flex items-center gap-3">
                  <img class="rounded-full size-12" [src]="item.user.avatar" alt="avatar" />
                  <div>
                    <h6 class="text-xl text-white font-semibold">
                      {{ item.user.firstName }}{{ item.user.lastName }}
                    </h6>
                    <p class="text-sm text-white">Ceo and manager of Blogzine</p>
                  </div>
                </div>
                <img [src]="item.user.company.image" class="h-10" alt="Client logo" />
              </div>
            </swiper-slide>
          }
        </swiper-container>
        <div class="swiper-pagination swiper-pagination-line absolute bottom-0 mt-6"></div>
      </div>
    </div>
  </div>
</section>
