<section class="lg:py-28 md:py-20 py-16">
        <div class="container">
            <div class="md:max-w-2xl mx-auto text-center mb-14">
                <h2 class="text-3xl lg:text-[45px] md:text-4xl font-bold mb-2">We've been waiting for you</h2>
                <p>You can watch your business bloom and glow, achieving new heights of success and radiating prosperity.</p>
            </div>

            <div class="lg:max-w-4xl mx-auto">
                <form class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label class="block text-default-800 font-medium mb-2">Your name *</label>
                        <input type="text" placeholder="Full name" class="w-full rounded-lg border border-default-200 px-4 py-3 text-default-600 focus:ring-default-400 focus:shadow-md placeholder-default-600 focus:outline-none" />
                    </div>

                    <div>
                        <label class="block text-default-800 font-medium mb-2">Email address *</label>
                        <input type="email" placeholder="name@example.com" class="w-full rounded-lg border border-default-200 px-4 py-3 text-default-600 focus:ring-default-400 focus:shadow-md placeholder-default-600" />
                    </div>

                    <div>
                        <label class="block text-default-800 font-medium mb-2">Phone number *</label>
                        <input type="text" placeholder="(xxx) xx xxxx" class="w-full rounded-lg border border-default-200 px-4 py-3 text-default-600 focus:ring-default-400 focus:shadow-md placeholder-default-600" />
                    </div>

                    <div>
                        <label class="block text-default-800 font-medium mb-2">Company *</label>
                        <input type="text" placeholder="Company name" class="w-full rounded-lg border border-default-200 px-4 py-3 text-default-600 focus:ring-default-400 focus:shadow-md placeholder-default-600" />
                    </div>

                    <div class="md:col-span-2">
                        <label class="block text-default-800 font-medium mb-2">Message *</label>
                        <textarea placeholder="Write your message here...." rows="5" class="w-full rounded-lg border border-default-200 px-4 py-3 text-default-600 focus:ring-default-400 focus:shadow-md placeholder-default-600"></textarea>
                    </div>

                    <div class="md:col-span-2">
                        <button type="submit" class="w-full rounded-md bg-primary py-3 text-white font-semibold hover:bg-primary-hover transition">Send a message</button>
                    </div>
                </form>

                <div class="bg-default-50 border border-default-200 rounded-md py-6 px-10 mt-14">
                    <div class="flex flex-col md:flex-row items-center md:justify-between gap-6">
                        <div class="md:text-start text-center lg:w-lg w-xs">
                            <h5 class="md:text-2xl text-xl font-bold text-default-800 mb-2">Need finance guidance?</h5>
                            <p>We've always worked very hard to give our customers the best experience.</p>
                        </div>

                        <div class="text-start md:text-end">
                            <div class="mb-4">
                                <span class="md:text-4xl text-2xl font-bold text-default-900">$20</span>
                                <span>/ per hour</span>
                            </div>
                            <a [routerLink]="[]" class="flex justify-center w-full text-dark border border-default-300 bg-white font-medium px-4 py-2 rounded-md hover:bg-default-200 hover:border-default-200 dark:hover:bg-default-800 transition-all">Book call!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>