<section>
  <div class="container">
    <div class="max-w-2xl mx-auto text-center mb-6 md:mb-14">
      <h2 class="text-3xl lg:text-[45px] md:text-4xl font-bold">
        Built to accommodate your data and workflow.
      </h2>
    </div>

    <div class="grid gap-6 lg:gap-10 md:grid-cols-12 grid-cols-1">
      <div class="lg:col-span-6 md:col-span-12">
        <div class="border border-default-200 rounded-md flex flex-col h-full">
          <div class="md:py-10 md:px-16 p-6 text-center">
            <h5 class="md:text-2xl text-xl font-bold mb-4">Work with your favorite tools</h5>
            <p class="mb-6">
              You have the freedom to use the tools and software you prefer or find most effective
              in your job or tasks.
            </p>
            <a
              routerLink="/integrations"
              class="inline-block bg-dark text-white text-xs font-medium py-2 px-4 rounded transition-all hover:bg-dark/85"
              >View all integrations</a
            >
          </div>
          <div>
            <img src="/images/elements/saas-decoration/18.png" class="w-full" />
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="lg:col-span-6 md:col-span-12">
        <div class="border border-default-200 rounded-md flex flex-col h-full overflow-hidden">
          <div class="md:py-10 md:px-16 p-6 text-center">
            <h5 class="md:text-2xl text-xl font-bold mb-4">
              Extract code ready for implementation
            </h5>
            <p class="mb-6">
              Code you're providing or generating is of high quality, thoroughly tested, and fully
              prepared for deployment.
            </p>
            <a
              routerLink="/integrations"
              class="inline-block bg-dark text-white text-xs font-medium py-2 px-4 rounded transition-all hover:bg-dark/85"
              >Discover our theme</a
            >
          </div>
          <div class="relative ms-8 -mb-3">
            <img src="/images/elements/saas-decoration/19.png" class="w-full" />
          </div>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="lg:col-span-4 md:col-span-6">
        <div class="border border-default-200 rounded-md flex flex-col h-full overflow-hidden">
          <div class="md:p-10 p-6 text-center">
            <h5 class="md:text-2xl text-xl font-bold mb-4">24/7 fast chat supports</h5>
            <p>Enjoy around-the-clock, lightning-fast chat support.</p>
          </div>
          <div>
            <img src="/images/elements/saas-decoration/20.png" class="w-full" />
          </div>
        </div>
      </div>

      <!-- Item 4 -->
      <div class="lg:col-span-4 md:col-span-6">
        <div class="border border-default-200 rounded-md flex flex-col h-full overflow-hidden">
          <div class="md:p-10 p-6 text-center">
            <h5 class="md:text-2xl text-xl font-bold mb-4">Secure data encryption</h5>
            <p>It stands as a cornerstone in ensuring the confidentiality.</p>
          </div>
          <div>
            <img src="/images/elements/saas-decoration/22.png" class="w-full" />
          </div>
        </div>
      </div>

      <!-- Item 5 -->
      <div class="lg:col-span-4 md:col-span-12">
        <div class="border border-default-200 rounded-md flex flex-col h-full overflow-hidden">
          <div class="md:p-10 p-6 text-center">
            <h5 class="md:text-2xl text-xl font-bold mb-4">Team collaboration</h5>
            <p>Seamlessly collaborate with your team members like never before.</p>
          </div>
          <div>
            <img src="/images/elements/saas-decoration/21.png" class="w-full" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
