 <section class="pt-32 lg:pb-32 pb-16">
        <div class="container">
            <div class="flex justify-center">
                <div class="w-full md:w-full lg:w-8/12 mx-auto">
                    <!-- Breadcrumb + Title -->
                    <div class="text-center mb-8">
                        <!-- Breadcrumb -->
                        <nav aria-label="breadcrumb" class="flex justify-center mb-2">
                            <ol class="flex items-center space-x-2 text-default-600 text-[13px]">
                                <li>
                                    <a [routerLink]="[]" class="hover:text-primary transition-all">Home</a>
                                </li>
                                <span class="text-default-400">•</span>
                                <li class="text-primary">Portfolio Showcase</li>
                            </ol>
                        </nav>

                        <!-- Title -->
                        <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold mb-2">UI/UX and Product Designer</h2>
                    </div>

                    <!-- Information Card -->
                    <div class="bg-dark text-white p-10 rounded-md flex flex-col md:flex-row md:items-center md:justify-between mb-10">
                        <div>
                            <h4 class="md:text-3xl text-2xl font-bold mb-4 text-white">Information</h4>

                            <div class="flex flex-wrap gap-3 md:gap-6">
                                <span class="bg-body-bg text-default-900 text-xs px-2 py-1 rounded">IT</span>
                                <span class="flex items-center gap-2 text-white">
                                    <lucide-icon name="map-pin" class="size-4"></lucide-icon>
                                    USA, Ontario
                                </span>

                                <span class="flex items-center gap-2 text-white">
                                    <lucide-icon name="clock" class="size-4"></lucide-icon>
                                    San Francisco
                                </span>

                                <span class="flex items-center gap-2 text-white">
                                    <lucide-icon name="briefcase-business" class="size-4"></lucide-icon>
                                    $32,000
                                </span>
                            </div>
                        </div>

                        <a href="#contact-form" class="mt-5 md:mt-0 inline-flex items-center justify-center gap-2 transition-all bg-primary hover:bg-primary-hover text-white px-4 py-2 rounded-md text-center">
                            Apply Now
                            <lucide-icon name="move-right" class="size-4"></lucide-icon>
                        </a>
                    </div>

                    <!-- Detail lists -->
                    <div class="grid md:grid-cols-2 gap-7.5">
                        <!-- Skills -->
                        <div>
                            <h6 class="font-bold mb-4 text-xl">Skills:</h6>
                            <ul class="space-y-3">
                                <li class="flex lg:items-center items-start gap-2">
                                    <div>
                                        <lucide-icon name="badge-check" class="text-primary size-4 lg:mt-0 mt-1.5"></lucide-icon>
                                    </div>
                                    Involving The Team In Decisions That Affect Them
                                </li>

                                <li class="flex lg:items-center items-start gap-2">
                                    <lucide-icon name="badge-check" class="text-primary size-4 lg:mt-0 mt-1.5"></lucide-icon>
                                    Displays technical or professional expertise
                                </li>

                                <li class="flex items-center gap-2">
                                    <lucide-icon name="badge-check" class="text-primary size-4"></lucide-icon>
                                    Displays high integrity and honesty
                                </li>

                                <li class="flex items-center gap-2">
                                    <lucide-icon name="badge-check" class="text-primary size-4"></lucide-icon>
                                    Solves problems and analyzes issues
                                </li>

                                <li class="flex lg:items-center items-start gap-2">
                                    <lucide-icon name="badge-check" class="text-primary size-4 lg:mt-0 mt-1.5"></lucide-icon>
                                    Communicates powerfully and prolifically
                                </li>
                            </ul>
                        </div>

                        <!-- Responsibilities -->
                        <div>
                            <h6 class="font-bold mb-4 text-xl">Responsibilities:</h6>
                            <ul class="space-y-3">
                                <li class="flex items-center gap-2">
                                    <lucide-icon name="badge-check" class="text-primary size-4"></lucide-icon>
                                    Writing SEO Performant Code
                                </li>

                                <li class="flex items-center gap-2">
                                    <lucide-icon name="badge-check" class="text-primary size-4"></lucide-icon>
                                    Converting Design to Code
                                </li>
                            </ul>
                        </div>

                        <!-- Experience -->
                        <div>
                            <h6 class="font-bold mb-4 text-xl">Experience:</h6>
                            <ul>
                                <li class="flex items-center gap-2">
                                    <lucide-icon name="badge-check" class="text-primary size-4"></lucide-icon>
                                    Bachelor Degree
                                </li>
                            </ul>
                        </div>

                        <!-- Educational requirements -->
                        <div>
                            <h6 class="font-bold mb-4 text-xl">Educational requirements:</h6>
                            <p class="text-default-600">Ideally, 2 years to 4 years experience in an agency environment working in multi-tiered tasks</p>
                        </div>
                    </div>

                    <!-- Description -->
                    <h6 class="text-xl font-bold mt-6 mb-2">Description</h6>
                    <p class="text-default-700 mb-4">
                        Perceived end knowledge certainly day sweetness why cordially. Ask a quick six seven offer see among. Handsome met debating sir dwelling age material. As style lived he worse dried. Offered related so visitors we private removed. Moderate do subjects
                        to distance.
                    </p>

                    <p class="text-default-700 mb-4">
                        Speedily say has suitable disposal add boy. On fourth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne's new manners savings staying had. Under folly balls, death own point now men.
                        Match way she avoids seeing death. She drifts their fat off.
                    </p>

                    <p class="text-default-700 mb-4">
                        Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. It drew a hill from me. Valley by oh twenty
                        direct me so. Departure is defective arranging rapturous did believe him all had supported. Family months lasted simply set nature vulgar him. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected the resolving agreement
                        perceived
                    </p>

                    <!-- Email & Phone -->
                    <div class="grid md:grid-cols-2 gap-8 mt-10">
                        <div>
                            <h6 class="font-bold mb-2 text-xl">Apply via E-mail</h6>
                            <p>
                                If you need to send us mail regarding job opportunities, write to
                                <a [routerLink]="[]" class="text-primary">info@example.com</a>
                            </p>
                        </div>

                        <div>
                            <h6 class="font-bold mb-2 text-xl">Apply via phone number</h6>
                            <p class="mb-1">Apply Now Via Whats App, Send us Your Resume on:</p>
                            <a [routerLink]="[]" class="text-primary font-medium">+79 2589 63598</a>
                        </div>
                    </div>

                    <!-- Contact Form -->
                    <div class="bg-default-100/5 border border-default-200 p-6 md:p-10 rounded-md mt-10" id="contact-form">
                        <form class="grid grid-cols-1 md:grid-cols-2 gap-6">
                            <div>
                                <label class="text-default-700 block mb-2 font-medium">Your name *</label>
                                <input type="text" class="w-full border-default-200 rounded-md px-4 py-3 placeholder:text-default-600" placeholder="Full name" />
                            </div>

                            <div>
                                <label class="text-default-700 block mb-2 font-medium">Email address *</label>
                                <input type="email" class="w-full border-default-200 rounded-md px-4 py-3 placeholder:text-default-600" placeholder="name@example.com" />
                            </div>

                            <div>
                                <label class="text-default-700 block mb-2 font-medium">Phone number *</label>
                                <input type="text" class="w-full border-default-200 rounded-md px-4 py-3 placeholder:text-default-600" placeholder="(xxx) xx xxxx" />
                            </div>

                            <div>
                                <label class="text-default-700 block mb-2 font-medium">Applying for *</label>
                                <input type="text" class="w-full border-default-200 rounded-md px-4 py-3 placeholder:text-default-600" placeholder="Job Title" />
                            </div>

                            <div class="md:col-span-2">
                                <label class="text-default-700 block mb-2 font-medium">Message *</label>
                                <textarea class="w-full border-default-200 rounded-md px-4 py-3 placeholder:text-default-600" rows="5" placeholder="Write your message here..."></textarea>
                            </div>

                            <div class="md:col-span-2">
                                <button class="w-full bg-primary hover:bg-primary-hover transition-all text-white py-3 rounded-md text-base">Send a message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>