<section class="pt-26 pb-0">
  <div class="container">
    <!-- Image -->
    <div class="h-75 md:h-100 rounded overflow-hidden bg-cover bg-center bg-[url('assets/images/bg/09.jpg')]"></div>

    <!-- Content -->
    <div class="flex justify-center">
      <div class="w-11/12 lg:w-10/12 -mt-16">
        <div class="bg-body-bg border border-default-200 shadow-xl rounded relative p-6 md:p-10">
          <h4 class="mb-4 font-semibold md:text-3xl text-2xl">
            See why direct-to-consumer brands choose mizzle for their email efforts
          </h4>

          <div class="flex items-center flex-wrap text-default-600">
            <span>October 23, 2023</span>

            <span class="mx-4 text-default-400">|</span>

            <span>9 min read</span>

            <span class="mx-4 text-default-400">|</span>

            <div class="flex items-center">
              <div class="size-10 rounded-full overflow-hidden me-2">
                <img src="assets/images/avatar/05.jpg" alt="avatar" class="size-full object-cover" />
              </div>
              <span class="font-semibold text-default-900">Carolyn Ortiz</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
