<section>
  <div class="container relative">
    <div class="grid grid-cols-1 md:grid-cols-4 items-center relative">
      <div class="md:col-span-1 hidden md:block">
        <img src="/images/elements/int-p1.svg" class="w-xs h-auto" />
      </div>

      <div class="md:col-span-2 text-center mx-auto px-4">
        <h2 class="md:text-4xl text-3xl lg:text-[45px] font-bold mb-6">
          Seamless Integrations for Enhanced Productivity
        </h2>
        <p class="mb-6">
          Your workflow isn't just about one tool — it's about the entire ecosystem of applications
          you use. Seamlessly connects with a range of third-party services to streamline your
          processes even further.
        </p>
        <a
          routerLink="/integrations"
          class="group inline-flex items-center justify-center gap-2 bg-primary hover:bg-primary-hover text-white font-medium rounded-md px-6 py-3 transition-all duration-300"
        >
          View all integrations
          <lucide-icon
            name="chevron-right"
            class="size-5 text-white group-hover:translate-x-1 transition-all"
          ></lucide-icon>
        </a>
      </div>

      <div class="md:col-span-1 hidden md:block">
        <img src="/images/elements/int-p2.svg" class="w-xs h-auto" />
      </div>
    </div>
  </div>
</section>
