<section class="lg:py-28 py-24">
    <div class="container relative">
        <div class="grid lg:grid-cols-2 grid-cols-1 items-center gap-7.5">
            <div class="lg:w-lg">
                <h1 class="lg:text-[58px] md:text-[45px] text-4xl mb-6">Unleash the Power of Our Features</h1>
                <p class="mb-8">This structure maintains a focus on the strength and potential of your SAAS features while providing an invitation to explore them further.</p>
                <a routerLink="/saas/feature-single" class="py-3 px-6 bg-dark hover:bg-dark-hover rounded-md text-white font-medium">Start Exploring Now</a>
            </div>

            <div class="ms-auto">
                <div class="relative pe-4 md:pe-14 py-8">
                    <!-- Dark pattern background -->
                    <div class="absolute top-0 end-0 w-1/2 h-full rounded bg-dark bg-[url('/images/elements/bg-pattern-2.png')] bg-cover bg-left"></div>

                    <!-- Main image -->
                    <img src="/images/bg/saas-bg.jpg" class="relative rounded-xl border-4 border-black my-4 md:my-6" alt="saas-img" />

                    <!-- Bottom-left decoration -->
                    <div class="absolute bottom-0 lg:-start-16 start-0 w-1/6">
                        <img src="/images/elements/saas-decoration/01.png" class="rounded-xl shadow-xl" alt="decoration-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>