<section class="lg:pt-44 pt-30 pb-16 lg:pb-22 relative overflow-hidden">
    <figure class="absolute top-0 start-1/2 -translate-x-1/2 -translate-y-1/2">
        <svg class="fill-light/50" width="1990" height="859" viewBox="0 0 1990 859" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1990 429.5C1990 666.706 1544.52 859 995 859C445.477 859 0 666.706 0 429.5C0 192.294 445.477 0 995 0C1544.52 0 1990 192.294 1990 429.5Z">
            </path>
        </svg>
    </figure>

    <div class="text-center mb-8 relative z-20">
        <nav aria-label="breadcrumb" class="flex justify-center mb-2">
            <ol class="flex items-center space-x-2 text-default-600 text-[13px]">
                <li>
                    <a [routerLink]="[]" class="hover:text-primary transition-all">Home</a>
                </li>
                <span class="text-default-400">•</span>
                <li class="text-primary">Customer stories</li>
            </ol>
        </nav>
        
        <div class="md:w-2xl mx-auto">
            <h2 class="lg:text-[58px] md:text-[45px] text-4xl font-semibold mb-4">Customer Stories</h2>
            <p class="mb-4">It drew a hill from me. Valley by oh twenty direct me so. Departure defective arranging
                rapturous did believe him all had supported.</p>
        </div>
    </div>
</section>