<section class="pt-16 relative">
    <div class="swiper overflow-hidden pt-5">
        <swiper-container autoplay="true" pagination="true" pagination-el=".swiper-pagination" pagination-clickable="true" autoplay-delay="4000" autoplay-disable-on-interaction="false">
            <swiper-slide>
                <div class="relative overflow-hidden h-125 lg:h-187.5 rounded-none bg-center bg-cover bg-[url('assets/images/shop/bg/01.jpg')]">
                    <div class="absolute inset-0 bg-black/50 lg:hidden"></div>
                    <div class="absolute inset-0 flex items-center">
                        <div class="container mx-auto px-4">
                            <div class="max-w-xl">
                                <span class="inline-block bg-dark text-white text-sm rounded-full px-4 py-2 mb-6">New release mizz-VR</span>
                                <h1 class="text-white lg:text-[58px] md:text-[45px] text-[34px] font-bold mb-6">Dive into Virtual Reality Adventure</h1>
                                <p class="text-white mb-6">Whether you're a gaming enthusiast or simply seeking an extraordinary escape from reality, our Virtual VR product is your portal to endless excitement.</p>
                                <a [routerLink]="[]" class="group inline-flex items-center gap-2 text-white border border-white px-6 py-3 rounded-md font-medium hover:bg-white hover:text-black transition-all duration-300">
                                    Show details
                                    <lucide-icon name="arrow-right" class="size-4 transition-all group-hover:translate-x-1"></lucide-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="relative overflow-hidden h-125 xl:h-187.5 rounded-none bg-center bg-cover bg-[url('assets/images/shop/bg/02.jpg')]">
                    <div class="absolute inset-0 bg-black/50 lg:hidden"></div>
                    <div class="absolute inset-0 flex items-center">
                        <div class="container">
                            <div class="lg:max-w-lg max-w-xl ms-auto text-start">
                                <p class="md:text-3xl text-2xl text-white mb-4">
                                    Festival Collection
                                    <span class="bg-black text-white rounded px-3 py-1 md:text-3xl text-2xl ms-2">2023</span>
                                </p>
                                <h1 class="text-white lg:text-7xl md:text-[58px] text-4xl font-bold mb-4">FLAT 50% OFF</h1>
                                <p class="text-white mb-6">Step into a world of quality and craftsmanship - it's time to put your best foot forward.</p>
                                <a [routerLink]="[]" class="group inline-flex items-center gap-2 bg-dark text-white px-6 py-3 rounded-md font-medium hover:bg-dark/85 transition-all duration-300">
                                    Show details
                                    <lucide-icon name="arrow-right" class="size-4 group-hover:translate-x-1 transition-all"></lucide-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</section>

