 <section class="lg:py-28 py-20">
        <div class="lg:w-425 lg:px-0 px-4 w-full lg:mx-auto">
            <div>
                <div class="relative bg-dark text-white rounded-md overflow-hidden lg:py-32 py-14 md:px-0 px-6">
                    <div class="absolute top-0 start-0">
                        <img src="assets/images/elements/bg-pattern-4.png" alt="pattern" class="opacity-90" />
                    </div>

                    <div class="absolute bottom-0 start-0">
                        <img src="assets/images/elements/bg-pattern-3.png" alt="pattern" class="opacity-90" />
                    </div>

                    <div class="relative lg:max-w-3xl max-w-xl mx-auto text-center lg:mb-8 mb-6">
                        <h6 class="text-primary text-xl font-medium mb-4">Introducing the All-New Features</h6>
                        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4 text-white">Smarter solutions, seamless results</h1>
                        <p class="text-white/60 mb-4 lg:mb-6 md:w-xl mx-auto">Our powerful SaaS platform is designed to transform the way you work, making your processes more efficient and your team more effective.</p>
                        <a routerLink="/contact/v1" class="group inline-flex items-center justify-center gap-2 bg-primary hover:bg-primary-hover text-white font-medium rounded-md px-6 py-3 transition-all duration-300">
                            Get started for free
                            <lucide-icon name="chevron-right" class="size-5 text-white group-hover:translate-x-1 transition-all"></lucide-icon>
                        </a>
                    </div>

                    <div class="relative -mb-22 md:-mb-32 lg:-mb-62">
                        <div class="lg:max-w-5xl max-w-2xl mx-auto">
                            <img src="assets/images/bg/saas-bg-5.png" alt="saas background" class="w-full h-auto" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>