<section class="lg:py-28 md:py-20 py-16">
    <div class="container">
        <div class="text-center lg:mb-10 mb-6">
            <h2 class="lg:text-[45px] md:text-4xl text-3xl">Explore our latest blogs</h2>
        </div>

        <div class="swiper">
            <swiper-container class="md:py-6" loop="false" space-between="30" pagination="true" pagination-el=".swiper-pagination-primary" pagination-clickable="true" breakpoints='{
    "576": { "slidesPerView": 1 },
    "768": { "slidesPerView": 2 },
    "992": { "slidesPerView": 3 }
  }'>
                @for (item of blogData; track $index) {
                <swiper-slide class="swiper-slide">
                    <article class="bg-body-bg border border-default-200 rounded-lg p-2 h-full flex flex-col group">
                        <div class="relative overflow-hidden rounded-md">
                            <img [src]="item.image" alt="service image" class="w-full h-auto transform transition-transform duration-500 group-hover:scale-105" />
                            <div class="absolute top-0 start-0 m-4 bg-dark text-white text-xs font-medium px-2 py-1 rounded">{{ item.category }}</div>
                        </div>

                        <div class="flex flex-col px-2 py-5 flex-1">
                            <div class="text-sm text-default-600 mb-3 flex items-center gap-1">
                                <lucide-icon name="calendar" class="size-4 me-1"></lucide-icon>
                                {{ item.publishedAt.month }} {{ item.publishedAt.date }},
                                {{ item.publishedAt.year }}
                            </div>

                            <h6 class="text-lg font-semibold mb-4">
                                <a [routerLink]="item.url" class="group-hover:text-primary transition-colors duration-300">{{
                                    item.title
                                    }}</a>
                            </h6>

                            <div class="mt-auto flex items-center justify-between">
                                <div class="flex items-center gap-2">
                                    <div class="size-9">
                                        <img [src]="item.publishedBy.avatar" alt="avatar" class="size-full rounded-md object-cover" />
                                    </div>
                                    <p>By {{ item.publishedBy.firstName }}
                                        {{ item.publishedBy.lastName }}</p>
                                </div>

                                <a [routerLink]="[]" class="flex items-center justify-center size-10 rounded-full bg-dark text-white">
                                    <lucide-icon name="arrow-up-right" class="size-5"></lucide-icon>
                                </a>
                            </div>
                        </div>
                    </article>
                </swiper-slide>
                }
            </swiper-container>
        </div>
    </div>
</section>