<section class="bg-default-50 relative overflow-hidden py-28">
    <div class="absolute top-0 end-0 mt-16 -me-4 text-end select-none">
        <h6 class="text-[350px] font-bold leading-none opacity-5">Air</h6>
        <h6 class="text-[350px] font-bold leading-none opacity-5">Pods</h6>
    </div>

    <figure class="absolute -bottom-28 start-0">
        <svg class="fill-body-bg" width="805" height="234" viewBox="0 0 805 234" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M397.811 234.041H407.242L407.242 0.0406647H397.811V234.041Z"></path>
            <path d="M375.791 199.177H385.223V34.9041H375.791V199.177Z"></path>
            <path d="M287.248 195.945H296.68V38.021H287.248V195.945Z"></path>
            <path d="M220.959 195.945H230.391L230.391 38.0206H220.959L220.959 195.945Z"></path>
            <path d="M66.2796 195.945H75.7109L75.7109 38.021H66.2796L66.2796 195.945Z"></path>
            <path d="M419.944 199.177H429.375V34.9041H419.944V199.177Z"></path>
            <path d="M353.655 182.438H363.086V51.6427H353.655V182.438Z"></path>
            <path d="M442.08 182.438H451.512V51.6427H442.08V182.438Z"></path>
            <path d="M486.237 182.438H495.668V51.6427H486.237V182.438Z"></path>
            <path d="M530.506 182.438H539.938V51.6427H530.506V182.438Z"></path>
            <path d="M508.373 195.945H517.805V38.0206H508.373V195.945Z"></path>
            <path d="M574.662 195.945H584.094V38.0206H574.662V195.945Z"></path>
            <path d="M309.385 182.669H318.816V51.4123H309.385V182.669Z"></path>
            <path d="M265.229 182.669H274.66V51.4123H265.229V182.669Z"></path>
            <path d="M154.666 182.669H164.098L164.098 51.4123H154.666L154.666 182.669Z"></path>
            <path d="M88.4163 182.669H97.8477L97.8477 51.4123H88.4163L88.4163 182.669Z"></path>
            <path d="M331.518 159.119H340.949V74.9622H331.518V159.119Z"></path>
            <path d="M464.217 159.119H473.648V74.9622H464.217V159.119Z"></path>
            <path d="M552.643 151.5H562.074V82.5815H552.643V151.5Z"></path>
            <path d="M596.799 151.5H606.23V82.5815H596.799V151.5Z"></path>
            <path d="M685.104 151.5H694.535V82.581H685.104V151.5Z"></path>
            <path d="M751.51 162.928H760.941V71.0368H751.51V162.928Z"></path>
            <path d="M773.491 154.386H782.922V79.6949H773.491V154.386Z"></path>
            <path d="M795.627 142.38H805.059V91.7008H795.627V142.38Z"></path>
            <path d="M618.932 169.624H628.363V64.457H618.932V169.624Z"></path>
            <path d="M663.084 169.624H672.516V64.457H663.084V169.624Z"></path>
            <path d="M640.991 182.669H650.422V51.4123H640.991V182.669Z"></path>
            <path d="M707.241 182.669H716.672V51.4118H707.241V182.669Z"></path>
            <path d="M729.377 195.945H738.809V38.0206H729.377V195.945Z"></path>
            <path d="M44.1468 162.929H53.5781L53.5781 71.0372H44.1468L44.1468 162.929Z"></path>
            <path d="M176.803 169.624H186.234V64.457H176.803V169.624Z"></path>
            <path d="M132.573 169.624H142.004V64.457H132.573V169.624Z"></path>
            <path d="M243.092 151.5H252.523V82.581H243.092V151.5Z"></path>
            <path d="M198.823 151.5H208.254V82.581H198.823V151.5Z"></path>
            <path d="M110.553 151.5H119.984L119.984 82.581H110.553L110.553 151.5Z"></path>
            <path d="M22.1663 154.386H31.5977L31.5977 79.6954H22.1663L22.1663 154.386Z"></path>
            <path d="M0.0295906 142.38H9.46094L9.46094 91.7012H0.0295906L0.0295906 142.38Z"></path>
        </svg>
    </figure>

    <div class="container relative">
        <div class="grid lg:grid-cols-12 grid-cols-1 gap-8 items-center">
            <div class="lg:col-span-7 mb-12 lg:mb-0">
                <h1 class="lg:text-7xl md:text-[58px] text-4xl font-bold lg:leading-26 mb-6">Magic Like You've Never Heard</h1>
                <p class="mb-6">Welcome to our AirPods landing page! Here, you will discover everything you need to know about the revolutionary wireless earbuds from Mizzle.</p>
                <a [routerLink]="[]" class="inline-block bg-primary text-white px-6 py-3 rounded-md font-medium hover:bg-primary-hover transition-all">Purchase Now</a>

                <hr class="md:my-14 my-6 border-default-200" />

                <div class="grid grid-cols-12 gap-6 items-center">
                    <div class="col-span-6 md:col-span-3">
                        <img src="assets/images/products/01.png" alt="product-img" class="w-full" />
                    </div>

                    <div class="col-span-12 md:col-span-8">
                        <h5 class="text-xl font-bold mb-4">Now with 4 new exciting colors</h5>
                        <p class="mb-4">AirPods are also designed with comfort in mind. They come with different ear tip sizes to fit a variety of ear shapes and sizes.</p>

                        <div class="flex space-x-2" role="tablist">
                            <div role="tab">
                                <input type="radio" name="color" id="white-color" class="hidden peer" checked />
                                <label for="white-color" class="block size-3 rounded-full border border-default-200 cursor-pointer peer-checked:ring peer-checked:ring-offset-2 peer-checked:ring-default-800 bg-[#fff]"></label>
                            </div>

                            <div role="tab">
                                <input type="radio" name="color" id="yellow-color" class="hidden peer" />
                                <label for="yellow-color" class="block size-3 rounded-full border border-default-200 cursor-pointer peer-checked:ring peer-checked:ring-offset-2 peer-checked:ring-default-800 bg-warning"></label>
                            </div>

                            <div role="tab">
                                <input type="radio" name="color" id="blue-color" class="hidden peer" />
                                <label for="blue-color" class="block size-3 rounded-full border border-default-200 cursor-pointer peer-checked:ring peer-checked:ring-offset-2 peer-checked:ring-default-800 bg-[#32c7f5]"></label>
                            </div>

                            <div role="tab">
                                <input type="radio" name="color" id="green-color" class="hidden peer" />
                                <label for="green-color" class="block size-3 rounded-full border border-default-200 cursor-pointer peer-checked:ring peer-checked:ring-offset-2 peer-checked:ring-default-800 bg-[#348866]"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:col-span-5">
                <div class="relative mx-auto lg:px-5">
                    <img src="assets/images/products/hero-img.png" alt="hero-img" class="lg:w-full w-lg mx-auto" />
                    <div class="absolute top-0 start-0">
                        <div class="relative">
                            <div class="hs-tooltip [--trigger:click] [--placement:right] relative size-12 flex items-center justify-center">
                                <span class="absolute size-12 rounded-full bg-primary opacity-50 animate-ripple"></span>
                                <button type="button" class="relative z-10 flex items-center justify-center size-10 rounded-full bg-body-bg text-primary shadow-md focus:ring-2 focus:ring-primary">
                                    <lucide-icon name="plus" class="size-4.5"></lucide-icon>
                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-3 px-4 bg-body-bg border border-default-200 text-sm text-default-600 rounded-lg shadow-md w-46 text-start" role="tooltip">
                                        And here's some amazing content. It's very engaging. Right?
                                    </span>
                                </button>
                            </div>

                            <figure class="absolute top-1/2 start-1/2 -mt-1 -ms-1">
                                <svg width="249" height="69" viewBox="0 0 249 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M244 66V1H0" stroke="#DCE0E5"></path>
                                    <circle class="fill-primary" cx="244" cy="64" r="5"></circle>
                                </svg>
                            </figure>
                        </div>
                    </div>

                    <div class="absolute bottom-0 md:end-0 -end-14 lg:mb-9 lg:me-12">
                        <div class="relative">
                            <div class="hs-tooltip [--trigger:click] [--placement:right] relative size-12 flex items-center justify-center">
                                <span class="absolute -top-8 -start-21 size-12 rounded-full bg-primary opacity-50 animate-ripple"></span>
                                <button type="button" class="hs-tooltip-toggle absolute -top-7 -start-20 z-10 flex items-center justify-center size-10 rounded-full bg-body-bg text-primary shadow-md focus:ring-2 focus:ring-primary">
                                    <lucide-icon name="plus" class="size-4.5"></lucide-icon>
                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-3 px-4 bg-body-bg border border-default-200 text-sm text-default-600 rounded-lg shadow-md w-46 text-start" role="tooltip">
                                        And here's some amazing content. It's very engaging. Right?
                                    </span>
                                </button>
                            </div>

                            <figure class="absolute -top-24 end-22">
                                <svg width="175" height="90" viewBox="0 0 175 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 4V89H175" stroke="#DCE0E5"></path>
                                    <circle class="fill-primary" cx="5" cy="5" r="5" transform="rotate(180 5 5)"></circle>
                                </svg>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>