<button 
  id="light-dark-mode"
  type="button"
  class="relative size-8 flex items-center justify-center rounded-full transition-[scale,background] text-default-800 hover:bg-default-200"
  (click)="toggleTheme()"
>

  <!-- SYSTEM -->
  @if (currentTheme === 'system') {
    <lucide-icon 
      name="monitor-cog"
      class="absolute text-default-800 size-4.5 transition-all duration-200 scale-100 rotate-0">
    </lucide-icon>
  }

  <!-- LIGHT -->
  @if (currentTheme === 'light') {
    <lucide-icon 
      name="moon"
      class="absolute text-default-800 size-4.5 transition-all duration-200 scale-100 rotate-0">
    </lucide-icon>
  }

  <!-- DARK -->
  @if (currentTheme === 'dark') {
    <lucide-icon 
      name="sun"
      class="absolute text-default-800 size-4.5 transition-all duration-200 scale-100 rotate-0">
    </lucide-icon>
  }

</button>
