<section class="lg:py-28 md:py-20 pt-38 pb-16">
  <div class="container">
    <div class="grid md:grid-cols-12 grid-cols-1 lg:gap-14 md:gap-x-6 gap-y-6">
      <div class="lg:col-span-5 md:col-span-12 lg:mb-0 md:mb-8">
        <h3 class="lg:text-[39px] md:text-3xl text-2xl">
          We're a dynamic, innovative digital agency rooted in the vibrant heart of
          <span class="text-primary">California</span>
        </h3>
      </div>

      <div class="lg:col-span-3 md:col-span-6">
        <div class="bg-default-100 rounded-md p-6 overflow-hidden relative lg:w-60">
          <p class="text-xl mb-18 md:mb-40 font-semibold text-default-800">Since</p>
          <div
            class="lg:text-8xl md:text-7xl text-5xl text-primary -me-5 md:-mb-11 -mb-8 font-semibold text-end"
          >
            1996
          </div>
        </div>
      </div>

      <div class="lg:col-span-4 md:col-span-6">
        <h6 class="text-xl md:mb-10 mb-6">28 Years of working experience</h6>
        <div class="hs-accordion-group">
          <div class="hs-accordion active border-b border-default-200" id="heading-1">
            <button
              class="hs-accordion-toggle py-4 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-default-800"
              aria-expanded="true"
              aria-controls="collapse-1"
            >
              <div class="flex items-center gap-1.5">
                <lucide-icon name="target" class="size-4.5 text-primary"></lucide-icon>
                Our Mission
              </div>
              <lucide-icon name="minus" class="size-4 hs-accordion-active:block hidden"></lucide-icon>
              <lucide-icon name="plus" class="size-4 hs-accordion-active:hidden block"></lucide-icon>
            </button>

            <div
              id="collapse-1"
              class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
              role="region"
              aria-labelledby="heading-1"
            >
              <p class="mb-6">
                Effective design communicates your brand's identity, cultivates trust, and can
                significantly impact conversion rates and customer loyalty.
              </p>
            </div>
          </div>

          <div class="hs-accordion border-b border-default-200" id="heading-1">
            <button
              class="hs-accordion-toggle py-4 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-default-800"
              aria-expanded="true"
              aria-controls="collapse-1"
            >
              <div class="flex items-center gap-1.5">
                <lucide-icon name="trophy" class="size-4.5 text-primary"></lucide-icon>
                Our Goal
              </div>

              <lucide-icon name="minus" class="size-4 hs-accordion-active:block hidden"></lucide-icon>
              <lucide-icon name="plus" class="size-4 hs-accordion-active:hidden block"></lucide-icon>
            </button>

            <div
              id="collapse-1"
              class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
              role="region"
              aria-labelledby="heading-1"
            >
              <p class="mb-6">
                We provide a range of tools, guides, and best practices to help you create designs,
                websites.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
