 <section class="bg-default-100 relative overflow-hidden py-16">
        <!-- SVG Decoration -->
        <figure class="absolute top-0 -start-28 mt-10">
            <svg width="371" height="354" viewBox="0 0 371 354" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="172.5" cy="176.5" rx="131.5" ry="125.5" fill="url(#paint0_linear_195_2)" />
                <ellipse cx="185.5" cy="177" rx="185.5" ry="177" fill="url(#paint1_linear_195_2)" />
                <defs>
                    <linearGradient id="paint0_linear_195_2" x1="172.5" y1="51" x2="172.5" y2="302" gradientUnits="userSpaceOnUse">
                        <stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.5" />
                        <stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_195_2" x1="185.5" y1="0" x2="185.5" y2="354" gradientUnits="userSpaceOnUse">
                        <stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.2" />
                        <stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>
        </figure>

        <!-- Bottom Decoration -->
        <div class="absolute end-10 bottom-0">
            <img src="assets/images/elements/cta-vector.svg" class="h-50" alt="vector-img" />
        </div>

        <div class="container relative">
            <div class="grid md:grid-cols-12 items-center md:gap-8 gap-2">
                <!-- Title + Text -->
                <div class="md:col-span-7">
                    <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold mb-2">Subscribe to our newsletter</h2>
                    <p class="text-default-600 mb-4">Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to give our customers the best experience.</p>
                </div>

                <!-- Email Form -->
                <form class="md:col-span-5 lg:col-span-4 md:ms-18">
                    <input type="email" placeholder="Enter your email address" class="w-full mb-4 px-4 py-2 bg-body-bg border border-default-200 rounded-md placeholder:text-default-400" />
                    <button class="w-full bg-dark hover:bg-dark-hover text-white py-2 rounded-md font-medium transition-all">Subscribe now</button>
                </form>
            </div>
        </div>
    </section>