<section class="lg:py-28 md:py-20 py-16">
    <div class="container">
        <div class="grid md:grid-cols-12 md:gap-0 gap-y-6 items-center">
            <div class="lg:col-span-5 md:col-span-6">
                <div class="lg:w-lg md:w-xs lg:ms-auto">
                    <img src="/images/about/21.jpg" class="rounded" />
                </div>
            </div>

            <div class="lg:col-span-7 md:col-span-6">
                <div class="lg:w-xl md:w-sm md:ms-auto">
                    <h2 class="lg:text-[45px] md:text-4xl text-3xl md:mb-6 mb-2">Learn About Our Journey to SEO Mastery</h2>
                    <p class="mb-6">With a team of dedicated professionals and years of industry experience, we pride ourselves on delivering innovative and effective SEO solutions tailored to your unique needs.</p>
                    <p class="mb-6">Whether you're a small startup or a large enterprise, we have the expertise to meet your needs.</p>
                    <div class="bg-dark inline-flex items-center gap-2 text-white font-medium px-10 py-4 rounded-md shadow">
                        <span>Work with us?</span>
                        <a routerLink="/contact/v2" class="ms-1 text-primary hover:text-primary-hover font-medium flex items-center gap-1 transition-all">
                            Contact us now
                            <lucide-icon name="chevron-right" class="size-4.5"></lucide-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>