<div class="container">
    <div class="lg:w-2/3 mx-auto text-center">
        <div class="inline-block bg-dark text-white text-xs font-medium px-3 py-1 rounded mb-6">Lifestyle</div>

        <h1 class="lg:text-[45px] md:text-4xl text-3xl">The Power of Gratitude: Cultivating Joy and Abundance</h1>
        <div class="flex flex-wrap md:justify-between justify-center items-center md:gap-0 gap-y-8 mt-10">
            <div class="flex items-center gap-2">
                <img class="size-12 rounded-full" src="assets/images/avatar/05.jpg" alt="avatar" />
                <div class="text-start">
                    <h6 class="text-xl hover:text-primary transition-all"><a [routerLink]="[]">Carolyn Ortiz</a></h6>
                    <small class="text-sm">1 day ago</small>
                </div>
            </div>

            <div class="flex flex-wrap items-center">
                <div class="hs-dropdown [--auto-close:inside] relative inline-flex">
                    <button id="hs-dropdown-default" type="button" class="hs-dropdown-toggle flex items-center gap-2 text-default-400 hover:text-primary transition-all" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                        <lucide-icon name="share-2" class="size-4"></lucide-icon>
                        14
                    </button>

                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 bg-body-bg shadow-xl rounded-md px-2.5 py-3 border border-default-200" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-default">
                        <div class="space-y-0.5">
                            <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                                <lucide-icon name="facebook" class="fill-default-500 text-default-600 size-4 group-hover:fill-primary group-hover:text-primary"></lucide-icon>
                                Facebook
                            </a>

                            <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                                <lucide-icon name="instagram" class="text-default-600 size-4 group-hover:text-primary"></lucide-icon>
                                Instagram
                            </a>

                            <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                                <iconify-icon icon="tabler:brand-whatsapp" class="text-default-600 size-4.5 group-hover:text-primary"></iconify-icon>
                                Whatsapp
                            </a>

                            <a class="flex items-center gap-2 py-1.5 px-4 text-[15px] hover:bg-primary/10 font-medium hover:text-primary rounded group" [routerLink]="[]">
                                <lucide-icon name="copy" class="text-default-600 size-4 group-hover:text-primary"></lucide-icon>
                                Facebook
                            </a>
                        </div>
                    </div>
                </div>

                <span class="text-default-600 opacity-30 mx-4">|</span>

                <a [routerLink]="[]" class="text-default-400 hover:text-primary flex items-center gap-2">
                    <lucide-icon name="message-circle" class="size-4"></lucide-icon>
                    5
                </a>

                <span class="text-default-600 opacity-30 mx-4">|</span>
                <span class="text-default-400">2 min read</span>
            </div>
        </div>
    </div>

    <div class="lg:w-5/6 mx-auto lg:mt-14 mt-6">
        <img src="assets/images/blog/02.jpg" class="rounded" alt="blog-img" />
    </div>

    <div class="lg:w-2/3 mx-auto lg:mt-14 mt-6">
        <p class="text-default-600 leading-relaxed mb-4">
            <span class="float-left me-3 text-6xl font-semibold bg-default-100 text-default-800 rounded px-2">T</span>
            he simple act of cultivating gratitude has the remarkable ability to bring joy and abundance into our lives, shifting our perspective from lack to abundance. In this article, we will explore the power of gratitude and how it can enhance our overall
            well-being and create a positive ripple effect in our lives and the lives of those around us.
            <strong class="font-semibold text-default-900">In a world filled with chaos</strong>
            and uncertainty, it's easy to lose sight of the things that truly matter.
        </p>

        <p class="mb-4">
            Additionally, expressing gratitude to others through acts of kindness or
            <u>heartfelt appreciation strengthens our relationships and</u>
            fosters a sense of interconnectedness.
        </p>

        <p class="mb-4">
            Incorporating gratitude into our daily routine can be as simple as keeping a gratitude journal, where we write down three things we are grateful for each day.
            <strong>This practice helps us become more attuned</strong>
            to the positive aspects of our lives, no matter how small they may seem.
        </p>

        <p>
            By reframing obstacles as opportunities for growth and learning,
            <mark class="bg-warning/20 px-2 py-1">we can navigate through difficulties with</mark>
            a sense of gratitude for the lessons they bring. This mindset shift empowers us to find joy and meaning in every circumstance, leading to a more fulfilling and purposeful life.
        </p>
    </div>

    <div class="lg:w-5/6 mx-auto lg:mt-14 mt-6">
        <div class="grid md:grid-cols-2 grid-cols-1 lg:gap-14 gap-6">
            <a href="assets/images/blog/4by4/04.jpg" data-gallery="image-popup" appGlightbox>
                <img src="assets/images/blog/4by4/04.jpg" class="rounded" alt="blog-img" />
            </a>

            <a href="assets/images/blog/4by4/06.jpg" data-gallery="image-popup" appGlightbox>
                <img src="assets/images/blog/4by4/06.jpg" class="rounded" alt="blog-img" />
            </a>
        </div>
    </div>

    <div class="lg:w-2/3 mx-auto lg:mt-14 mt-6">
        <h6 class="text-xl font-bold mb-2">Step 1: Shifting Perspective: From Lack to Abundance</h6>
        <p class="mb-10">
            Gratitude has the unique ability to shift our perspective from focusing on what we lack to appreciating what we have. Often, we get caught up in the pursuit of material possessions or achievements, believing that they will bring us happiness. However, true
            abundance is found in appreciating the present moment and recognizing the blessings that already exist in our lives. Cultivating gratitude allows us to break free from the cycle of perpetual longing and embrace the abundance that surrounds us.
        </p>

        <h6 class="text-xl font-bold mb-2">Step 2: The Ripple Effect of Gratitude</h6>
        <ul class="list-disc list-inside space-y-2">
            <li>Shift in Perspective: Gratitude allows us to shift our perspective from focusing on what we lack to appreciating what we have.</li>
            <li>By recognizing and acknowledging the blessings in our lives, we invite a sense of abundance and contentment.</li>
            <li>Scientific research has demonstrated that gratitude positively impacts our mental and physical health.</li>
            <ul class="list-disc list-inside ps-6">
                <li>It allows us to focus on the positive aspects.</li>
                <li>It enables us to reframe obstacles as opportunities.</li>
                <li>The power of gratitude extends beyond ourselves.</li>
            </ul>
            <li>Enables us to reframe obstacles as opportunities for growth and learning. By embracing a mindset of gratitude.</li>
            <li>Recognizing and acknowledging the blessings in our lives, we invite a sense of abundance and contentment.</li>
        </ul>
    </div>

    <div class="lg:w-5/6 mx-auto lg:mt-14 mt-6">
        <img src="assets/images/blog/03.jpg" class="rounded" alt="blog-img" />
    </div>

    <div class="lg:w-2/3 mx-auto lg:mt-14 mt-6">
        <h5 class="mb-3 flex justify-center">
            <lucide-icon name="quote" class="md:size-15 size-10 fill-primary text-primary"></lucide-icon>
        </h5>

        <p class="md:text-3xl text-2xl text-default-800 text-center md:leading-11">"Fulfilled direction use continually set him propriety continued. Farther-related bed and passage comfort civilly. Concluded boy perpetual old supposing."</p>
        <div class="mt-4 text-xl text-center">- Albert Schweitzer</div>
    </div>

    <hr class="my-14 lg:w-1/2 mx-auto border-default-300" />

    <div class="text-center">
        <h6 class="mb-2 text-default-800 font-bold text-xl">Popular Tags:</h6>
        <ul class="flex justify-center flex-wrap gap-2">
            @for (item of popularTagData; track $index) {
            <li>
                <a [routerLink]="[]" class="border border-default-300 text-default-600 hover:bg-default-300 hover:text-default-800 text-sm px-3 py-1.5 rounded transition-all">{{item}}</a>
            </li>
            }
        </ul>
    </div>

    <div class="bg-default-100 rounded flex flex-wrap md:justify-between justify-center items-center text-center p-4 mt-10 space-y-3 md:space-y-0 md:w-3xl mx-auto">
        <!-- Title -->
        <h6 class="text-default-800 font-bold text-xl">Was this article helpful?</h6>
        <small class="block py-1 md:py-0 text-default-600">25 out of 78 found this helpful</small>

        <!-- Yes / No Buttons -->
        <div class="flex">
            <!-- Yes button -->
            <div>
                <input type="radio" name="reviewHelpful" id="btnYes" class="hidden peer" />
                <label for="btnYes" class="border border-default-500 flex items-center gap-1 peer-checked:bg-default-500 border-e-0 peer-checked:text-white text-[13px] py-1.5 px-3 rounded-s">
                    <lucide-icon name="thumbs-up" class="size-4"></lucide-icon>
                    Yes
                </label>
            </div>

            <!-- No button -->
            <div>
                <input type="radio" name="reviewHelpful" id="btnNo" class="hidden peer" />
                <label for="btnNo" class="border border-default-500 flex items-center gap-1 peer-checked:bg-default-500 peer-checked:text-white text-[13px] py-1.5 px-3 rounded-e">
                    <lucide-icon name="thumbs-down" class="size-4"></lucide-icon>
                    No
                </label>
            </div>
        </div>
    </div>
</div>