<section class="lg:py-28 py-18">
    <div class="container">
        <div class="grid lg:grid-cols-4 grid-cols-1 gap-4">
            <div>
                <app-account-sidebar />
            </div>

            <div class="lg:col-span-3 lg:ps-14">
                <div class="flex justify-between items-center mb-14">
                    <h1 class="lg:text-4xl md:text-3xl text-2xl">Payment details</h1>
                    <div class="lg:hidden flex items-center gap-2 text-start">
                        <button type="button"
                            class="flex items-center gap-2 py-2 px-4 bg-primary hover:bg-primary-hover text-white rounded font-medium w-full"
                            aria-haspopup="dialog" aria-expanded="false" aria-controls="offcanvasSidebar"
                            aria-label="Toggle navigation" data-hs-overlay="#offcanvasSidebar">
                            <lucide-icon name="sliders-horizontal" class="size-4"></lucide-icon>
                            Menu
                        </button>
                    </div>
                </div>

                <div class="border border-default-200 rounded">
                    <div class="border-b border-default-200 p-5 flex flex-wrap items-center justify-between">
                        <h5 class="md:text-2xl text-xl">Active Plan</h5>
                        <a [routerLink]="[]"
                            class="bg-default-100 hover:bg-default-200 text-default-800 font-medium transition-all py-2 px-4 rounded flex items-center gap-2">
                            <lucide-icon name="file" class="size-4"></lucide-icon>
                            Download Pdf
                        </a>
                    </div>

                    <div class="p-5">
                        <div class="flex flex-wrap justify-between items-center">
                            <div class="md:mb-0 mb-3">
                                <div class="size-14 bg-default-100 flex justify-center items-center rounded-full mb-4">
                                    <lucide-icon name="rocket"
                                        class="size-6 fill-default-700 text-default-700"></lucide-icon>
                                </div>
                                <h6 class="text-xl mb-2">Standard plan</h6>
                                <p>
                                    Valid till:
                                    <span class="font-semibold">May 2023 - April 2024</span>
                                </p>
                            </div>

                            <div>
                                <h6 class="md:text-[45px] text-3xl mb-1">$199</h6>
                                <span>Total per year</span>
                            </div>
                        </div>

                        <div class="mt-10">
                            <div class="flex justify-between items-center mb-4">
                                <p class="text-default-800 font-semibold">Storage usage</p>
                                <p>
                                    <span class="font-bold text-default-800">5.23 GB</span>
                                    used of 10 GB
                                </p>
                            </div>

                            <div class="flex w-full h-2.5 mb-2 overflow-hidden rounded-xl">
                                <div class="h-full bg-primary w-[45%]"></div>
                                <div class="h-full bg-primary/40 w-[20%]"></div>
                                <div class="h-full bg-default-200 w-full"></div>
                            </div>

                            <ul class="flex flex-wrap gap-4">
                                <li class="flex items-center gap-2 text-default-700">
                                    <span class="size-2.5 bg-primary rounded-full"></span>
                                    Drive one
                                </li>

                                <li class="flex items-center gap-2 text-default-700">
                                    <span class="size-2.5 bg-primary/25 rounded-full"></span>
                                    Drive two
                                </li>

                                <li class="flex items-center gap-2 text-default-600">
                                    <span class="size-2.5 bg-default-400/50 rounded-full"></span>
                                    Empty drive
                                </li>
                            </ul>
                        </div>

                        <div class="mt-6">
                            <div class="flex md:flex-nowrap flex-wrap md:justify-end items-center md:gap-4 gap-2">
                                <a [routerLink]="[]"
                                    class="py-2 px-4 bg-danger/15 hover:bg-danger text-danger hover:text-white font-medium rounded md:w-auto w-full text-center transition-all">Cancel
                                    subscription</a>

                                <a [routerLink]="[]"
                                    class="py-2 px-4 bg-dark hover:bg-dark-hover text-white font-medium rounded md:w-auto w-full text-center transition-all">Update
                                    plan</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center my-10">
                    <lucide-icon name="ellipsis" class="size-4 mx-auto"></lucide-icon>
                </div>

                <div class="bg-transparent">
                    <!-- Header -->
                    <div class="flex flex-wrap items-center justify-between border-b border-default-200 pb-4">
                        <div class="md:mb-0 mb-2">
                            <h6 class="md:text-2xl text-xl">Saved payment methods</h6>
                        </div>

                        <button type="button"
                            class="flex items-center gap-2 bg-primary hover:bg-primary-hover text-white py-2 px-4 rounded disabled:opacity-50 disabled:pointer-events-none"
                            aria-haspopup="dialog" aria-expanded="false" aria-controls="addcard"
                            data-hs-overlay="#addcard">
                            <lucide-icon name="plus" class="size-4"></lucide-icon>
                            Add new card
                        </button>

                        <div id="addcard"
                            class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto"
                            role="dialog" tabindex="-1" aria-labelledby="addcard-label">
                            <div
                                class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center">
                                <div
                                    class="w-full flex flex-col bg-body-bg border border-default-200 shadow-2xs rounded-md">
                                    <div
                                        class="flex justify-between items-center py-3 px-4 border-b border-default-200">
                                        <h3 id="addcard-label" class="font-bold text-default-800 text-2xl">Add card</h3>

                                        <button type="button"
                                            class="size-8 inline-flex justify-center items-center gap-x-2 rounded border border-transparent bg-default-100 text-default-800 hover:bg-default-200 focus:outline-hidden focus:bg-default-200 disabled:opacity-50 disabled:pointer-events-none"
                                            aria-label="Close" data-hs-overlay="#addcard">
                                            <lucide-icon name="x" class="size-4"></lucide-icon>
                                        </button>
                                    </div>

                                    <div class="p-6 overflow-y-auto">
                                        <div class="grid grid-cols-2 gap-6">
                                            <div class="col-span-2">
                                                <label class="text-default-400 mb-2 block">Card Number</label>
                                                <div class="relative">
                                                    <input type="text"
                                                        class="w-full border border-default-200 text-default-800 rounded py-2 px-4"
                                                        maxlength="16" placeholder="xxxx xxxx xxxx xxxx" />
                                                    <img src="/images/elements/visa.svg"
                                                        class="w-10 absolute top-1 end-4 translate-y-1" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="text-default-400 mb-2 block">Expiration date</label>
                                                <div class="flex items-center">
                                                    <input type="text"
                                                        class="w-full border border-default-200 text-default-800 rounded-s py-2 px-4"
                                                        maxlength="2" placeholder="Month" />
                                                    <input type="text"
                                                        class="w-full border border-default-200 text-default-800 rounded-e py-2 px-4"
                                                        maxlength="4" placeholder="Year" />
                                                </div>
                                            </div>

                                            <div>
                                                <label class="text-default-400 mb-2 block">CVV / CVC</label>
                                                <input type="text"
                                                    class="w-full border border-default-200 text-default-800 rounded-s py-2 px-4"
                                                    maxlength="3" placeholder="xxx" />
                                            </div>

                                            <div class="col-span-2">
                                                <label class="text-default-400 mb-2 block">Name on CardVC</label>
                                                <input type="text"
                                                    class="w-full border border-default-200 text-default-800 rounded-s py-2 px-4"
                                                    aria-label="name of card holder"
                                                    placeholder="Name of card holder" />
                                            </div>

                                            <div class="col-span-2">
                                                <div class="flex items-center gap-2">
                                                    <input type="checkbox"
                                                        class="size-4 rounded border-0 bg-default-200! checked:bg-primary!"
                                                        id="exampleCheck1" />
                                                    <label for="exampleCheck1">Secuarely save card and details</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="flex justify-end items-center gap-x-2 py-3 px-6 border-t border-default-200">
                                        <button type="button"
                                            class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-md border border-default-200 bg-body-bg text-default-800 shadow-2xs hover:bg-default-100 transition-all"
                                            data-hs-overlay="#addcard">
                                            Close
                                        </button>

                                        <button type="button"
                                            class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-md bg-primary hover:bg-primary-hover text-white shadow-2xs transition-all">
                                            Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Body -->
                    <div class="my-6">
                        @for (item of paymentData; track item.id) {
                        <div class="border border-default-200 rounded p-6 mb-6">
                            <div class="flex flex-wrap justify-between items-center">
                                <div class="md:flex items-center gap-4">
                                    <img class="rounded size-12" [src]="item.image" alt="Image Description" />

                                    <div class="md:mt-0 mt-2">
                                        <p class="text-default-800">
                                            {{ item.cardName }} {{ item.number }}

                                            @if (item.isPrimary) {
                                            <span class="bg-primary text-white px-2 py-0.5 rounded text-xs">
                                                primary
                                            </span>
                                            }
                                        </p>

                                        <small class="text-default-400 text-sm">
                                            {{ item.type }} - Expires {{ item.expiry }}
                                        </small>
                                    </div>
                                </div>

                                <div class="md:ms-auto md:mt-0 mt-3">
                                    <div class="flex items-center gap-4">
                                        <a [routerLink]="[]"
                                            class="border border-default-200 text-default-800 flex items-center gap-2 py-1.5 px-3 rounded text-sm hover:bg-default-200 transition-all">
                                            <lucide-icon name="pencil" class="fill-default-800 size-4"></lucide-icon>
                                            Edit
                                        </a>

                                        <a [routerLink]="[]"
                                            class="border border-default-200 text-default-800 flex items-center gap-2 py-1.5 px-3 rounded text-sm hover:bg-default-200 transition-all">
                                            <lucide-icon name="trash-2" class="size-4"></lucide-icon>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>

                <div class="text-center my-10">
                    <lucide-icon name="ellipsis" class="size-4 mx-auto"></lucide-icon>
                </div>

                <div class="bg-transparent">
                    <!-- Header -->
                    <div class="flex items-center justify-between border-b border-default-200 pb-4">
                        <div>
                            <h6 class="text-2xl">Transition history</h6>
                        </div>
                    </div>

                    <!-- Body -->
                    <div class="my-6">
                        <div class="grid md:grid-cols-3 grid-cols-1 md:gap-16 gap-4 mb-6">
                            <div class="md:col-span-2">
                                <form class="relative">
                                    <input type="text" placeholder="Search"
                                        class="w-full border border-default-200 text-default-600 rounded py-2 px-4" />
                                    <lucide-icon name="search"
                                        class="size-5 absolute inset-y-0 end-1.5 top-1/2 -translate-y-1/2 text-default-400"></lucide-icon>
                                </form>
                            </div>

                            <div class="md:col-span-1">
                                <select
                                    class="w-full border border-default-200 text-default-800 rounded py-2 px-4 pe-10">
                                    <option value="">Sort by</option>
                                    <option>Newest</option>
                                    <option>Oldest</option>
                                </select>
                            </div>
                        </div>

                        <div class="overflow-x-auto whitespace-nowrap">
                            <table class="min-w-full text-start">
                                <thead>
                                    <tr class="bg-dark text-white">
                                        <th class="px-2 py-4 text-start rounded-s-md">Reference</th>
                                        <th class="px-2 py-4 text-start">Payment method</th>
                                        <th class="px-2 py-4 text-start">Status</th>
                                        <th class="px-2 py-4 text-start">Amount</th>
                                        <th class="px-2 py-4 text-start">Date</th>
                                        <th class="px-2 py-4 text-start rounded-e-md">Action</th>
                                    </tr>
                                </thead>

                                <tbody class="divide-y divide-default-200">

                                    @for (item of transitionData; track item.id) {

                                    <tr class="hover:bg-default-50 text-default-800 border-b border-default-200">

                                        <td class="px-2 py-4">
                                            <a [routerLink]="[]"
                                                class="text-primary hover:text-primary-hover transition-all">
                                                {{ item.orderId }}
                                            </a>
                                        </td>

                                        <td class="px-2 py-4">
                                            <div class="flex items-center gap-2">
                                                <img [src]="item.cardImage" class="h-5" />
                                                <span>{{ item.cardNumber }}</span>
                                            </div>
                                        </td>

                                        <td class="px-2 py-4">
                                            <span class="px-2 py-1 text-xs rounded" [class]="item.statusClass">
                                                {{ item.status }}
                                            </span>
                                        </td>

                                        <td class="px-2 py-4">
                                            {{ item.amount }}
                                        </td>

                                        <td class="px-2 py-4">
                                            {{ item.date }}
                                        </td>

                                        <td class="px-2 py-4">
                                            <div class="hs-tooltip [--placement:top] inline-block">

                                                <button type="button"
                                                    class="hs-tooltip-toggle size-10 inline-flex justify-center items-center gap-2 rounded-full bg-default-50 border border-default-200 hover:bg-default-200 transition-all text-default-600">
                                                    <lucide-icon name="download" class="size-4"></lucide-icon>

                                                    <span
                                                        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-default-900 text-xs font-medium text-default-50 rounded-md shadow-2xs"
                                                        role="tooltip">
                                                        Download
                                                    </span>
                                                </button>

                                            </div>
                                        </td>

                                    </tr>

                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>