<section class="lg:pb-28 md:pb-20 pb-16">
  <div class="container">
    <div
      class="relative rounded-md overflow-hidden md:p-14 p-6 bg-cover bg-center bg-[url('/images/bg/05.jpg')]"
    >
      <!-- Overlay -->
      <div class="absolute inset-0 bg-black/60"></div>
      <div class="relative z-10 grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- Left List -->
        <div class="lg:col-span-1 mb-5 lg:mb-0">
          <div class="flex flex-col h-full">
            <ul class="space-y-2 mb-4">
              <li class="text-white md:text-2xl text-xl font-semibold leading-tight">Innovate.</li>
              <li class="text-white md:text-4xl text-3xl font-semibold leading-tight">Elevate.</li>
              <li class="text-white md:text-4xl text-3xl font-semibold leading-tight">Succeed.</li>
            </ul>

            <!-- Button -->
            <div class="mt-auto">
              <a
                [routerLink]="[]"
                class="inline-flex items-center gap-2 border border-white text-white px-6 py-3 rounded-md hover:bg-white hover:text-black transition group"
              >
                Join our community
                <i
                  data-lucide="move-right"
                  class="size-4 group-hover:translate-x-1 trasition-all duration-300"
                ></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Testimonials -->
        <div class="lg:col-span-2 lg:ms-36">
          <div class="bg-body-bg rounded-md p-10">
            <!-- Header -->
            <h5 class="md:text-2xl text-xl font-semibold mb-8">Here our customers experience</h5>

            <div
              class="swiper"
              data-swiper-options='{
                                    "spaceBetween": 30,
                                    "grabCursor": true,
                                    "pagination": {
                                    "el": ".swiper-pagination",
                                    "clickable": true
                                    }
                                }'
            >
              <div class="swiper-wrapper pb-10">
                <!-- Slide 1 -->
                <div class="swiper-slide">
                  <ul class="flex items-center gap-1 mb-4 text-warning">
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star-half" class="fill-warning size-4"></lucide-icon>
                    </li>
                  </ul>

                  <q class="text-xl text-default-700"
                    >The best Template we've ever used - it's easy to customize and comes with all
                    the features we need. Resolving breakfast am or perfectly.</q
                  >

                  <div class="flex items-center mt-6 mb-3">
                    <img src="/images/avatar/05.jpg" class="size-12 rounded-full" alt="avatar" />

                    <div class="ms-3">
                      <span class="font-bold text-default-800">Amanda Reed</span>
                      <p class="text-sm text-default-600">Content writer</p>
                    </div>
                  </div>
                </div>

                <!-- Slide 2 -->
                <div class="swiper-slide">
                  <ul class="flex items-center gap-1 mb-4 text-warning">
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star-half" class="fill-warning size-4"></lucide-icon>
                    </li>
                  </ul>

                  <q class="text-xl text-default-700"
                    >Mizzle is the perfect theme for businesses that want to create a stylish and
                    functional website.</q
                  >

                  <div class="flex items-center mt-6 mb-3">
                    <img src="/images/avatar/04.jpg" class="size-12 rounded-full" alt="avatar" />

                    <div class="ms-3">
                      <span class="font-bold text-default-800">Dennis Barrett</span>
                      <p class="text-sm text-default-600">CEO and Manager of Mizzle</p>
                    </div>
                  </div>
                </div>

                <!-- Slide 3 -->
                <div class="swiper-slide">
                  <ul class="flex items-center gap-1 mb-4 text-warning">
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star" class="fill-warning size-4"></lucide-icon>
                    </li>
                    <li>
                      <lucide-icon name="star-half" class="fill-warning size-4"></lucide-icon>
                    </li>
                  </ul>

                  <q class="text-xl text-default-700"
                    >StackBros helped us create a stunning website that reflects our brand
                    perfectly.</q
                  >

                  <div class="flex items-center mt-6 mb-3">
                    <img src="/images/avatar/01.jpg" class="size-12 rounded-full" alt="avatar" />

                    <div class="ms-3">
                      <span class="font-bold text-default-800">Samuel Bishop</span>
                      <p class="text-sm text-default-600">Manager of Mizzle</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pagination -->
              <div class="swiper-pagination bottom-0!"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
