<section class="lg:py-28 md:py-20 py-16">
        <div class="container">
            <div class="text-center mb-6 md:mb-10">
                <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold mb-6">Expert solution for your growth</h2>
                <p class="lg:w-4xl mx-auto">There is nothing that can stop you from achieving what you want, except yourself. If you devote yourself to it you will achieve your goal.</p>
            </div>

            <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                <div class="bg-default-50 border border-default-200 rounded-lg overflow-hidden flex flex-col h-full">
                    <div class="flex-1 md:px-10 md:pt-10 pt-5 px-5 pb-5">
                        <h5 class="md:text-2xl text-xl font-bold mb-4">Multiple integrations</h5>
                        <p class="mb-4">Multiple integrations play a vital role in modern business operations by connecting diverse systems.</p>
                        <a routerLink="/integrations" class="inline-flex items-center px-4 py-2 text-xs font-medium bg-dark text-white rounded hover:bg-dark/85 transiiton-all">View integrations</a>
                    </div>

                    <div>
                        <img src="/images/elements/saas-decoration/07.png" class="w-full" />
                    </div>
                </div>

                <div class="bg-default-50 border border-default-200 rounded-lg overflow-hidden flex flex-col h-full">
                    <div class="flex-1 md:px-10 md:pt-10 pt-5 px-5 pb-5">
                        <h5 class="md:text-2xl text-xl font-bold mb-4">High Conversions</h5>
                        <p class="mb-4">Each row should represent a distinct record, while columns hold various attributes or variables.</p>
                        <p class="text-default-800 flex items-center">
                            <span class="font-bold gap-1 me-1">4.5</span>
                            <lucide-icon name="star" class="size-4 text-warning fill-warning"></lucide-icon>
                            <span class="mx-2">|</span>
                            <a routerLink="/customer/stories">View 256 reviews</a>
                        </p>
                    </div>

                    <div class="p-0">
                        <img src="/images/elements/saas-decoration/08.png" class="w-full" />
                    </div>
                </div>

                <div class="bg-default-50 border border-default-200 rounded-lg overflow-hidden flex flex-col h-full">
                    <div class="flex-1 md:px-10 md:pt-10 pt-5 px-5 pb-5">
                        <h5 class="md:text-2xl text-xl font-bold mb-4">Real-time analytics</h5>
                        <p class="mb-4">A unified customer view enables personalized interactions across various touchpoints.</p>

                        <a routerLink="/portfolio/showcase" class="group inline-flex items-center gap-1 font-medium text-primary hover:text-primary-hover">
                            Read our case study
                            <lucide-icon name="arrow-right" class="size-4 group-hover:translate-x-1 transition-all"></lucide-icon>
                        </a>
                    </div>

                    <div class="p-0">
                        <img src="/images/elements/saas-decoration/09.png" class="w-full" />
                    </div>
                </div>
            </div>
        </div>
    </section>