<section class="bg-dark lg:pt-74 pb-28 md:py-20 py-16">
        <div class="container">
            <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-7.5 lg:pt-0 pt-30">
                <div class="relative lg:col-span-5">
                    <figure class="absolute -top-10 -start-16">
                        <svg width="117" height="98" viewBox="0 0 117 98" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path class="fill-white" d="M53.9804 0.725277C52.9701 1.69222 52.9701 5.07654 53.9804 11.1683C54.9906 17.1634 55.7123 18.5654 57.5885 18.5654C58.3582 18.5654 59.128 18.3237 59.3685 18.0336C59.561 17.6952 59.2723 13.9241 58.7912 9.52449C58.1177 3.52942 57.6847 1.45049 57.0112 0.773624C55.9047 -0.241669 54.9425 -0.290017 53.9804 0.725277Z"></path>
                            <path class="fill-white" d="M94.055 9.62103C87.2236 16.3413 84.8182 19.3872 85.0106 21.2244C85.1068 22.3847 85.3955 22.7715 86.3095 22.9165C87.2236 23.0616 88.3782 22.2397 91.6015 19.0004C96.9415 13.7305 101.512 8.46069 101.512 7.54209C101.512 6.62349 100.165 5.31812 99.2026 5.31812C98.7696 5.36646 96.4604 7.25201 94.055 9.62103Z"></path>
                            <path class="fill-white" d="M23.2866 15.2294C22.2763 15.8096 22.1801 17.5984 23.046 18.7104C24.1044 20.0641 34.0148 25.9625 35.2656 25.9625C35.891 25.9625 36.7088 25.6241 37.0937 25.2373C38.537 23.4001 36.4202 21.1278 29.1077 16.5348C25.9806 14.6492 24.7779 14.3108 23.2866 15.2294Z"></path>
                            <path class="fill-white" d="M103.433 40.37L97.8047 41.4337V42.8357C97.8047 43.851 98.1414 44.4312 99.0555 45.0114C100.21 45.6399 101.124 45.6399 107.09 44.8663C116.038 43.7543 116.038 43.7543 116.663 42.3523C117.096 41.337 117.048 40.9985 116.326 40.1283C115.22 38.8713 110.986 38.9196 103.433 40.37Z"></path>
                            <path class="fill-white" d="M3.94616 46.1232C0.193694 46.8485 -1.20145 49.2175 1.20397 50.7646C1.97371 51.2481 2.83967 51.4414 3.80184 51.1997C4.57157 51.0547 8.42026 50.7162 12.4133 50.5228C17.8495 50.2328 19.7739 49.9427 20.3512 49.4109C21.5058 48.2505 20.3993 46.8001 17.8495 46.1232C15.3479 45.4947 7.12133 45.4947 3.94616 46.1232Z"></path>
                            <path class="fill-white" d="M89.1454 69.9584C88.9529 70.1034 88.8086 70.7803 88.8086 71.4088C88.8086 72.7142 90.2518 73.8262 97.6125 77.9357C103.915 81.465 104.877 81.7551 106.416 80.4981C108.244 79.0477 107.234 77.5006 102.664 74.8898C95.3032 70.6352 90.3 68.7981 89.1454 69.9584Z"></path>
                            <path class="fill-white" d="M30.8398 72.8111C28.3382 74.9384 21.2181 86.9769 20.0635 91.038C19.0532 94.519 21.9397 95.9211 24.0565 93.0203C24.6819 92.1984 26.3657 89.2975 27.7609 86.6868C29.1079 84.0277 31.369 80.1115 32.6198 77.8876C34.929 74.0681 35.2177 72.8111 33.9187 71.9408C33.0047 71.3123 32.3312 71.5541 30.8398 72.8111Z"></path>
                            <path class="fill-white" d="M60.9544 80.7401C60.1365 81.707 60.0884 93.6488 60.9063 95.7277C61.243 96.4529 62.0128 97.3232 62.7825 97.6616C63.889 98.1935 64.1776 98.1451 65.0436 97.0815C65.5247 96.4529 65.8133 95.631 65.669 95.1959C65.5247 94.8091 65.2841 91.6666 65.0917 88.2823C64.9474 84.8979 64.6106 81.6103 64.4182 80.9818C63.889 79.6764 61.9165 79.5314 60.9544 80.7401Z"></path>
                        </svg>
                    </figure>

                    <div class="p-5 bg-neutral-900 absolute top-10 lg:-end-14 -end-4 rounded">
                        <p class="text-neutral-400 mb-4">Our lovely customers</p>
                        <div class="flex items-center">
                            <div class="flex items-center -space-x-2.5">
                                <img src="assets/images/avatar/06.jpg" class="size-8.5 rounded-full" alt="avatar" />
                                <img src="assets/images/avatar/05.jpg" class="size-8.5 rounded-full" alt="avatar" />
                                <img src="assets/images/avatar/02.jpg" class="size-8.5 rounded-full" alt="avatar" />
                                <img src="assets/images/avatar/03.jpg" class="size-8.5 rounded-full" alt="avatar" />
                                <img src="assets/images/avatar/04.jpg" class="size-8.5 rounded-full" alt="avatar" />
                            </div>
                            <h6 class="text-white font-semibold ms-2 text-xl">5K+</h6>
                        </div>
                        <hr class="border border-white/14 my-4 h-px opacity-30" />
                        <div class="overflow-hidden">
                            <div class="flex justify-between mb-2">
                                <small class="text-neutral-400">Satisfaction Rate</small>
                                <small class="text-neutral-400">80%</small>
                            </div>
                            <div class="flex w-full h-1 bg-primary/15 rounded-full overflow-hidden" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="flex flex-col justify-center rounded-full overflow-hidden bg-primary text-xs text-white text-center whitespace-nowrap transition duration-500 w-[80%]"></div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/about/05.jpg" class="rounded" alt="about-img" />
                </div>

                <div class="lg:col-span-7 lg:ms-30">
                    <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-10 text-white font-bold">Exploring Essential Platform Feature</h2>
                    <div class="hs-accordion-group space-y-4 dark">
                        <div class="hs-accordion active" id="heading-1">
                            <button class="hs-accordion-toggle py-4 px-4 flex items-center gap-x-5 w-full font-semibold text-start text-white rounded bg-default-100 active" aria-expanded="true" aria-controls="collapse-1">
                                <lucide-icon name="plus" class="hs-accordion-active:hidden block size-3.5"></lucide-icon>
                                <lucide-icon name="minus" class="hs-accordion-active:block hidden size-3.5 text-white"></lucide-icon>
                                Real-time Collaboration
                            </button>

                            <div id="collapse-1" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 mt-6 ms-4" role="region" aria-labelledby="heading-1">
                                <p class="text-neutral-300">
                                    Collaborate seamlessly with team members in real time. Share drafts, make edits, and work together efficiently to create content that meets your goals. Sight House has sex never. No visit raising gravity outward subject.
                                </p>
                            </div>
                        </div>

                        <div class="hs-accordion" id="heading-2">
                            <button class="hs-accordion-toggle py-4 px-4 flex items-center gap-x-5 w-full font-semibold text-start text-white rounded bg-default-100" aria-expanded="false" aria-controls="collapse-2">
                                <lucide-icon name="plus" class="hs-accordion-active:hidden block size-3.5"></lucide-icon>
                                <lucide-icon name="minus" class="hs-accordion-active:block hidden size-3.5 text-white"></lucide-icon>
                                Robust API Integration
                            </button>

                            <div id="collapse-2" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 mt-6 ms-4" role="region" aria-labelledby="heading-2">
                                <p class="text-neutral-300">Our platform offers robust API integration options, allowing you to integrate our content generation capabilities into your existing software, apps, or platforms.</p>
                            </div>
                        </div>

                        <div class="hs-accordion" id="heading-3">
                            <button class="hs-accordion-toggle py-4 px-4 flex items-center gap-x-5 w-full font-semibold text-start text-white rounded bg-default-100" aria-expanded="false" aria-controls="collapse-3">
                                <lucide-icon name="plus" class="hs-accordion-active:hidden block size-3.5"></lucide-icon>
                                <lucide-icon name="minus" class="hs-accordion-active:block hidden size-3.5 text-white"></lucide-icon>
                                Privacy and Security
                            </button>

                            <div id="collapse-3" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 mt-6 ms-4" role="region" aria-labelledby="heading-3">
                                <p class="text-neutral-300">
                                    We prioritize your data's security and privacy. Our platform adheres to the highest standards of data protection to ensure your content remains confidential and secure. on options, allowing you to integrate our content generation
                                    capabilities into your existing software, apps, or platforms.
                                </p>
                            </div>
                        </div>

                        <div class="hs-accordion" id="heading-4">
                            <button class="hs-accordion-toggle py-4 px-4 flex items-center gap-x-5 w-full font-semibold text-start text-white rounded bg-default-100" aria-expanded="false" aria-controls="collapse-4">
                                <lucide-icon name="plus" class="hs-accordion-active:hidden block size-3.5"></lucide-icon>
                                <lucide-icon name="minus" class="hs-accordion-active:block hidden size-3.5 text-white"></lucide-icon>
                                Cost-Effective Solutions
                            </button>

                            <div id="collapse-4" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 mt-6 ms-4" role="region" aria-labelledby="heading-4">
                                <p class="text-neutral-300">
                                    We offer flexible pricing options to suit your needs, ensuring you get the most value from our platform without breaking the bank.Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar
                                    domestic.
                                </p>
                            </div>
                        </div>

                        <div class="hs-accordion" id="heading-5">
                            <button class="hs-accordion-toggle py-4 px-4 flex items-center gap-x-5 w-full font-semibold text-start text-white rounded bg-default-100" aria-expanded="false" aria-controls="collapse-5">
                                <lucide-icon name="plus" class="hs-accordion-active:hidden block size-3.5"></lucide-icon>
                                <lucide-icon name="minus" class="hs-accordion-active:block hidden size-3.5 text-white"></lucide-icon>
                                Data Analytics
                            </button>

                            <div id="collapse-5" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 mt-6 ms-4" role="region" aria-labelledby="heading-5">
                                <p class="text-neutral-300">Offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>