<section class="lg:py-34 py-28">
  <div class="container">
    <div class="grid lg:grid-cols-2 grid-cols-1 items-center mb-16">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="flex space-x-2 text-sm mb-2">
            <li>
              <a [routerLink]="[]" class="text-default-600 hover:text-primary">Home</a>
            </li>
            <li class="text-primary list-disc list-inside">Portfolio Masonry</li>
          </ol>
        </nav>
        <h1 class="lg:text-[64px] md:text-5xl text-4xl mb-2">
          Highlights of cases that we've built
        </h1>
      </div>

      <div class="lg:ms-24">
        <p class="mb-6">
          The combination of my passion for design, code & interaction positions me in a unique
          place in the web design world.
        </p>
        <div
          class="inline-flex item-center border border-default-200 bg-default-100 rounded text-default-800 py-4 px-10"
        >
          <span class="text-default-800">Work with us?</span>
          <a
            class="ms-2 flex items-center gap-1 text-primary hover:text-primary-hover transition-all"
            routerLink="/contact/v2"
          >
            Contact us now
            <lucide-icon name="chevron-right" class="size-4"></lucide-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="lg:space-y-34 space-y-14">
      @for (item of portfolioListData; track $index) {
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-14 group relative">
          <!-- LEFT IMAGE (normal layout) -->
          @if (!item.reverse) {
            <div class="overflow-hidden rounded-md">
              <img
                [src]="item.image"
                class="size-full object-cover transition-transform duration-500 group-hover:scale-103"
                alt="portfolio-img"
              />
            </div>
          }

          <!-- CONTENT -->
          <div
            class="lg:p-10 py-5"
            [ngClass]="{
              'lg:text-end text-start lg:order-1 order-2': item.reverse,
            }"
          >
            <img
              [src]="item.clientLogo"
              class="h-7.5 lg:mb-6 mb-4"
              [ngClass]="{ 'lg:ms-auto': item.reverse }"
              alt="Client-img"
            />

            <h4 class="md:text-3xl text-2xl mb-2">
              {{ item.title }}
            </h4>

            <p class="lg:mb-6 mb-4 lg:w-full md:w-2xl w-full">
              {{ item.description }}
            </p>

            <div
              class="flex lg:flex-col gap-y-1 gap-x-3 lg:mb-6 mb-4"
              [ngClass]="{ 'flex-wrap': item.reverse }"
            >
              <div
                class="flex items-center gap-2"
                [ngClass]="{
                  'lg:justify-end justify-start': item.reverse,
                }"
              >
                <lucide-icon name="circle" class="size-2.5 fill-primary text-primary"></lucide-icon>
                {{ item.year }}
              </div>

              @for (tag of item.tags; track $index) {
                <span>{{ tag }}</span>
              }
            </div>

            <a
              [routerLink]="item.link"
              class="group-hover:text-primary text-default-800 flex items-center gap-1.5 transition-all duration-300"
              [ngClass]="{
                'lg:justify-end justify-start': item.reverse,
                'after:absolute after:inset-0': !item.reverse,
              }"
            >
              View case study
              <lucide-icon name="arrow-right" class="size-4"></lucide-icon>
            </a>
          </div>

          <!-- RIGHT IMAGE (reverse layout) -->
          @if (item.reverse) {
            <div class="overflow-hidden rounded-md lg:order-2 order-1">
              <img
                [src]="item.image"
                class="size-full object-cover transition-transform duration-500 group-hover:scale-103"
                alt="portfolio-img"
              />
            </div>
          }
        </div>
      }

      <ul class="flex flex-wrap items-center justify-center md:gap-1 gap-4">
        <li>
          <a
            [routerLink]="[]"
            class="bg-default-50 text-default-700 hover:bg-primary hover:text-white group flex items-center gap-1 py-3 px-4 rounded transition-all"
          >
            <lucide-icon
              name="arrow-big-left"
              class="size-4 fill-default-700 group-hover:fill-white transition-all"
            ></lucide-icon>
            Prev
          </a>
        </li>

        <li>
          <ul class="flex justify-between gap-1.5 items-center">
            <li>
              <a [routerLink]="[]" class="bg-primary text-white gap-1 py-3 px-4 rounded">1</a>
            </li>

            <li>
              <a
                [routerLink]="[]"
                class="bg-default-100 text-default-700 hover:bg-primary hover:text-white gap-1 py-3 px-4 rounded transition-all"
                >2</a
              >
            </li>

            <li>
              <a
                [routerLink]="[]"
                class="bg-default-100 text-default-700 hover:bg-primary hover:text-white gap-1 py-3 px-4 rounded transition-all"
                >3</a
              >
            </li>

            <li>
              <a
                [routerLink]="[]"
                class="bg-default-100 text-default-700 hover:bg-primary hover:text-white gap-1 py-3 px-4 rounded transition-all"
                >..</a
              >
            </li>

            <li>
              <a
                [routerLink]="[]"
                class="bg-default-100 text-default-700 hover:bg-primary hover:text-white gap-1 py-3 px-4 rounded transition-all"
                >22</a
              >
            </li>

            <li>
              <a
                [routerLink]="[]"
                class="bg-default-100 text-default-700 hover:bg-primary hover:text-white gap-1 py-3 px-4 rounded transition-all"
                >23</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            [routerLink]="[]"
            class="bg-default-50 text-default-700 hover:bg-primary hover:text-white group flex items-center gap-1 py-3 px-4 rounded transition-all"
          >
            Next
            <lucide-icon
              name="arrow-big-right"
              class="size-4 fill-default-700 group-hover:fill-white transition-all"
            ></lucide-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="relative z-20 py-0 -mb-16">
  <div class="container relative">
    <div class="relative overflow-hidden bg-primary rounded md:p-10 p-6">
      <!-- SVG decoration -->
      <figure class="absolute top-0 -start-30">
        <!-- Keep your SVG as is -->
        <svg
          width="371"
          height="354"
          viewBox="0 0 371 354"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse
            cx="172.5"
            cy="176.5"
            rx="131.5"
            ry="125.5"
            fill="url(#paint0_linear_195_2)"
          ></ellipse>
          <ellipse
            cx="185.5"
            cy="177"
            rx="185.5"
            ry="177"
            fill="url(#paint1_linear_195_2)"
          ></ellipse>
          <defs>
            <linearGradient
              id="paint0_linear_195_2"
              x1="172.5"
              y1="51"
              x2="172.5"
              y2="302"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.5"></stop>
              <stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient
              id="paint1_linear_195_2"
              x1="185.5"
              y1="0"
              x2="185.5"
              y2="354"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.2"></stop>
              <stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </figure>

      <!-- Image decoration -->
      <div class="absolute end-0 bottom-5">
        <img src="/images/elements/cta-vector.svg" class="h-50" alt="vector-img" />
      </div>

      <div class="relative grid place-items-center">
        <div class="lg:w-7/12 text-center mx-auto">
          <h2 class="lg:text-[45px] md:text-4xl text-3xl text-white mb-6">Let's Work Together</h2>
          <p class="text-white mb-6">
            I'll take the time to understand your vision and goals, and work with you to develop a
            customized plan to help you succeed.
          </p>

          <div class="flex flex-row justify-center items-center gap-2">
            <a
              routerLink="/contact/v1"
              class="bg-dark hover:bg-dark-hover text-white px-4 py-2 rounded inline-flex items-center gap-2 font-medium transition-all"
            >
              <lucide-icon name="mail" class="size-4"></lucide-icon>
              Email us
            </a>
            <a
              routerLink="/contact/v2"
              class="bg-dark hover:bg-dark-hover text-white px-4 py-2 rounded inline-flex items-center gap-2 font-medium transition-all"
            >
              <lucide-icon name="phone" class="size-4"></lucide-icon>
              Contact us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
