<section class="lg:py-28 md:py-20 py-16">
  <div class="container">
    <div class="text-center mb-10">
      <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-6">Discover our competitive plans</h2>
      <p class="md:w-2xl mx-auto">
        Your agency's success deserves a pricing strategy that aligns with your goals. We offer a
        range of pricing plans crafted to meet your unique needs.
      </p>
    </div>

    <div
      class="swiper"
      data-swiper-options='{
                  "loop": false,
                  "spaceBetween": 40,
                  "pagination": { "el": ".swiper-pagination", "clickable": true },
                  "breakpoints": {
                    "576": { "slidesPerView": 1 },
                    "768": { "slidesPerView": 2 },
                    "992": { "slidesPerView": 3 }
                  }
                }'
    >
      <div class="swiper-wrapper lg:mb-0 mb-12">
        <div class="swiper-slide">
          <div class="border border-default-200 rounded-lg p-6 bg-body-bg shadow-sm">
            <h6 class="mb-2 text-default-800 text-xl font-bold">Basic Plan</h6>
            <div class="flex items-center">
              <span class="lg:text-[58px] md:text-[45px] text-4xl font-bold text-default-900"
                >$25</span
              >
              <div class="ms-3 text-default-800">
                <p>Per user</p>
                <p>Per month</p>
              </div>
            </div>
            <p>Basic feature for up to 10 users</p>
            <div class="mt-6 space-y-2">
              <a
                [routerLink]="[]"
                class="w-full block text-center transition-all font-medium bg-dark hover:bg-dark/85 text-white py-2 rounded px-4"
                >Get started</a
              >
              <a
                [routerLink]="[]"
                class="w-full block text-center transition-all font-medium border border-default-800/60 text-default-600 hover:bg-default-200 hover:text-default-800 hover:border-default-200 py-2 rounded px-4"
                >Chat to sales</a
              >
            </div>

            <hr class="my-6 border-default-200" />

            <h6 class="font-bold text-default-800 text-xl">Features</h6>
            <p>Everything in basic plan</p>

            <ul class="mt-4 space-y-3">
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Access to basic feature
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Basic reporting and analytics
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Up to 10 individual users
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                20GB individual data each year
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Basic chat and email support
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Ongoing best practices and reviews
              </li>
            </ul>
          </div>
        </div>

        <!-- Business Plan -->
        <div class="swiper-slide">
          <div class="border border-default-300 rounded-lg p-6 bg-dark text-white shadow-md">
            <h6 class="mb-2 text-primary text-xl font-bold">Business Plan</h6>
            <div class="flex items-center">
              <span class="lg:text-[58px] md:text-[45px] text-4xl font-bold text-white">$50</span>
              <div class="ms-3 text-white">
                <p>Per user</p>
                <p>Per month</p>
              </div>
            </div>
            <p class="text-white/60">Basic feature for up to 10 users</p>
            <div class="mt-6 space-y-2">
              <a
                [routerLink]="[]"
                class="w-full block text-center transition-all font-medium bg-primary hover:bg-primary-hover text-white py-2 rounded px-4"
                >Get started</a
              >
              <a
                [routerLink]="[]"
                class="w-full block text-center transition-all font-medium border border-white text-white hover:bg-white hover:text-black hover:border-default-200 py-2 rounded px-4"
                >Chat to sales</a
              >
            </div>

            <hr class="my-6 border-white/14" />

            <h6 class="font-bold text-white text-xl">Features</h6>
            <p class="text-white/60">Everything in basic plan</p>

            <ul class="mt-4 space-y-3 text-white/60">
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-dark size-5"
                ></lucide-icon>
                Access to basic feature
              </li>
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-dark size-5"
                ></lucide-icon>
                Basic reporting and analytics
              </li>
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-dark size-5"
                ></lucide-icon>
                Up to 10 individual users
              </li>
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-dark size-5"
                ></lucide-icon>
                20GB individual data each year
              </li>
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-dark size-5"
                ></lucide-icon>
                Basic chat and email support
              </li>
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-dark size-5"
                ></lucide-icon>
                Ongoing best practices and reviews
              </li>
            </ul>
          </div>
        </div>

        <!-- Enterprise Plan -->
        <div class="swiper-slide">
          <div class="border border-default-200 rounded-lg p-6 bg-body-bg shadow-sm">
            <h6 class="mb-2 text-default-800 text-xl font-bold">Enterprise Plan</h6>
            <div class="flex items-center">
              <span class="lg:text-[58px] md:text-[45px] text-4xl font-bold text-default-900"
                >$85</span
              >
              <div class="ms-3 text-default-800">
                <p>Per user</p>
                <p>Per month</p>
              </div>
            </div>
            <p>Basic feature for up to 10 users</p>
            <div class="mt-6 space-y-2">
              <a
                [routerLink]="[]"
                class="w-full block text-center transition-all font-medium bg-dark hover:bg-dark/85 text-white py-2 rounded px-4"
                >Get started</a
              >
              <a
                [routerLink]="[]"
                class="w-full block text-center transition-all font-medium border border-default-800/60 text-default-600 hover:bg-default-200 hover:text-default-800 hover:border-default-200 py-2 rounded px-4"
                >Chat to sales</a
              >
            </div>

            <hr class="my-6 border-default-200" />

            <h6 class="font-bold text-default-800 text-xl">Features</h6>
            <p>Everything in business and</p>

            <ul class="mt-4 space-y-3">
              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Advanced custom field
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Audit log and data history
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Ultimate individual users
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                60GB individual data each year
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Basic chat and email support
              </li>

              <li class="flex items-center gap-2">
                <lucide-icon
                  name="circle-check"
                  class="fill-primary text-white size-5"
                ></lucide-icon>
                Ongoing best practices and reviews
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-pagination mt-6 relative"></div>
    </div>
  </div>
</section>
