<section class="lg:py-28 md:py-20 py-16">
  <div class="container">
    <div class="text-center mb-10">
      <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-6">Discover our competitive plans</h2>
      <p class="md:w-2xl mx-auto">
        Your agency's success deserves a pricing strategy that aligns with your goals. We offer a
        range of pricing plans crafted to meet your unique needs.
      </p>
    </div>
    <div class="swiper">
      <swiper-container
        loop="true"
        space-between="40"
        pagination="true"
        pagination-el=".swiper-pagination"
        pagination-clickable="true"
        [breakpoints]="{
          '576': { slidesPerView: 1 },
          '768': { slidesPerView: 2 },
          '992': { slidesPerView: 3 },
        }"
      >
        @for (plan of pricingData; track $index) {
          <swiper-slide>
            <div
              class="border rounded-lg p-6 shadow-sm"
              [class]="
                plan.type === 'dark'
                  ? 'border-default-300 bg-dark text-white shadow-md'
                  : 'border-default-200 bg-body-bg'
              "
            >
              <h6
                class="mb-2 text-xl font-bold"
                [class]="plan.type === 'dark' ? 'text-primary' : 'text-default-800'"
              >
                {{ plan.title }}
              </h6>

              <div class="flex items-center">
                <span
                  class="lg:text-[58px] md:text-[45px] text-4xl font-bold"
                  [class]="plan.type === 'dark' ? 'text-white' : 'text-default-900'"
                >
                  ${{ plan.price }}
                </span>

                <div
                  class="ms-3"
                  [class]="plan.type === 'dark' ? 'text-white' : 'text-default-800'"
                >
                  <p>Per user</p>
                  <p>Per month</p>
                </div>
              </div>

              <p [class]="plan.type === 'dark' ? 'text-white/60' : ''">
                {{ plan.description }}
              </p>

              <div class="mt-6 space-y-2">
                <a
                  [routerLink]="[]"
                  class="w-full block text-center transition-all font-medium py-2 rounded px-4"
                  [class]="
                    plan.type === 'dark'
                      ? 'bg-primary hover:bg-primary-hover text-white'
                      : 'bg-dark hover:bg-dark/85 text-white'
                  "
                >
                  Get started
                </a>

                <a
                  [routerLink]="[]"
                  class="w-full block text-center transition-all font-medium py-2 rounded px-4"
                  [class]="
                    plan.type === 'dark'
                      ? 'border border-white text-white hover:bg-white hover:text-black hover:border-default-200'
                      : 'border border-default-800/60 text-default-600 hover:bg-default-200 hover:text-default-800 hover:border-default-200'
                  "
                >
                  Chat to sales
                </a>
              </div>

              <hr
                class="my-6"
                [class]="plan.type === 'dark' ? 'border-white/14' : 'border-default-200'"
              />

              <h6
                class="font-bold text-xl"
                [class]="plan.type === 'dark' ? 'text-white' : 'text-default-800'"
              >
                Features
              </h6>

              <p [class]="plan.type === 'dark' ? 'text-white/60' : ''">
                {{ plan.featuresTitle }}
              </p>

              <ul class="mt-4 space-y-3" [class]="plan.type === 'dark' ? 'text-white/60' : ''">
                @for (feature of plan.features; track $index) {
                  <li class="flex items-center gap-2">
                    <lucide-icon
                      name="circle-check"
                      class="size-5"
                      [class]="
                        plan.type === 'dark' ? 'fill-primary text-dark' : 'fill-primary text-white'
                      "
                    ></lucide-icon>
                    {{ feature }}
                  </li>
                }
              </ul>
            </div>
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-pagination mt-6 relative"></div>
    </div>
  </div>
</section>
