<section class="lg:pt-44 md:pt-30 pt-24">
  <div class="container">
    <div class="md:w-3/4 mx-auto md:text-center">
      <div class="mb-6">
        <nav aria-label="breadcrumb">
          <ol class="flex flex-wrap md:justify-center justify-start space-x-4 text-sm mb-2">
            <li>
              <a [routerLink]="[]" class="text-default-600 hover:text-primary">Home</a>
            </li>

            <li class="text-default-600 list-disc list-inside">Portfolio</li>
            <li class="text-primary list-disc list-inside">Portfolio case studies v1</li>
          </ol>
        </nav>
      </div>
      <h1 class="mb-6 lg:text-[58px] text-4xl text-center">Transforming Ideas into Reality</h1>
      <p class="text-center">
        In affronting unreserved delightful simplicity ye. Law own advantage furniture continual
        sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had
        lively living.
      </p>
    </div>

    <div class="w-full mt-14">
      <div
        class="overflow-hidden bg-[url('assets/images/portfolio/case-study-01.jpg')] bg-no-repeat bg-cover bg-center h-75 md:h-50 lg:h-150 rounded"
      ></div>
    </div>

    <div class="w-full mt-14">
      <div class="flex flex-wrap md:gap-0 gap-y-6">
        <!-- Project info -->
        <div class="w-11/12 lg:w-4/12 mx-auto -mt-44">
          <div class="bg-dark text-white rounded-md md:p-10 p-5">
            <ul class="space-y-4">
              <li>
                <small class="text-default-300">Client</small>
                <p class="text-xl mt-1">StackBros Webflow Agency</p>
              </li>

              <li>
                <small class="text-default-300">Headquarters</small>
                <p class="text-xl mt-1">489 Depot Road Midland</p>
              </li>

              <li>
                <small class="text-default-300">Industry</small>
                <p class="text-xl mt-1">E-commerce</p>
              </li>

              <li>
                <small class="text-default-300">Founders</small>
                <p class="text-xl mt-1">Emma Watson, Maria Smith</p>
              </li>

              <li>
                <small class="text-default-300">Services</small>
                <p class="text-xl mt-1">Email marketing, Product design & Content marketing</p>
              </li>

              <li>
                <small class="text-default-300">Time spent</small>
                <p class="text-xl mt-1">2023, 4 months</p>
              </li>

              <li>
                <a
                  [routerLink]="[]"
                  class="inline-flex items-center justify-center gap-2 text-center w-full bg-primary text-white py-3 px-6 rounded-md font-medium mt-2"
                >
                  View project website
                  <lucide-icon name="square-arrow-out-up-right" class="size-4"></lucide-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Project detail -->
        <div class="w-full lg:w-7/12 px-0 lg:ps-10 mt-6 lg:mt-0">
          <h4 class="md:text-3xl text-2xl mb-4">Overview</h4>
          <p class="text-xl text-default-700 leading-relaxed mb-4">
            Ideas are the seeds of innovation. They can originate from personal experiences...
          </p>
          <p class="text-default-600 leading-relaxed mb-4">
            Once an idea takes root, it requires nurturing and refinement. This stage involves
            research, brainstorming, and gathering feedback. Conducting market analysis, exploring
            existing solutions, and collaborating with others can help refine the idea further. The
            goal is to gain a deeper understanding of the idea's feasibility, potential impact, and
            market viability.
          </p>

          <ul class="flex flex-wrap gap-2 mb-14">
            <li>
              <a
                [routerLink]="[]"
                class="px-3 py-2 text-sm rounded border border-default-300 text-default-700 hover:bg-default-300 hover:text-black transition"
                >Branding</a
              >
            </li>

            <li>
              <a
                [routerLink]="[]"
                class="px-3 py-2 text-sm rounded border border-default-300 text-default-700 hover:bg-default-300 hover:text-black transition"
                >Packaging</a
              >
            </li>

            <li>
              <a
                [routerLink]="[]"
                class="px-3 py-2 text-sm rounded border border-default-300 text-default-700 hover:bg-default-300 hover:text-black transition"
                >UI/UX design</a
              >
            </li>
          </ul>

          <h4 class="md:text-3xl text-2xl mb-4">The Challenge</h4>
          <p class="text-default-600 mb-4 leading-relaxed">
            Turning ideas into reality is a transformative process that drives innovation and
            progress. It begins with recognizing the power and potential of an idea. Through
            cultivation, planning, and strategizing, ideas are refined and shaped into actionable
            plans. Challenges are embraced as opportunities for growth, and perseverance becomes key
            in overcoming obstacles.
          </p>

          <ul class="space-y-2 mt-4">
            <li class="flex items-center gap-2">
              <div>
                <lucide-icon name="circle-check" class="size-4 text-primary"></lucide-icon>
              </div>
              Maintained Windows Servers
            </li>

            <li class="flex items-center gap-2">
              <div>
                <lucide-icon name="circle-check" class="size-4 text-primary"></lucide-icon>
              </div>
              Supported Windows workstations
            </li>

            <li class="flex md:items-center items-start gap-2">
              <div>
                <lucide-icon
                  name="circle-check"
                  class="size-4 text-primary md:mt-0 mt-2"
                ></lucide-icon>
              </div>
              Setup rotation schedule and anti-virus system
            </li>

            <li class="flex md:items-center items-start gap-2">
              <div>
                <lucide-icon
                  name="circle-check"
                  class="size-4 text-primary md:mt-0 mt-2"
                ></lucide-icon>
              </div>
              Designed machines/servers & trained employees
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Images -->
    <div class="grid md:grid-cols-3 grid-cols-1 lg:gap-14 gap-6 mt-14">
      <a href="assets/images/portfolio/masonry/08.jpg" appGlightbox data-gallery="image-popup">
        <img src="assets/images/portfolio/masonry/08.jpg" class="rounded" alt="blog-img" />
      </a>

      <a href="assets/images/portfolio/masonry/06.jpg" appGlightbox data-gallery="image-popup">
        <img src="assets/images/portfolio/masonry/06.jpg" class="rounded md:mt-14" alt="blog-img" />
      </a>

      <a href="assets/images/portfolio/masonry/05.jpg" appGlightbox data-gallery="image-popup">
        <img src="assets/images/portfolio/masonry/05.jpg" class="rounded" alt="blog-img" />
      </a>
    </div>

    <div class="w-full mt-14">
      <div class="grid lg:grid-cols-12 grid-cols-1 gap-6 mt-10">
        <!-- Result -->
        <div class="lg:col-span-5">
          <h4 class="md:text-3xl text-2xl font-semibold mb-4">Result</h4>
          <p class="text-xl text-default-600 leading-relaxed mb-6">
            Two assure Edward whence the was. Who worthy yet ten boys denote wonder. Weeks views her
            sight old tears sorry. Additions can suspected its concealed put furnished.
          </p>

          <a
            [routerLink]="[]"
            class="inline-flex items-center gap-1.5 text-default-800 hover:text-primary font-medium transition-all"
          >
            View project website
            <lucide-icon name="square-arrow-out-up-right" class="size-4"></lucide-icon>
          </a>
        </div>

        <!-- Right text + stats -->
        <div class="lg:col-span-7 lg:ms-20">
          <p class="text-default-600 leading-relaxed">
            Transforming ideas into reality often requires collaboration with a diverse range of
            individuals. Partnering with experts, seeking mentorship, and building a network of
            like-minded individuals can provide valuable insights and support.
          </p>

          <!-- Stats -->
          <div class="grid grid-cols-2 md:grid-cols-3 md:gap-10 gap-6 lg:mt-24 mt-6">
            <!-- Item -->
            <div>
              <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold">
                22
                <span class="text-primary">%</span>
              </h2>
              <p class="mt-1 text-default-700">Increase in time spent on website</p>
            </div>

            <!-- Item -->
            <div>
              <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold">
                4.5
                <span class="text-primary">M</span>
              </h2>
              <p class="mt-1 text-default-700">
                View this project got across our social media network
              </p>
            </div>

            <!-- Item -->
            <div>
              <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold">
                $12.8
                <span class="text-primary">M</span>
              </h2>
              <p class="mt-1 text-default-700">Total raised in funding so far</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full mt-14">
      <div class="bg-default-100 rounded-md md:p-10 p-5">
        <!-- Quote icon -->
        <h5 class="leading-none mb-3">
          <lucide-icon
            name="quote"
            class="lg:size-16 size-10 fill-primary/15 text-primary/15"
          ></lucide-icon>
        </h5>

        <!-- Quote text -->
        <q class="md:text-2xl text-xl text-default-800"
          >Too months nay end change relied who beauty wishes matter. Shew of john real park so rest
          we on. Ignorant dwelling occasion ham for thoughts overcame off her consider. Polite it
          elinor is depend.</q
        >

        <!-- Avatar section -->
        <div class="flex items-center gap-4 mt-6">
          <!-- Avatar -->
          <div class="size-12">
            <img
              src="assets/images/avatar/02.jpg"
              alt="avatar"
              class="rounded-full size-full object-cover"
            />
          </div>

          <!-- User info -->
          <div>
            <h6 class="text-xl font-semibold">Emma Watson</h6>
            <small class="text-default-600 text-sm">CEO, Co-founder</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lg:py-28 md:py-20 py-18">
  <div class="container">
    <div class="text-center md:mb-14 mb-6">
      <h3 class="md:text-4xl text-3xl">Related works</h3>
    </div>

    <case-study-works />
  </div>
</section>
