<div class="py-5 border-b border-default-200">
    <h6 class="text-xl">Arrives by Wed, Jan 25</h6>
</div>

<div class="pt-5">
    @for (item of orderItemData; track $index) {
    <div class="flex items-center gap-4 pb-6 mb-6 border-b border-default-200">
        <div class="bg-default-100 p-2 rounded">
            <img [src]="item.image" class="lg:w-22.5 md:w-38 w-21.5" />
        </div>

        <div>
            <div class="mb-2">
                <a [routerLink]="[]" class="font-semibold hover:text-primary transition-all text-default-800">{{ item.title }}</a>
            </div>
            <ul class="space-y-1.5">
                <li class="text-sm">Item: {{ item.itemNo }}</li>

                @if (item.color) {
                <li class="text-sm">Color: {{ item.color }}</li>
                }

                @if (item.size) {
                <li class="text-sm">Size: {{ item.size }}</li>
                }
            </ul>
        </div>
    </div>
    }
</div>