 <section class="relative bg-center bg-cover bg-no-repeat text-white bg-[url('/images/bg/14.jpg')]">
        <div class="container relative z-10 lg:py-28 md:py-20 py-16">
            <div class="max-w-2xl lg:mb-14 mb-20">
                <h2 class="lg:text-[58px] md:text-[45px] text-4xl font-normal text-white">Celebrating success with our proud award achievements</h2>
            </div>

            <div class="grid md:grid-cols-10">
                <div class="md:col-span-10 lg:col-span-6">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
                        <div>
                            <h5 class="text-2xl font-semibold text-white mb-4">Awards</h5>
                            <ul class="space-y-2">
                                <li class="border-b border-white/10 text-white/80 pb-2">Honor / Unite agency / 2021</li>
                                <li class="border-b border-white/10 text-white/80 pb-2">Honor / Unite agency / 2020</li>
                                <li class="border-b border-white/10 text-white/80 pb-2">Honor / Med expert / 2020</li>
                                <li class="border-b border-white/10 text-white/80 pb-2">Honor / Frame digital / 2020</li>
                                <li class="border-b border-white/10 text-white/80 pb-2">Honor / Unite agency / 2019</li>
                            </ul>
                        </div>

                        <div>
                            <h5 class="text-2xl font-semibold text-white mb-4">CSS Design Award</h5>
                            <ul class="space-y-2">
                                <li class="border-b border-white/10 pb-2 text-white/80">Website of the day / Emporia / 2020</li>
                                <li class="border-b border-white/10 pb-2 text-white/80">Special kudos / to ARCR / 2021</li>
                                <li class="border-b border-white/10 pb-2 text-white/80">Special kudos / to ARCR / 2020</li>
                                <li class="border-b border-white/10 pb-2 text-white/80">Special kudos / to Reformat club / 2019</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute inset-0 bg-black/60"></div>
    </section>