<section class="lg:py-28 md:py-20 py-16">
  <div class="container">
    <div class="lg:w-3xl mx-auto text-center lg:mb-20 mb-16">
      <h2 class="mb-6 lg:text-[45px] md:text-4xl text-3xl font-bold">
        Understanding of your website's impact
      </h2>
      <p class="mb-6">
        There is nothing that can stop you from achieving what you want, except yourself. If you
        devote yourself to it you will achieve your goal.
      </p>
      <a
        routerLink="/integrations"
        class="inline-flex items-center px-4 py-2 font-medium bg-dark text-white rounded hover:bg-dark/85 transiiton-all"
        >View integrations</a
      >
    </div>

    <div class="mt-5 text-center">
      <img src="/images/elements/integration-2.svg" class="mx-auto" />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 justify-center mt-14">
      @for (item of integrationData; track $index) {
        <div class="text-center p-0">
          <figure class="text-primary mb-4 inline-block" [innerHTML]="item.safeIcon">
          </figure>
          <h5 class="mb-4 md:text-2xl text-xl font-bold">{{ item.title }}</h5>
          <p>
            {{ item.description }}
          </p>
        </div>
      }
    </div>
  </div>
</section>
