<section>
  <div class="container mx-auto px-4">
    <div class="grid lg:grid-cols-2 grid-cols-1 items-center gap-8">
      <div class="order-2 lg:order-1 pe-0 lg:pe-20">
        <div class="grid md:grid-cols-6 grid-cols-2 gap-6 md:items-center items-start">
          <div class="md:col-span-2 hidden md:block">
            <!-- Item -->
            <div class="bg-default-100 rounded-xl text-center p-6 mb-4">
              <div
                class="size-20 flex items-center justify-center bg-body-bg rounded-full mx-auto mb-2"
              >
                <img src="assets/images/elements/slack.svg" class="h-10" alt="Integration-img" />
              </div>
              <span class="font-semibold text-default-800">Slack</span>
            </div>

            <!-- Item -->
            <div class="bg-default-100 rounded-xl text-center p-6 mb-4">
              <div
                class="size-20 flex items-center justify-center bg-body-bg rounded-full mx-auto mb-2"
              >
                <img src="assets/images/elements/shopify.svg" class="h-10" alt="Integration-img" />
              </div>
              <span class="font-semibold text-default-800">Shopify</span>
            </div>
          </div>

          <!-- Column 2 -->
          <div class="md:col-span-2">
            <!-- Item -->
            <div class="bg-default-100 rounded-xl text-center p-6 mb-4">
              <div
                class="size-20 flex items-center justify-center bg-body-bg rounded-full mx-auto mb-2"
              >
                <img src="assets/images/elements/reddit.svg" class="h-10" alt="Integration-img" />
              </div>
              <span class="font-semibold text-default-800">Reddit</span>
            </div>

            <!-- Item -->
            <div class="bg-default-100 rounded-xl text-center p-6 mb-4">
              <div
                class="size-20 flex items-center justify-center bg-body-bg rounded-full mx-auto mb-2"
              >
                <img src="assets/images/elements/gicon.svg" class="h-10" alt="Integration-img" />
              </div>
              <span class="font-semibold text-default-800">Google</span>
            </div>

            <!-- Item -->
            <div class="bg-default-100 rounded-xl text-center p-6 mb-4">
              <div
                class="size-20 flex items-center justify-center bg-body-bg rounded-full mx-auto mb-2"
              >
                <img src="assets/images/elements/dropbox.svg" class="h-10" alt="Integration-img" />
              </div>
              <span class="font-semibold text-default-800">Dropbox</span>
            </div>
          </div>

          <!-- Column 3 -->
          <div class="md:col-span-2">
            <!-- Item -->
            <div class="bg-default-100 rounded-xl text-center p-6 mb-4">
              <div
                class="size-20 flex items-center justify-center bg-body-bg rounded-full mx-auto mb-2"
              >
                <img src="assets/images/elements/google-drive.svg" class="h-10" alt="Integration-img" />
              </div>
              <span class="font-semibold text-default-800">Google Drive</span>
            </div>

            <!-- Item -->
            <div class="bg-default-100 rounded-xl text-center p-6 mb-4">
              <div
                class="size-20 flex items-center justify-center bg-body-bg rounded-full mx-auto mb-2"
              >
                <img src="assets/images/elements/mailchimp.svg" class="h-10" alt="Integration-img" />
              </div>
              <span class="font-semibold text-default-800">Mailchimp</span>
            </div>
          </div>
        </div>
      </div>

      <div class="order-1 lg:order-2 lg:ps-20">
        <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold mb-6">
          Seamless connections for enhanced performance
        </h2>
        <p class="mb-6">
          Explore our array of integrations that effortlessly connect with your existing tools and
          amplify your workflow efficiency.
        </p>

        <ul class="space-y-2 mb-10">
          <li class="flex md:items-center items-start gap-2 text-default-800">
            <div>
              <lucide-icon name="badge-check" class="size-4.5 text-primary md:mt-0 mt-1"></lucide-icon>
            </div>
            Connect with a wide range of third-party applications
          </li>

          <li class="flex md:items-center items-start gap-2 text-default-800">
            <div>
              <lucide-icon name="badge-check" class="size-4.5 text-primary md:mt-0 mt-1"></lucide-icon>
            </div>
            Automate tasks and reduce manual data entry
          </li>

          <li class="flex md:items-center items-start gap-2 text-default-800">
            <div>
              <lucide-icon name="badge-check" class="size-4.5 text-primary md:mt-0 mt-1"></lucide-icon>
            </div>
            Rest assured that your data remains safe and protected
          </li>
        </ul>
        <a
          [routerLink]="[]"
          class="transition-all font-medium bg-dark hover:bg-dark/85 text-white py-2.5 rounded px-6"
          >Know more</a
        >
      </div>
    </div>
  </div>
</section>
