<section class="lg:pt-44 pt-28">
    <div class="container">
        <div class="lg:w-3/4 mx-auto">
            <div class="bg-dark text-white p-10 mb-14 rounded-md">
                <div class="grid lg:grid-cols-3 md:grid-cols-12 gap-6">
                    <!-- Icons -->
                    <div class="lg:col-span-1 md:col-span-5">
                        <div class="flex items-center">
                            <div class="p-4 bg-black/40 rounded-md -me-2">
                                <img src="assets/images/elements/slack.svg" class="md:size-20 size-10" />
                            </div>

                            <div class="size-10.5 rounded-full bg-body-bg/25 flex justify-center items-center text-center z-20">
                                <lucide-icon name="plus" class="size-6 text-white/40"></lucide-icon>
                            </div>

                            <div class="p-4 bg-black/40 rounded-md -ms-2">
                                <img src="assets/images/logo-icon.svg" class="md:size-20 size-10" />
                            </div>
                        </div>
                    </div>

                    <!-- Text -->
                    <div class="lg:col-span-2 md:col-span-7">
                        <h1 class="lg:text-4xl md:text-3xl text-2xl font-bold text-white">Connect Mizzle to Slack</h1>
                        <p class="mt-2 text-white/70">Our integration with Mizzle and Slack enables you to streamline communication and optimize your workflow.</p>
                    </div>
                </div>
            </div>

            <h4 class="md:text-3xl text-2xl mb-2">About the integration</h4>
            <p class="mb-4">
                Integrating Slack with Mizzle is a game-changer. With this integration, you can effortlessly synchronize data, messages, and tasks between our software and Mizzle. Enjoy real-time updates, improved communication, and a more organized workflow.
            </p>
            <p class="mb-4">
                How promotion excellent curiosity yet attempted happiness Gay prosperous impression had conviction For every delay death ask style Me mean able my by in they Extremity now strangers contained breakfast him discourse additions Sincerity collected contented
                led now perpetual extremely forfeited.
            </p>
            <h5 class="mt-6 mb-2 md:text-2xl text-xl">Section 1: integration with Mizzle</h5>
            <p class="mb-4">
                Integrating Slack with Mizzle is a game-changer. With this integration, you can effortlessly synchronize data, messages, and tasks between our software and Mizzle. Enjoy real-time updates, improved communication, and a more organized workflow.
            </p>

            <ul class="space-y-3">
                <li class="flex items-center gap-2 text-default-800">
                    <lucide-icon name="move-right" class="size-4"></lucide-icon>
                    Receive instant notifications in Mizzle whenever there's an update or action in Slack
                </li>

                <li class="flex items-center gap-2 text-default-800">
                    <lucide-icon name="move-right" class="size-4"></lucide-icon>
                    Effortlessly create, assign, and manage tasks in both platforms, ensuring nothing falls through the cracks.
                </li>

                <li class="flex items-center gap-2 text-default-800">
                    <lucide-icon name="move-right" class="size-4"></lucide-icon>
                    Keep all your data consistent and up to date, whether it's customer information, project details, or important messages.
                </li>
            </ul>

            <h5 class="mt-6 mb-2 md:text-2xl text-xl">Section 2: integration with Slack</h5>
            <p class="mb-4">Our integration with Slack takes your team collaboration to the next level. By connecting Mizzle with Slack, you can create a more efficient and productive work environment.</p>

            <ul class="space-y-3 mb-6">
                <li class="flex items-center gap-2 text-default-800">
                    <lucide-icon name="move-right" class="size-4"></lucide-icon>
                    Instant Notifications
                </li>

                <li class="flex items-center gap-2 text-default-800">
                    <lucide-icon name="move-right" class="size-4"></lucide-icon>
                    File Sharing
                </li>

                <li class="flex items-center gap-2 text-default-800">
                    <lucide-icon name="move-right" class="size-4"></lucide-icon>
                    Seamless Communication
                </li>
            </ul>
            <p class="mb-6">This content provides an overview of how your SaaS product integrates with Mizzle and Slack, highlighting the key features and benefits of these integrations. It encourages visitors to take action and explore these integrations further.</p>
            <a [routerLink]="[]" class="py-2 px-4 bg-dark hover:bg-dark-hover rounded text-white transition-all">Get Started</a>
        </div>
    </div>
</section>