<div class="flex flex-col gap-1 overflow-y-auto max-h-70">
    <div class="hs-accordion-group divide-y divide-default-200">
        <div class="hs-accordion">
            <button class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold">
                <span>Demos</span>
                <i class="iconify tabler--chevron-down size-4"></i>
            </button>

            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] px-5 py-2">
                <div class="border border-default-200 origin-center bg-body-bg rounded-md p-3 w-full">
                    <div class="grid md:grid-cols-2 grid-cols-1">
                        <ul class="flex flex-col gap-1">
                            <li class="group">
                                <a href="index.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Classic Default</a>
                            </li>
                            <li class="group">
                                <a href="index-creative-agency.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Creative Agency</a>
                            </li>
                            <li class="group">
                                <a href="index-digital-agency.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">
                                    Digital Agency
                                    <span class="bg-primary text-white rounded py-0.5 px-1.5 text-xs font-medium">New</span>
                                </a>
                            </li>
                            <li class="group">
                                <a href="index-design-agency.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">
                                    Design Agency
                                    <span class="bg-primary text-white rounded py-0.5 px-1.5 text-xs font-medium">New</span>
                                </a>
                            </li>
                            <li class="group">
                                <a href="index-seo-agency.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">
                                    SEO Agency
                                    <span class="bg-primary text-white rounded py-0.5 px-1.5 text-xs font-medium">New</span>
                                </a>
                            </li>
                            <li class="group">
                                <a href="index-landing-product.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Product Landing</a>
                            </li>
                            <li class="group">
                                <a href="index-mobile-app-showcase.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Mobile App Showcase</a>
                            </li>
                        </ul>

                        <ul class="flex flex-col gap-1">
                            <li class="group">
                                <a href="index-saas.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">SaaS v.1</a>
                            </li>
                            <li class="group">
                                <a href="index-saas-v2.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">SaaS v.2</a>
                            </li>
                            <li class="group">
                                <a href="index-saas-v3.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">SaaS v.3</a>
                            </li>
                            <li class="group">
                                <a href="index-saas-v4.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">SaaS v.4</a>
                            </li>
                            <li class="group">
                                <a href="index-saas-v5.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">SaaS v.5</a>
                            </li>
                            <li class="group">
                                <a href="index-finance-consulting.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">
                                    Finance-consulting
                                    <span class="bg-primary text-white rounded py-0.5 px-1.5 text-xs font-medium">New</span>
                                </a>
                            </li>
                            <li class="group">
                                <a href="index-shop.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Index Shop</a>
                            </li>
                        </ul>

                        <div class="md:col-span-2">
                            <hr class="mt-2 border-default-200" />
                            <div class="flex flex-wrap justify-between items-center px-2 mt-4">
                                <div class="mb-2">
                                    <h6 class="text-xl">Ready to get started?</h6>
                                    <small class="mb-0">Take your documents to the next level with Mizzle</small>
                                </div>
                                <a href="#" class="py-1.5 px-3 bg-primary text-white rounded text-xs">Get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hs-accordion" id="accordion-pages">
            <button type="button" class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold">
                Pages
                <i class="iconify tabler--chevron-down size-4"></i>
            </button>

            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] px-5 py-2">
                <div class="hs-accordion-group border border-default-200 origin-center bg-body-bg rounded-md p-3 w-full flex flex-col gap-1">
                    <div class="hs-accordion" id="accordion-about">
                        <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            About
                            <i class="iconify tabler--chevron-down size-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            <div class="flex flex-col gap-1">
                                <a href="about-v1.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">About v.1</a>

                                <a href="about-v2.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">About v.2</a>

                                <a href="about-v3.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">About v.3</a>

                                <a href="team.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Team</a>

                                <a href="services-v1.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Services v.1</a>

                                <a href="services-v2.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Services v.2</a>

                                <a href="service-single.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Service Single</a>

                                <a href="customer-stories.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Customer Stories</a>

                                <a href="customer-story-single.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Customer Story Single</a>

                                <a href="career.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">
                                    Career
                                    <span class="bg-primary text-white rounded py-0.5 px-1.5 text-xs font-medium">New</span>
                                </a>

                                <a href="career-single.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Career Single</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a href="contact-v1.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Contact v.1</a>
                    </div>

                    <div>
                        <a href="contact-v2.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Contact v.2</a>
                    </div>

                    <div class="hs-accordion" id="accordion-sass">
                        <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            SaaS Pages
                            <i class="iconify tabler--chevron-down size-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            <div class="flex flex-col gap-1">
                                <a href="features.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Features</a>

                                <a href="feature-single.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Feature Single</a>

                                <a href="integrations.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Integrations</a>

                                <a href="integration-single.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Integration Single</a>
                            </div>
                        </div>
                    </div>

                    <div class="hs-accordion" id="accordion-shop">
                        <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            Shop
                            <i class="iconify tabler--chevron-down size-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            <div class="flex flex-col gap-1">
                                <a href="shop-grid.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Shop Grid</a>

                                <a href="shop-single.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Shop Single</a>

                                <a href="shop-cart.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Shop Cart</a>

                                <a href="shop-empty-cart.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Shop Empty Cart</a>

                                <a href="shop-checkout.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Shop Checkout</a>
                            </div>
                        </div>
                    </div>

                    <div class="hs-accordion" id="accordion-blog">
                        <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            Blog
                            <i class="iconify tabler--chevron-down size-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            <div class="flex flex-col gap-1">
                                <a href="blog-grid.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Blog Grid</a>

                                <a href="blog-list-sidebar.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Blog List Sidebar</a>

                                <a href="blog-single-v1.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Blog Single v.1</a>

                                <a href="blog-single-v2.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Blog Single v.2</a>
                            </div>
                        </div>
                    </div>

                    <div class="hs-accordion" id="accordion-Specialty">
                        <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            Specialty Pages
                            <i class="iconify tabler--chevron-down size-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            <div class="flex flex-col gap-1">
                                <a href="help-center.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Help Center</a>

                                <a href="help-center-detail.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Help Center Detail</a>

                                <a href="pricing.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Pricing</a>

                                <a href="faq.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Faqs</a>

                                <a href="error-404.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Error 404</a>

                                <a href="coming-soon.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Coming Soon</a>

                                <a href="terms-and-condition.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Terms & Conditions</a>
                            </div>
                        </div>
                    </div>

                    <div class="hs-accordion" id="accordion-authentication">
                        <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            Authentication Pages
                            <i class="iconify tabler--chevron-down size-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            <div class="flex flex-col gap-1">
                                <a href="sign-up.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Sign Up</a>

                                <a href="sign-in.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Sign In</a>

                                <a href="forgot-password.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Forgot Password</a>
                            </div>
                        </div>
                    </div>

                    <div class="hs-accordion" id="accordion-Accounts">
                        <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            Accounts Pages
                            <i class="iconify tabler--chevron-down size-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            <div class="flex flex-col gap-1">
                                <a href="account-detail.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Details</a>

                                <a href="account-security.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Security</a>

                                <a href="account-notification.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Notifications</a>

                                <a href="account-projects.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">My Projects</a>

                                <a href="account-payment-details.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Payment Details</a>

                                <a href="account-order.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Order History</a>

                                <a href="account-wishlist.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Wishlist</a>

                                <a href="account-delete.html" class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">Delete Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hs-accordion">
            <button class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold">
                <span>Portfolio Pages</span>
                <i class="iconify tabler--chevron-down size-4"></i>
            </button>

            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] px-5 py-2">
                <div class="border border-default-200 origin-center bg-body-bg rounded-md p-3 w-full">
                    <ul class="space-y-1">
                        <li>
                            <a class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800" href="portfolio-masonry.html">Portfolio Masonry</a>
                        </li>
                        <li>
                            <a class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800" href="portfolio-showcase.html">Portfolio Showcase</a>
                        </li>
                        <li>
                            <a class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800" href="portfolio-list.html">Portfolio List</a>
                        </li>
                        <li>
                            <a class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800" href="portfolio-case-studies-v1.html">Portfolio Case Study v.1</a>
                        </li>
                        <li>
                            <a class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800" href="portfolio-case-studies-v2.html">Portfolio Case Study v.2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="hs-accordion">
            <button class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold">
                <span>Megamenu</span>
                <i class="iconify tabler--chevron-down size-4"></i>
            </button>

            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] px-5 py-2">
                <div class="border border-default-200 origin-center bg-body-bg rounded-md p-3 w-full">
                    <div class="grid md:grid-cols-2 grid-cols-1 items-start gap-6">
                        <div>
                            <ul>
                                <li class="p-2 text-default-800 font-bold text-sm block mb-2">Useful links</li>
                                <li>
                                    <a href="#" class="block text-sm font-medium rounded-sm hover:text-primary hover:bg-primary/6 px-2 py-2.5 text-default-500">Market research</a>
                                </li>
                                <li> <a class="block text-sm font-medium rounded-sm hover:text-primary hover:bg-primary/6 px-2.5 py-2.5 text-default-500" href="#">Advertising</a> </li>
                                <li> <a class="block text-sm font-medium rounded-sm hover:text-primary hover:bg-primary/6 px-2.5 py-2.5 text-default-500" href="#">Consumer behavior</a> </li>
                                <li> <a class="block text-sm font-medium rounded-sm hover:text-primary hover:bg-primary/6 px-2.5 py-2.5 text-default-500" href="#">Digital marketing</a> </li>
                                <li> <a class="block text-sm font-medium rounded-sm hover:text-primary hover:bg-primary/6 px-2.5 py-2.5 text-default-500" href="#">Marketing ethics</a> </li>
                                <li> <a class="block text-sm font-medium rounded-sm hover:text-primary hover:bg-primary/6 px-2.5 py-2.5 text-default-500" href="#">Social media marketing</a> </li>
                            </ul>
                        </div>

                        <div>
                            <span class="p-2 text-default-800 font-bold text-sm block md:ps-4 mb-2">Company</span>
                            <div class="flex items-start hover:bg-light relative rounded-md text-wrap p-4">
                                <div class="size-10.5 flex items-center justify-center border border-default-200 rounded-md shrink-0">
                                    <i class="iconify tabler--packages size-5 text-default-700"></i>
                                </div>
                                <div class="ms-3">
                                    <a class="text-sm font-bold text-default-800" href="#">About us</a>
                                    <p class="text-sm font-normal">Learn about our story, our<br> mission statement and roadmap.</p>
                                </div>
                            </div>

                            <div class="flex items-start hover:bg-light relative rounded-md text-wrap p-4">
                                <div class="size-10.5 flex items-center justify-center border border-default-200 rounded-md shrink-0">
                                    <i class="iconify tabler--rocket size-5 text-default-700"></i>
                                </div>
                                <div class="ms-3">
                                    <a class="text-sm font-bold text-default-800" href="#">Career</a>
                                    <span class="py-0.5 px-2 bg-primary text-white rounded text-xs ms-1">3 Jobs</span>
                                    <p class="text-sm font-normal">We're always looking for talented<br> people. Join our team!</p>
                                </div>
                            </div>

                            <div class="flex items-start hover:bg-light relative rounded-md text-wrap p-4">
                                <div class="size-10.5 flex items-center justify-center border border-default-200 rounded-md shrink-0">
                                    <i class="iconify tabler--mood-happy size-5 text-default-700"></i>
                                </div>
                                <div class="ms-3">
                                    <a class="text-sm font-bold text-default-800" href="#">Customer stories</a>
                                    <p class="text-sm font-normal">Learn how our customer are<br> making big changes to their tech stack</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <ul class="space-y-2">
                                <li class="p-2 text-default-800 font-bold text-sm block mb-2">Integration</li>
                                <li>
                                    <a href="#" class="flex items-center justify-between gap-2 py-2 px-4 rounded-lg transition-colors hover:bg-light w-full group">
                                        <div class="flex items-center gap-4">
                                            <img src="/images/elements/slack.svg" alt="Slack" class="h-7.5" />

                                            <span class="font-semibold text-default-800">
                                                Slack
                                            </span>
                                        </div>

                                        <i class="iconify tabler--arrow-right ms-auto text-default-500 group-hover:translate-x-0.5 transition-all group-hover:text-primary"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="flex items-center justify-between gap-2 py-2 px-4 rounded-lg transition-colors hover:bg-light w-full group">
                                        <div class="flex items-center gap-4">
                                            <img src="/images/elements/webflow.svg" class="h-7.5" />

                                            <span class="font-semibold text-default-800">
                                                Webflow
                                            </span>
                                        </div>

                                        <i class="iconify tabler--arrow-right ms-auto text-default-500 group-hover:translate-x-0.5 transition-all group-hover:text-primary"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="flex items-center justify-between gap-2 py-2 px-4 rounded-lg transition-colors hover:bg-light w-full group">
                                        <div class="flex items-center gap-4">
                                            <img src="/images/elements/mailchimp.svg" class="h-7.5" />

                                            <span class="font-semibold text-default-800">
                                                Mailchimp
                                            </span>
                                        </div>

                                        <i class="iconify tabler--arrow-right ms-auto text-default-500 group-hover:translate-x-0.5 transition-all group-hover:text-primary"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="flex items-center justify-between gap-2 py-2 px-4 rounded-lg transition-colors hover:bg-light w-full group">
                                        <div class="flex items-center gap-4">
                                            <img src="/images/elements/reddit.svg" class="h-7.5" />

                                            <span class="font-semibold text-default-800">
                                                Reddit
                                            </span>
                                        </div>

                                        <i class="iconify tabler--arrow-right ms-auto text-default-500 group-hover:translate-x-0.5 transition-all group-hover:text-primary"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="mt-2 py-2 px-4 bg-default-100 hover:bg-default-200 text-xs block rounded text-center text-default-800 transition-all">View all</a>
                                </li>
                            </ul>
                        </div>

                        <div class="space-y-4">
                            <span class="p-2 text-default-800 font-bold text-sm block md:ps-4 mb-2">Recent blogs</span>
                            <div class="flex items-center gap-2 hover:bg-light relative rounded-md text-wrap py-1.5 px-4 group">
                                <img src="/images/blog/4by4/02.jpg" class="rounded-md size-14" alt="blog-img">
                                <p class="text-wrap font-bold">
                                    <a href="blog-single-v1.html" class="text-default-800 font-semibold group-hover:text-primary transition-all">10 things you need to know about Mizzle</a>
                                </p>
                            </div>

                            <div class="flex items-center gap-2 hover:bg-light relative rounded-md text-wrap py-1.5 px-4 group">
                                <img src="/images/blog/4by4/01.jpg" class="rounded-md size-14" alt="blog-img">
                                <p class="text-wrap font-bold">
                                    <a href="blog-single-v2.html" class="text-default-800 font-semibold group-hover:text-primary transition-all">The Power of Gratitude: Cultivating Joy and Abundance</a>
                                </p>
                            </div>

                            <div class="flex items-center gap-2 hover:bg-light relative rounded-md text-wrap py-1.5 px-4 group">
                                <img src="/images/blog/4by4/03.jpg" class="rounded-md size-14" alt="blog-img">
                                <p class="text-wrap font-bold">
                                    <a href="blog-single-v1.html" class="text-default-800 font-semibold group-hover:text-primary transition-all">Effortless Web Development with Mizzle</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="contact-v1.html" class="flex items-center py-2.5 px-5 text-default-800 hover:text-primary font-medium">Contacts Us</a>
        </div>

        <div>
            <a href="#" class="flex items-center py-2.5 px-5 text-default-800 hover:text-primary font-medium">Docs</a>
        </div>
    </div>
</div>