<div class="flex flex-col gap-1 overflow-y-auto max-h-70">
    <div class="hs-accordion-group divide-y divide-default-200">

        @for (menu of menuItems; track $index) {

        <!-- ================= Demos (mega) ================= -->
        @if (menu.type === 'mega') {
        <div class="hs-accordion">
            <button
                class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold"  [class.text-primary]="isMenuActive(menu)">
                <span>{{ menu.label }}</span>
                <iconify-icon icon="tabler:chevron-down" class="size-4"></iconify-icon>
            </button>

            <div class="hs-accordion-content hidden w-full px-5 py-2">
                <div class="border border-default-200 bg-body-bg rounded-md p-3 w-full">
                    <div class="grid md:grid-cols-2 grid-cols-1">

                        @for (col of menu.columns; track $index) {
                        <ul class="flex flex-col gap-1">
                            @for (item of col.items; track $index) {
                            <li class="group">
                                <a [routerLink]="item.url" routerLinkActive="text-primary"
                                    class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">

                                    {{ item.label }}

                                    @if (item.badge) {
                                    <span class="bg-primary text-white rounded py-0.5 px-1.5 text-xs font-medium">
                                        {{ item.badge }}
                                    </span>
                                    }
                                </a>
                            </li>
                            }
                        </ul>
                        }

                        <!-- footer -->
                        @if (menu.footer) {
                        <div class="md:col-span-2">
                            <hr class="mt-2 border-default-200" />
                            <div class="flex flex-wrap justify-between items-center px-2 mt-4">
                                <div class="mb-2">
                                    <h6 class="text-xl">{{ menu.footer.title }}</h6>
                                    <small>{{ menu.footer.subtitle }}</small>
                                </div>
                                <a [routerLink]="menu.footer.button.url"
                                    class="py-1.5 px-3 bg-primary text-white rounded text-xs">
                                    {{ menu.footer.button.label }}
                                </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }

        <!-- ================= Pages (dropdown nested) ================= -->
        @if (menu.type === 'dropdown') {
        <div class="hs-accordion">
            <button
                class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold">
                {{ menu.label }}
                <iconify-icon icon="tabler:chevron-down" class="size-4"></iconify-icon>
            </button>

            <div class="hs-accordion-content hidden px-5 py-2">
                <div
                    class="hs-accordion-group border border-default-200 origin-center bg-body-bg rounded-md p-3 w-full flex flex-col gap-1">

                    @for (child of menu.children; track $index) {

                    <!-- Nested accordion -->
                    @if (child.children) {
                    <div class="hs-accordion">
                        <button
                            class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                            {{ child.label }}
                            <iconify-icon icon="tabler:chevron-down" class="size-4"></iconify-icon>
                        </button>

                        <div
                            class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200 origin-center bg-body-bg rounded-md p-3">
                            @for (sub of child.children; track $index) {
                            <a [routerLink]="sub.url"
                                class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">

                                {{ sub.label }}

                                @if (sub.badge) {
                                <span class="bg-primary text-white text-xs px-1.5 py-0.5 rounded">
                                    {{ sub.badge }}
                                </span>
                                }
                            </a>
                            }
                        </div>
                    </div>
                    }

                    <!-- Direct link -->
                    @if (!child.children) {
                    <a [routerLink]="child.url"
                        class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">
                        {{ child.label }}
                    </a>
                    }

                    }

                </div>
            </div>
        </div>
        }

        <!-- ================= Portfolio ================= -->
        @if (menu.type === 'mega-portfolio') {
        <div class="hs-accordion">
            <button
                class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold">
                {{ menu.label }}
                <iconify-icon icon="tabler:chevron-down"></iconify-icon>
            </button>

            <div class="hs-accordion-content hidden px-5 py-2">
                <div class="border border-default-200 origin-center bg-body-bg rounded-md p-3 w-full">

                    <ul class="space-y-1">
                        @for (item of menu.urls; track $index) {
                        @if (item.url) {
                        <li>
                            <a [routerLink]="item.url"
                                class="block text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800">
                                {{ item.label }}
                            </a>
                        </li>
                        }
                        }
                    </ul>

                </div>
            </div>
        </div>
        }

        <!-- ================= Mega Full ================= -->
        @if (menu.type === 'mega-full') {
        <div class="hs-accordion">
            <button
                class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-semibold">
                {{ menu.label }}
                <iconify-icon icon="tabler:chevron-down"></iconify-icon>
            </button>

            <div class="hs-accordion-content hidden px-5 py-2">
                <div class="border border-default-200 origin-center bg-body-bg rounded-md p-3 w-full">

                    @for (section of menu.sections; track $index) {

                    <!-- URLs -->
                    @if (section.urls) {
                    <div>
                        <ul>
                            <li class="p-2 text-default-800 font-bold text-sm block mb-2">{{ section.title }}</li>
                            @for (u of section.urls; track $index) {
                            <li>
                                <a [routerLink]="[]"
                                    class="block text-sm font-medium rounded-sm hover:text-primary hover:bg-primary/6 px-2 py-2.5 text-default-500">
                                    {{ u.label }}
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                    }

                    <!-- Cards -->
                    @if (section.cards) {
                    <div>
                        <span class="p-2 text-default-800 font-bold text-sm block md:ps-4 mb-2">{{ section.title
                            }}</span>

                        @for (card of section.cards; track $index) {
                        <div class="flex items-start hover:bg-light relative rounded-md text-wrap p-4">
                            <div
                                class="size-10.5 flex items-center justify-center border border-default-200 rounded-md shrink-0">
                                <iconify-icon [icon]="card.icon" width="20" height="20"
                                    class=" text-default-700"></iconify-icon>
                            </div>
                            <div class="ms-3">
                                <a class="text-sm font-bold text-default-800">{{ card.title }}</a>
                                @if (card.badge) {
                                <span class="py-0.5 px-2 bg-primary text-white rounded text-xs ms-1">
                                    {{ card.badge }}
                                </span>
                                }
                                <p class="text-sm font-normal">{{ card.description }}</p>
                            </div>
                        </div>
                        }
                    </div>
                    }

                    <!-- Integrations -->
                    @if (section.integrations) {
                    <div>
                        <ul class="space-y-2">
                            <li class="p-2 text-default-800 font-bold text-sm block mb-2">{{ section.title }}</li>
                            @for (i of section.integrations; track $index) {
                            <li>
                                <a [routerLink]="[]"
                                    class="flex items-center justify-between gap-2 py-2 px-4 rounded-lg transition-colors hover:bg-light w-full group">
                                    <div class="flex items-center gap-4">
                                        <img [src]="i.image" class="h-7.5" />
                                        <span class="font-semibold text-default-800">{{ i.name }}</span>
                                    </div>
                                    <iconify-icon icon="tabler:arrow-right"
                                        class="ms-auto text-default-500 group-hover:translate-x-0.5 transition-all group-hover:text-primary"></iconify-icon>
                                </a>
                            </li>
                            }
                            <li>
                                <a [routerLink]="[]"
                                    class="mt-2 py-2 px-4 bg-default-100 hover:bg-default-200 text-xs block rounded text-center text-default-800 transition-all">View
                                    all</a>
                            </li>
                        </ul>
                    </div>
                    }

                    <!-- Blogs -->
                    @if (section.blogs) {
                    <div class="space-y-4">
                        <span class="p-2 text-default-800 font-bold text-sm block ps-4 mb-2">{{ section.title
                            }}</span>
                        @for (b of section.blogs; track $index) {
                        <div
                            class="flex items-center gap-2 hover:bg-light relative rounded-md text-wrap py-1.5 px-4 group">
                            <img [src]="b.image" class="size-14 rounded-md" />
                            <p class="text-wrap font-bold">
                                <a [routerLink]="b.url"
                                    class="text-default-800 font-semibold group-hover:text-primary transition-all">
                                    {{ b.title }}
                                </a>
                            </p>
                        </div>
                        }
                    </div>
                    }

                    }

                </div>
            </div>
        </div>
        }

        <!-- ================= Simple Link ================= -->
        @if (!menu.type) {
        <div>
            <a [routerLink]="menu.url"
                class="flex items-center py-2.5 px-5 text-default-800 hover:text-primary font-medium">
                {{ menu.label }}
            </a>
        </div>
        }

        }

    </div>
</div>