 <section class="lg:pt-44 md:pt-30 pt-24">
        <div class="container relative z-20">
            <nav aria-label="breadcrumb" class="mb-2">
                <ol class="flex flex-wrap justify-start space-x-4 text-sm mb-2">
                    <li>
                        <a [routerLink]="[]" class="text-default-600 hover:text-primary">Home</a>
                    </li>
                    <li class="text-default-600 list-disc list-inside">Portfolio</li>
                    <li class="text-primary list-disc list-inside">Portfolio case studies v2</li>
                </ol>
            </nav>
            <h1 class="lg:text-[45px] md:text-4xl text-3xl md:mb-14 mb-6">Website Optimization for TechWave</h1>
            <div class="grid lg:grid-cols-12 grid-cols-1 gap-7.5 relative overflow-visible">
                <div class="lg:col-span-7">
                    <div class="w-full lg:absolute lg:-start-140">
                        <img src="assets/images/portfolio/case-study-02.jpg" class="rounded w-full h-auto" alt="portfolio-img" />
                    </div>
                </div>

                <div class="lg:col-span-5 lg:ps-8">
                    <!-- Project title -->
                    <h4 class="mb-6 md:text-3xl text-2xl">Overview</h4>
                    <p class="mb-4 text-default-700">In affronting unreserved delightful simplicity ye. Law own advantage furniture continual sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had lively living.</p>

                    <!-- Project table -->
                    <div class="mb-4">
                        <div class="flex py-2">
                            <div class="w-32 font-semibold text-default-900">Client:</div>
                            <div class="text-default-800 font-medium">Allen Smith</div>
                        </div>

                        <div class="flex py-2">
                            <div class="w-32 font-semibold text-default-900">Manager:</div>
                            <div class="text-default-800 font-medium">Emma Watson, Maria Smith</div>
                        </div>

                        <div class="flex py-2">
                            <div class="w-32 font-semibold text-default-900">Category:</div>
                            <div class="text-default-800 font-medium">Interior design</div>
                        </div>

                        <div class="flex py-2">
                            <div class="w-32 font-semibold text-default-900">Awards:</div>
                            <div class="text-default-800 font-medium">
                                <div>Pineapple Award Design</div>
                                <div class="mt-2">Project of the Year</div>
                                <div class="mt-2">Designer of the Year</div>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <a [routerLink]="[]" class="inline-flex items-center gap-1.5 bg-dark hover:bg-dark-hover transition-all text-white px-4 py-2 font-medium rounded-md">
                        View project website
                        <lucide-icon name="square-arrow-out-up-right" class="size-4"></lucide-icon>
                    </a>
                </div>
            </div>

            <div class="grid md:grid-cols-12 lg:gap-0 md:gap-14 lg:mt-85 mt-14">
                <div class="lg:col-span-5 md:col-span-4">
                    <h4 class="md:text-3xl text-2xl mb-2 font-bold">01. The Challenge</h4>
                </div>

                <div class="lg:col-span-7 md:col-span-8">
                    <p class="text-default-600 leading-relaxed mb-4">
                        <span class="float-left me-3 text-6xl font-semibold bg-default-100 text-default-800 rounded px-2">T</span>
                        he simple act of cultivating gratitude has the remarkable ability to bring joy and abundance into our lives, shifting our perspective from lack to abundance. In this article, we will explore the power of gratitude and how it can enhance our overall
                        well-being and create a positive ripple effect in our lives and the lives of those around us.
                        <strong class="font-semibold text-default-900">In a world filled with chaos</strong>
                        and uncertainty, it's easy to lose sight of the things that truly matter.
                    </p>

                    <p class="mb-0">
                        Once an idea takes root, it requires nurturing and refinement. This stage involves research, brainstorming, and gathering feedback. Conducting market analysis,
                        <a [routerLink]="[]" class="text-primary">exploring existing solutions</a>
                        , and collaborating with others can help refine the idea further. The goal is to gain a deeper understanding of the idea's feasibility, potential impact, and market viability.
                    </p>
                </div>
            </div>

            <div class="grid md:grid-cols-2 grid-cols-1 lg:gap-14 gap-6 mt-14">
                <a href="assets/images/portfolio/showcase/04.jpg" appGlightbox data-gallery="image-popup">
                    <img src="assets/images/portfolio/showcase/04.jpg" class="rounded" alt="portfolio-img" />
                </a>

                <a href="assets/images/portfolio/showcase/05.jpg" appGlightbox data-gallery="image-popup">
                    <img src="assets/images/portfolio/showcase/05.jpg" class="rounded" alt="portfolio-img" />
                </a>
            </div>

            <div class="grid md:grid-cols-12 lg:gap-0 md:gap-14 mt-14">
                <div class="lg:col-span-5 md:col-span-4">
                    <h4 class="md:text-3xl text-2xl mb-2 font-bold">02. The Solution</h4>
                </div>

                <div class="lg:col-span-7 md:col-span-8">
                    <p>
                        Once an idea takes root, it requires nurturing and refinement. This stage involves research, brainstorming, and gathering feedback. Conducting market analysis, exploring existing solutions, and collaborating with others can help refine the idea
                        further. The goal is to gain a deeper understanding of the idea's feasibility, potential impact, and market viability. It begins with recognizing the power and potential of an idea. Through cultivation, planning, and strategizing, ideas are refined and
                        shaped into actionable plans. Challenges are embraced as opportunities for growth, and perseverance becomes key in overcoming obstacles.
                    </p>
                </div>
            </div>

            <div class="grid md:grid-cols-12 lg:gap-0 md:gap-14 mt-14">
                <div class="lg:col-span-5 md:col-span-4">
                    <h4 class="md:text-3xl text-2xl mb-2 font-bold">03. The Result</h4>
                </div>

                <div class="lg:col-span-7 md:col-span-8">
                    <p class="text-xl mb-4">Two assure Edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished.</p>
                    <p class="mb-4">Transforming ideas into reality often requires collaboration with a diverse range of individuals. Partnering with experts, seeking mentorship, and building a network of like-minded individuals can provide valuable insights and support.</p>

                    <div class="mt-6">
                        <div class="flex items-start gap-4">
                            <h5>
                                <lucide-icon name="quote" class="size-15 fill-primary text-primary"></lucide-icon>
                            </h5>
                            <q class="text-xl text-default-800">Too months nay end change relied who beauty wishes matter. Shew of john real park so rest we on. Ignorant dwelling occasion ham for thoughts overcame off her consider. Polite it elinor is depend.</q>
                        </div>

                        <div class="flex items-center gap-4 mt-6 ms-18">
                            <img class="rounded-full size-12" src="assets/images/avatar/02.jpg" alt="avatar" />
                            <div>
                                <h6 class="text-xl">Emma Watson</h6>
                                <small class="text-sm">CEO, Co-founder</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:mt-34 mt-28">
                <div class="flex flex-wrap gap-3 justify-between items-center">
                    <ul class="flex flex-wrap gap-2">
                        <li>
                            <a [routerLink]="[]" class="inline-flex px-3 py-2 text-sm rounded border border-default-300 text-default-700 hover:bg-default-300 hover:text-black transition">Branding</a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="inline-flex px-3 py-2 text-sm rounded border border-default-300 text-default-700 hover:bg-default-300 hover:text-black transition">Packaging</a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="inline-flex px-3 py-2 text-sm rounded border border-default-300 text-default-700 hover:bg-default-300 hover:text-black transition">UI/UX design</a>
                        </li>
                    </ul>

                    <ul class="flex flex-wrap gap-3">
                        <li>
                            <a [routerLink]="[]" class="size-8 rounded bg-indigo-500 hover:bg-indigo-600 flex justify-center items-center transition-all">
                                <lucide-icon name="facebook" class="fill-white text-white size-4"></lucide-icon>
                            </a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="size-8 rounded flex justify-center items-center transition-all bg-[radial-gradient(circle_at_20%_130%,rgba(253,244,151,0.6)_0%,rgba(253,89,73,0.6)_45%,rgba(214,36,159,0.6)_60%,rgba(40,90,235,0.6)_90%)]">
                                <lucide-icon name="instagram" class="text-white size-4"></lucide-icon>
                            </a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="size-8 rounded bg-sky-500 hover:bg-sky-600 flex justify-center items-center transition-all">
                                <lucide-icon name="twitter" class="fill-white text-white size-4"></lucide-icon>
                            </a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="size-8 rounded bg-sky-600 hover:bg-sky-700 flex justify-center items-center transition-all">
                                <lucide-icon name="linkedin" class="fill-white text-white size-4"></lucide-icon>
                            </a>
                        </li>
                    </ul>
                </div>

                <hr class="my-6 border-default-200" />

                <div class="flex justify-between items-center md:gap-0 gap-5">
                    <div>
                        <div class="flex items-center gap-1">
                            <lucide-icon name="arrow-left" class="size-4"></lucide-icon>
                            Previous
                        </div>

                        <h6 class="text-xl mt-2">
                            <a [routerLink]="[]" class="hover:text-primary transition-all">The Art of Storytelling</a>
                        </h6>
                    </div>

                    <div class="text-center">
                        <a [routerLink]="[]">
                            <lucide-icon name="grid-3x3" class="size-4 text-default-800 hover:text-primary transition-all"></lucide-icon>
                        </a>
                    </div>

                    <div>
                        <div class="flex items-center justify-end gap-1">
                            Next
                            <lucide-icon name="arrow-right" class="size-4"></lucide-icon>
                        </div>

                        <h6 class="text-xl mt-2">
                            <a [routerLink]="[]" class="hover:text-primary transition-all">Transforming Ideas into Reality</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <section class="lg:py-28 md:py-20 py-18">
        <div class="container">
            <div class="text-start lg:mb-14 md:mb-10 mb-6">
                <h3 class="md:text-4xl text-3xl">Related works</h3>
            </div>

            <case-study-works />
        </div>
    </section>