<section class="relative lg:py-28 md:py-20 py-16">
    <div class="container mx-auto relative py-10">
        <div class="max-w-4xl mx-auto text-center">
            <h1 class="mb-6 lg:text-[58px] md:text-[45px] text-4xl font-bold">
                Dominate Search
                <span class="inline-block align-middle">
                    <svg width="76" height="51" viewBox="0 0 76 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-inside-1_3060_294" fill="white">
                            <path d="M25.5 51C18.737 51 12.251 48.3134 7.46878 43.5312C2.6866 38.749 -1.88135e-07 32.263 0 25.5C1.88135e-07 18.737 2.6866 12.251 7.46878 7.46878C12.251 2.6866 18.737 -8.06482e-08 25.5 0L25.5 25.5L25.5 51Z"></path>
                        </mask>
                        <path d="M25.5 51C18.737 51 12.251 48.3134 7.46878 43.5312C2.6866 38.749 -1.88135e-07 32.263 0 25.5C1.88135e-07 18.737 2.6866 12.251 7.46878 7.46878C12.251 2.6866 18.737 -8.06482e-08 25.5 0L25.5 25.5L25.5 51Z" fill="white" stroke="#202124" stroke-width="4" mask="url(#path-1-inside-1_3060_294)"></path>
                        <path d="M50.5 51C43.737 51 37.251 48.3134 32.4688 43.5312C27.6866 38.749 25 32.263 25 25.5C25 18.737 27.6866 12.251 32.4688 7.46878C37.251 2.6866 43.737 -8.06482e-08 50.5 0L50.5 25.5L50.5 51Z" fill="#202124"></path>
                        <path d="M75.5 51C68.737 51 62.251 48.3134 57.4688 43.5312C52.6866 38.749 50 32.263 50 25.5C50 18.737 52.6866 12.251 57.4688 7.46878C62.251 2.6866 68.737 -8.06482e-08 75.5 0V25.5L75.5 51Z" fill="#09B850"></path>
                    </svg>
                </span>
                Engines With Proven SEO Strategies
            </h1>

            <p class="mb-10 max-w-4xl mx-auto">Our comprehensive SEO solutions are designed to put your website in front of the right audience at the right time. Let us take your online presence to the next level.</p>

            <div class="flex flex-wrap justify-center gap-3 mb-14">
                <a [routerLink]="[]" class="inline-block bg-dark text-white font-medium px-7 py-3 rounded-md shadow hover:bg-dark/85 transition-all duration-300">Request a free consultation</a>
                <a [routerLink]="[]" class="inline-block border border-default-200 text-black font-medium px-7 py-3 rounded-md shadow hover:bg-default-200 transition-all duration-300">Learn more</a>
            </div>

            <div class="md:max-w-2xl mx-auto md:flex items-center justify-center text-center gap-12">
                <div class="text-center md:mb-0 mb-8">
                    <img src="assets/images/elements/trustpilot.svg" class="h-10 mb-4 block dark:hidden mx-auto" alt="Trustpilot" />
                    <img src="assets/images/elements/trustpilot-light.svg" class="h-10 mb-3 hidden dark:block" alt="Trustpilot Dark" />
                    <div class="flex items-center justify-center">
                        <ul class="flex justify-center gap-1">
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star-half" class="fill-warning text-warning size-5"></lucide-icon></li>
                        </ul>
                        <a [routerLink]="[]" class="font-semibold hover:text-primary transition-all">114 Reviews</a>
                    </div>
                </div>

                <div class="hidden md:block h-20 w-px bg-primary/60"></div>

                <div class="text-center">
                    <img src="assets/images/elements/google.svg" class="h-10 mb-3 mx-auto" alt="Google" />
                    <div class="flex items-center justify-center">
                        <ul class="flex justify-center gap-1">
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star" class="fill-warning text-warning size-5"></lucide-icon></li>
                            <li><lucide-icon name="star-half" class="fill-warning text-warning size-5"></lucide-icon></li>
                        </ul>
                        <a [routerLink]="[]" class="font-semibold hover:text-primary transition-all">215 Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-16 lg:max-w-5xl max-w-xl mx-auto">
            <img src="assets/images/elements/hero-seo.svg" alt="SEO Hero" class="w-full" />
        </div>
    </div>
</section>