<div class="inline-block bg-default-100 border border-default-300 rounded-md p-6">
    <!-- Avatar + Info -->
    <div class="flex items-center gap-4 mb-4">
        <div class="size-16">
            <img src="assets/images/avatar/09.jpg" alt="avatar" class="size-full object-cover rounded-full" />
        </div>

        <div>
            <h6 class="mb-0 text-default-800 hover:text-primary transition-all text-xl font-bold">
                <a [routerLink]="[]">Louis Crawford</a>
            </h6>
            <small class="text-default-600 text-sm">Content creator</small>
        </div>
    </div>

    <p class="text-default-600 mb-4">Incorporating gratitude into our daily where we write down three things we are grateful for each day.</p>

    <!-- Button -->
    <a [routerLink]="[]" class="inline-block text-sm border border-primary text-primary px-3 py-1.5 rounded hover:bg-primary hover:text-white transition mt-2">Follow author</a>
</div>

<!-- Related post -->
<div class="mt-10">
    <h6 class="mb-4 inline-block font-bold text-default-800 text-xl">Related post:</h6>

    <ul class="divide-y divide-default-200">
        @for(item of recentPostData;track $index){
        <li class="py-2">
            <a [routerLink]="[]" class="font-semibold text-default-800 hover:text-primary transition-all">{{item}}</a>
        </li>
        }
    </ul>
</div>

<!-- Popular tags -->
<div class="mt-10">
    <h6 class="mb-4 inline-block font-bold text-default-800 text-xl">Popular Tags:</h6>

    <ul class="flex flex-wrap items-center gap-x-2 gap-y-4">
        @for(item of tagData;track $index){
        <li>
            <a [routerLink]="[]" class="px-3 py-2 rounded bg-default-100 hover:bg-default-200 text-xs transition-all text-default-800 font-medium">{{item}}</a>
        </li>
        }
    </ul>
</div>