<div class="mb-14">
    <div class="flex justify-between items-center py-5 border-b border-default-200">
        <h5 class="md:text-2xl text-xl font-bold">Personal info</h5>
        <a [routerLink]="[]" class="px-3 py-2 bg-default-100 hover:bg-default-200 transition-all text-[13px] text-default-800 rounded border border-default-200 flex items-center gap-1 font-medium">
            <lucide-icon name="plus" class="size-4"></lucide-icon>
            Add new
        </a>
    </div>

    <div class="pt-5">
        <form class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- First name -->
            <div>
                <label class="block text-default-500 mb-2">First name</label>
                <input type="text" value="Jacqueline" class="w-full border border-default-300 rounded-md text-default-800 px-3 py-2 focus:outline-none" />
            </div>

            <!-- Last name -->
            <div>
                <label class="block text-default-500 mb-2">Last name</label>
                <input type="text" value="Miller" class="w-full border border-default-300 rounded-md text-default-800 px-3 py-2 focus:outline-none" />
            </div>

            <!-- Email -->
            <div>
                <label class="block text-default-500 mb-2">Email</label>
                <input type="email" value="example@gmail.com" class="w-full border border-default-300 rounded-md text-default-800 px-3 py-2 focus:outline-none" />
            </div>

            <!-- Mobile number -->
            <div>
                <label class="block text-default-500 mb-2">Mobile number</label>
                <input type="text" value="9154857896" class="w-full border border-default-300 rounded-md text-default-800 px-3 py-2 focus:outline-none" />
            </div>

            <!-- Address -->
            <div class="md:col-span-2">
                <label class="block text-default-500 mb-2">Address</label>
                <input type="text" value="1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548." class="w-full border border-default-300 rounded-md text-default-800 px-3 py-2 focus:outline-none" />
            </div>

            <!-- Address 2 -->
            <div class="md:col-span-2">
                <label class="block text-default-500 mb-2">Address 2 (Optional)</label>
                <input type="text" class="w-full border border-default-300 rounded-md text-default-800 px-3 py-2 focus:outline-none" />
            </div>

            <div class="md:col-span-2">
                <div class="flex md:flex-nowrap flex-wrap gap-4">
                    <!-- Country -->
                    <div class="md:w-1/3 w-full">
                        <label class="block text-default-500 mb-2">Country</label>
                        <select class="w-full border border-default-300 rounded-md px-3 py-2 bg-body-bg focus:outline-none">
                            <option value="1">UK</option>
                            <option value="2">USA</option>
                            <option value="3">India</option>
                        </select>
                    </div>

                    <!-- State -->
                    <div class="md:w-1/3 w-full">
                        <label class="block text-default-500 mb-2">State</label>
                        <select class="w-full border border-default-300 rounded-md px-3 py-2 bg-body-bg focus:outline-none">
                            <option value="1">New York</option>
                            <option value="2">California</option>
                            <option value="3">Mumbai</option>
                            <option value="4">Peru</option>
                        </select>
                    </div>

                    <!-- Zip -->
                    <div class="md:w-1/3 w-full">
                        <label class="block text-default-500 mb-2">Zip</label>
                        <input type="text" value="444555" class="w-full border border-default-300 rounded-md text-default-800 px-3 py-2 focus:outline-none" />
                    </div>
                </div>
            </div>

            <!-- custom checkbox -->
            <div class="md:col-span-2">
                <div class="flex md:items-center items-start gap-2 mb-1">
                    <input id="chk1" type="checkbox" class="size-4 checked:bg-primary! border-0 bg-default-200! rounded md:mt-0 mt-1.5" />
                    <label for="chk1">The shipping address is the same as my billing address</label>
                </div>

                <div class="flex items-center gap-2">
                    <input id="chk2" type="checkbox" class="size-4 checked:bg-primary! border-0 bg-default-200! rounded" />
                    <label for="chk2">Save this information for next time</label>
                </div>
            </div>

            <!-- Saved cards -->
            <div class="md:col-span-2">
                <div class="flex items-center gap-3">
                    <label class="block font-normal mb-2">Your saved cards</label>
                    <div class="flex items-center gap-2">
                        <a [routerLink]="[]"><img src="assets/images/elements/visa.svg" class="w-10" /></a>
                        <a [routerLink]="[]"><img src="assets/images/elements/mastercard.svg" class="w-10" /></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
