<section class="lg:py-28 md:py-20 py-16">
  <div class="container">
    <div class="text-center md:mb-14 mb-6">
      <h2 class="lg:text-[45px] md:text-4xl text-3xl font-bold">Our news & articles</h2>
    </div>

    <div class="relative">
      <button
        type="button"
        class="absolute top-1/2 size-12 start-0 z-10 flex items-center justify-center rounded-full bg-dark"
        aria-label="Previous slide"
        tabindex="0"
        aria-controls="swiper-wrapper-7ecd69e85266d388"
        id="swiper-button-prev"
      >
        <lucide-icon name="move-left" class="text-lg text-white"></lucide-icon>
      </button>

      <button
        type="button"
        class="absolute top-1/2 size-12 end-0 z-10 flex items-center justify-center rounded-full bg-dark"
        aria-label="Next slide"
        tabindex="0"
        aria-controls="swiper-wrapper-7ecd69e85266d388"
        id="swiper-button-next"
      >
        <lucide-icon name="move-right" class="text-lg text-white"></lucide-icon>
      </button>

      <swiper-container
        class="swiper"
        space-between="30"
        loop="false"
        navigation="true"
        autoplay="true"
        breakpoints='{
                "576": { "slidesPerView": 1 },
                "768": { "slidesPerView": 2 },
                "992": { "slidesPerView": 3 }
            }'
        navigation-next-el="#swiper-button-next"
        navigation-prev-el="#swiper-button-prev"
      >
        @for (item of blogsData; track $index) {
          <swiper-slide>
            <article class="group">
              <img [src]="item.image" class="rounded" />
              <div class="mt-6">
                <h6 class="text-xl mb-2">{{ item.title }}</h6>
                <div class="flex justify-between items-center">
                  <p>
                    By {{ item.publishedBy.firstName }}
                    {{ item.publishedBy.lastName }}
                  </p>
                  <a
                    [routerLink]="item.url"
                    class="flex items-center gap-1 text-primary group-hover:text-primary-hover transition-all"
                  >
                    <span>Read more</span>
                    <lucide-icon
                      name="arrow-right"
                      class="size-4 group-hover:ms-1 group-hover:text-primary-hover transition-all"
                    ></lucide-icon>
                  </a>
                </div>
              </div>
            </article>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</section>
