<section>
    <div class="container">
        <div class="grid md:grid-cols-2 grid-cols-1">
            <div>
                <img src="/images/about/09.jpg" class="md:rounded-s-md rounded-t-md h-full object-cover" />
            </div>

            <div class="rounded-e-md bg-default-100 lg:p-16 md:p-10 p-6 flex justify-center items-center">
                <div>
                    <h2 class="lg:text-[45px] md:text-4xl text-3xl mb-6">A magical connection to your devices.</h2>
                    <p class="mb-6">Why end might ask civil again spoil. Dinner she our horses depend remember at children by reserved to vicinity.</p>
                    <div class="grid lg:grid-cols-3 grid-cols-2 gap-4 mb-6">
                        <div>
                            <span class="text-default-800">More than</span>
                            <h4 class="text-3xl font-bold my-2">24</h4>
                            <p>Of battery life with charging case</p>
                        </div>

                        <div>
                            <span class="text-default-800">Up to</span>
                            <h4 class="text-3xl font-bold my-2">5 hr</h4>
                            <p>Of listing time on one charge</p>
                        </div>

                        <div>
                            <span class="text-default-800">Connectivity</span>
                            <lucide-icon name="bluetooth" class="size-7.5 my-3 text-default-900"></lucide-icon>
                            <p>Bluetooth 5.3 wireless technology</p>
                        </div>
                    </div>
                    <a [routerLink]="[]" class="inline-block bg-dark text-white font-medium px-4 py-2 rounded-md shadow hover:bg-dark/85 transition-all duration-300">View full specifications</a>
                </div>
            </div>
        </div>
    </div>
</section>